<div class="column column-block media-download-container">
  <%= link_to attachment_url(media_download, :file), alt: media_download.description, download: attachment_url(media_download, :file), target: '_blank' do %>
    <%= attachment_image_tag media_download, :file, :fit, 370, 370, fallback: 'http://placehold.it/370x208' %>
  <% end %>

  <div class="row column">
    <%= media_download.description %>
  </div>

  <div class="row">
    <div class="small-6 columns">
      <p><%= number_to_human_size media_download.file_size %></p>
    </div>

    <div class="small-6 columns text-right">
      <%= link_to attachment_url(media_download, :file), alt: media_download.description, download: attachment_url(media_download, :file), target: '_blank' do %>
        <%= image_tag('icons/download-icon.svg') %>
      <% end %>
    </div>
  </div>
</div>
