<% cache download do %>
  <%= content_tag_for :tr, download do %>
    <td class="admin-left-edit">
      <%= render partial: 'options_edit', locals: {object: download, instance_name: download.title} %>
    </td>
    <td>
      <%= download.download_type.name %>
    </td>
    <td>
      <%= humanize_locale download.locale %>
    </td>
    <td>
      <%= download.title %>
    </td>
    <td>
      <%= download.part_number %>
    </td>
    <td class="admin-right-delete">
      <%= render partial: 'options_delete', locals: {object: download, instance_name: download.title} %>
    </td>
  <% end %>
<% end %>
