<% cache download do %>
  <%= content_tag_for :tr, download do %>
    <td>
      <%= download.download_type.name %>
    </td>
    <td>
      <%= humanize_locale download.locale %>
    </td>
    <td>
      <%= download.title %>
    </td>
    <td>
      <%= download.part_number %>
    </td>
    <td>
      <%= render partial: 'options_menu', locals: {object: download, instance_name: download.title} if current_user %>
    </td>
  <% end %>
<% end %>
