<%= form_for @download, validates: true do |f| %>
  <%= f.label :download_type_id %>
  <%= f.select :download_type_id, DownloadType.all.collect { |dt| [dt.name, dt.id] } %>
  <%= f.label :locale %>
  <%= f.select :locale, I18n.available_locales.collect { |l| [ humanize_locale(l), l ] }.sort %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%# f.label :part_number %>
  <%# f.text_field :part_number %>

  <div class="row">
    <div class="medium-6 columns">
      <%= f.label :attachment %>
      <%= f.attachment_field :file, direct: true, presigned: true %>
    </div>
    <div class="medium-6 columns">
      <%= f.label :current_file %>
      <% if @download.file && @download.file.exists? %>
        <%= link_to attachment_url(@download, :file, filename: @download.title.parameterize), target: '_blank' %>
      <% else %>
        N/A
      <% end %>
    </div>
  </div>

  <h3>Associated Products</h3>
  <div class="row">
    <% @product_types.each do |product_type| %>
      <div class="medium-<%= 12 / @product_types.count %> columns">
        <h4><%= product_type.name %></h4>
        <ul class="no-bullet">
          <%= f.collection_check_boxes :product_ids, product_type.products, :id, :name do |b| %>
            <li>
              <%= b.check_box %>
              <%= b.label %>
            </li>
          <% end if product_type.products %>
        </ul>
      </div>
    <% end if @product_types %>
  </div>

  <%= f.submit class: 'button radius' %>
<% end %>
