<%= form_for @product_type do |f| %>
  <%= content_tag :div, class: 'alert-box radius alert' do %>
    <strong><%= pluralize @product_type.errors.count, 'error' %> kept this form from submitting:</strong>
    <ul>
      <% @product_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end if @product_type.errors.any? %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.hidden_field :icon, value: @product_type.cached_icon_data %>
  <div class="row">
    <div class="medium-6 columns">
      <%= f.label :icon %>
      <%= f.file_field :icon %>
    </div>
    <div class="medium-6 columns">
      <p><%= link_to 'Preview', @product_type.icon_url(public: true), class: 'goto-new' if @product_type.icon %></p>
    </div>
  </div>

  <%= f.hidden_field :billboard, value: @product_type.cached_billboard_data %>
  <div class="row">
    <div class="medium-6 columns">
      <%= f.label :billboard %>
      <%= f.file_field :billboard, data: {'presigned-route': '/images/cache/presign'} %>
    </div>
    <div class="medium-6 columns">
      <p><%= link_to 'Preview', @product_type.billboard_url(public: true), class: 'goto-new' if @product_type.billboard %></p>
    </div>
  </div>

  <%= f.submit nil, class: 'button radius' %>
<% end %>
