<% cache product_type do %>
  <%= content_tag :section do %>
    <div class="product-alternate-text-container">
      <div class="product-alternate-header">
        <%= attachment_image_tag product_type, :icon_image, fallback: 'http://placehold.it/50/eaa800/ffffff', class: 'icon' %>
        <h1><%= product_type.name %></h1>
      </div>

      <%= render partial: 'product_category', collection: product_type.product_categories.available.active %>

    </div>
    <div class="product-alternate-image-container show-for-large" style="background-image: url('<%= attachment_url product_type, :hero_image, fallback: 'http://placehold.it/600x300' %>'); background-size: cover;"></div>
  <% end %>
<% end %>
