<% cache return_material_authorization_policy_document do %>
  <%= content_tag_for :tr, return_material_authorization_policy_document do %>
    <td>
      <%= link_to return_material_authorization_policy_document, class: 'delete', data: { confirm: %(Are you sure you want to delete "#{return_material_authorization_policy_document.title}"? This cannot be undone.) }, method: :delete, title: %(Delete "#{return_material_authorization_policy_document.title}") do %>
        <i class="fa fa-trash-o"></i>
      <% end %>
    </td>
    <td>
      <%= link_to return_material_authorization_policy_document.title, return_material_authorization_policy_document %>
    </td>
    <td>
      <%= l return_material_authorization_policy_document.effective_on.to_date, format: :long %>
    </td>
    <td>
      <%= l return_material_authorization_policy_document.updated_at.to_date, format: :long %>
    </td>
    <td>
      <%= link_to edit_return_material_authorization_policy_document_path(return_material_authorization_policy_document), title: %(Edit "#{return_material_authorization_policy_document.title}") do %>
        <i class="fa fa-edit"></i>
      <% end %>
    </td>
  <% end %>
<% end %>
