<div class="row columns">
  <h1>
    <%= @return_material_authorization_policy_document.title %>
    <%= render partial: 'options_menu', locals: {object: @return_material_authorization_policy_document, instance_name: @return_material_authorization_policy_document.title} if current_user %>
  </h1>
  <section>
    <p>(Effective <%= l @return_material_authorization_policy_document.effective_on, format: :long %>)</p>
    <%= raw markdown(@return_material_authorization_policy_document.body) %>
  </section>
  <section>
    <p>
      <%= link_to "Archive", return_material_authorization_policy_documents_path, class: "goto-new" %>
    </p>
  </section>
</div>
