<%= form_for [:admin, @training_course], html: { multipart: true }, validate: true do |f| %>
  <div class="row">
    <div class="medium-6 columns">
      <%= f.label :title %>
      <%= f.text_field :title %>
      <%= f.cktext_area :description %>
      
      <%= f.label :number %>
      <%= f.text_field :number %>
      <%= f.label :duration %>
      <%= f.text_field :duration %>
      <%= f.label :summary %>
      <%= f.text_field :summary %>
      
    </div>    
  </div>
  <h3>Prerequisite Courses</h3>
  <div class="row">
   
      <div class="medium-12 columns">
       
        
          <%= f.collection_check_boxes :prerequisite_ids, @training_courses, :id, :title do |b| %>
            
            <div>
              <%= b.check_box %>
              <%= b.label %>
            </div>
            
          <% end if @training_courses %>
          <%= f.submit  class: 'button radius' %>    
      </div>      
  </div>
<% end %>
