<%= content_tag_for :tr, training_course do %>
  <td class="admin-left-edit">
    <%= render partial: 'options_edit', locals: {object: training_course, instance_name: training_course.title} %>
  </td>
  <td>
    <%= link_to training_course.title, [:admin, training_course] %>
  </td>
  <td>
    <%= training_course.seats %>
  </td>
  <td>
    <%= training_course.duration %>
  </td>
  <td>
    <%= training_course.description %>
  </td>  
  <td class="admin-right-delete">
    <%= render partial: 'options_delete', locals: {object: training_course, instance_name: training_course.title} %>
  </td>
<% end %>