<div class="row enrollment-form">
	<div class="large-12 columns">    
		<div class="large-centered"> 
			<%= form_for @enrollment, :id=>"enrollment_form",  validate: true do |f| %>
			<h1>Enrollment</h1>
			<%= f.collection_check_boxes :training_event_course_id, @training_event.training_event_courses, :id, :title do |b| %>
			<div class="enrollment-course-card" id="<%= b.object.title %>">
				<div class="horizontal menu">         
					<h3><%= b.text %>
						<% if b.object.get_enrollments(b.object.seats, b.object.id) <= 0 %>
							<span class="wait-listed">(waitlist)</span>
						<% else %>							
							<span>(<%= b.object.get_enrollments(b.object.seats, b.object.id) %> seats)</span>
						<% end %>
					</h3>					
					<div class="enrollment-card-left training-hours">
						<%= b.object.training_course.duration %> hrs.
					</div>
					<% if b.object.training_course.prerequisites.count > 0 %>          
						<div class="prerequisites course-card-right">Prerequisites Required</div>          
					<% end %>
					<p><%= b.object.training_course.description  %></p>
					<div class="enrollment-card-bottom">
						<span class="enrollment-card-left">
							Learn More
						</span>
						<span class="enrollment-card-right">
							<%= b.check_box :class => 'class_checkbox', :id => b.object.id %><label class="course-check" for="<%= b.object.id %>"></label>            
						</span>
					</div>
				</div>
			</div>
			<%end%>
			
			<div class="row">		
				<div class="large-12 columns">    
					<div class="large-centered"> 				
						<div class="enrollment-course-form registration">
							<div class="horizontal menu">							
								<%= f.hidden_field :training_event_id, :value => params[:id] %>
								<div class="enrollment-card-left">
								<%= f.label :first_name %>
								<%= f.text_field :first_name %>
								</div>
								<div class="enrollment-card-right">
								<%= f.label :last_name %>
								<%= f.text_field :last_name %>
								</div>
								<%= f.label :email %>
								<%= f.text_field :email %>  
								<div class="row enrollment-list" placeholder="Click + on the course description to add it to your list">
									<label>My Courses<label>
								</div>															
								<input type="submit" id="submit-btn" class='button radius' value="Enroll"/><span class="enrollment_warning"></span>	
							</div>
						</div>
					</div>					
				</div>					
			</div>
		</div>
	</div>
</div>

<div class="row course_alerts" hidden>
	<div class="inner_course_alerts">
		<div class="show-courses"></div>
		<input id='cancel-btn' class='button radius' value='Cancel'/>
		<input type="submit" id='confirm-btn' class='button radius' value='Confirm'/>
	</div>
</div>
    	
<% end %>
