<div class="row enrollment-form">
	<div class="large-12 columns">    
		<div class="large-centered"> 
			<%= form_for @enrollment, :id=>"enrollment_form",  validate: true do |f| %>
			<h1 >Enrollment</h1>
			<%= f.collection_check_boxes :training_event_course_id, @training_event.training_event_courses, :id, :title do |b| %>
				<div class="enrollment-course-card" id="<%= b.object.title %>">
					<div class="horizontal menu">         
						<h3><%= b.text %>
							<% if b.object.get_enrollments(b.object.seats, b.object.id) <= 0 %>
								<small class="wait-listed">(waitlist)</small>
							<% else %>							
								<small>(<%= b.object.get_enrollments(b.object.seats, b.object.id) %> seats)</small>
							<% end %>
						</h3>					
						<div class="course-card-left training-hours">
							<%= b.object.started_at.strftime("%I:%M%P") %> to <%= b.object.ended_at.strftime("%I:%M%P") %>
						</div>
						<div class="course-card-right training-room">
							<%= b.object.room %>
						</div>				
						<p><%= b.object.training_course.summary %></p>
						<div class="learn-bottom">
							<a class="hide-me-on-dropdown expand-container course-learn-link" data-toggle="hdconfig-dropdown1<%=b.object.training_course.id%>"><%= t(".learn_more") %></a>
							<div class="dropdown-pane course-dropdown-container" id="hdconfig-dropdown1<%=b.object.training_course.id%>" data-dropdown data-auto-focus="true">
								<p><%= b.object.training_course.description.html_safe %></p>
								<ul class="prereq-list">
									<% if b.object.training_course.prerequisites && b.object.training_course.prerequisites.exists? %>
										<li>Prerequisites:</li>
									<% end %>
									<% b.object.training_course.prerequisites.each do |prereq| %>
										<li><%= prereq.title %></li>
									<% end %>
								</ul>
								<a data-toggle="hdconfig-dropdown1<%=b.object.training_course.id%>" class="close-container"><%= t(".hide") %></a>
							</div>

							<div class="course-prereq">
								<% if b.object.training_course.prerequisites.count > 0 %>          
									Prerequisites Required
								<% end %>
								<%= b.check_box :class => 'class_checkbox', :id => b.object.id %><label class="course-check" for="<%= b.object.id %>"></label>
							</div>
      
						</div>
					</div>
				</div>
			<%end%>
			
			<div class="row">		
				<div class="large-12 columns">    
					<div class="large-centered"> 				
						<div class="enrollment-course-form registration">
							<div class="horizontal menu">							
								<%= f.hidden_field :training_event_id, :value => params[:id] %>
								<div class="enrollment-card-left">
								<%= f.label :first_name %>
								<%= f.text_field :first_name %>
								</div>
								<div class="enrollment-card-right">
								<%= f.label :last_name %>
								<%= f.text_field :last_name %>
								</div>
								<%= f.label :email %>
								<%= f.text_field :email %>  
								<div class="row enrollment-list">
									<label>My Courses<label>
									<div style="color:#B4B4B4">Click + on the course description to add it to your list</div>
								</div>															
								<input type="submit" id="submit-btn" class='button long radius' value="Enroll"/><span class="enrollment_warning"></span>	
							</div>
						</div>
					</div>					
				</div>					
			</div>
		</div>
	</div>
</div>

<div class="row course_alerts" hidden>
	<div class="inner_course_alerts">
		<div class="show-courses"></div>
		<input id='cancel-btn' class='button cancel radius' value='Cancel'/>
		<input type="submit" id='confirm-btn' class='button medium radius' value='Confirm'/>
	</div>
</div>
    	
<% end %>
