<%= form_for @enrollment, validate: true do |f| %>
  <%= f.hidden_field :training_event_id, :value => params[:id] %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
  <%= f.label :email %>
  <%= f.text_field :email %>  
  <%= f.submit nil, class: 'button radius' %>

  <div class="row">
    <div class="large-12 columns">
        <h1>Course Descriptions</h1> 
        <%= f.collection_check_boxes :training_course_ids, @training_courses, :id, :title do |b| %>
            <div class="training-course-card">
                <div class="horizontal menu"> 
                    <h3 class="training-certified"><%= b.label %></h3>
                    <div class="course-card-left training-hours">
                        <%= b.object.duration %>
                    </div>                
                    <%= b.object.description %>
                    <%= b.check_box %>
                   
                  </div>
              </div>
          <%end%>
      </div>
  </div>

<% end %>