<div class="training-course-card" id="course-type-<%= training_course.training_course_type_id %>">
	<div class="horizontal menu">
		<h3 class="training-certified"><%= training_course.title %></h3>
		<div class="course-card-left training-hours"><%= training_course.duration %> hours</div>
		<div class="course-card-right">
			<% if training_course.prerequisite_ids != [] %>
				Prerequisites Required
			<% end %>
		</div>
		<p><%= training_course.summary %></p>
		<div class="learn-course">
			<a class="hide-me-on-dropdown expand-container" data-toggle="<%= training_course.title.parameterize %>-toggle"><%= t(".learn_more") %></a>
			<div class="dropdown-pane course-dropdown-container" id="<%= training_course.title.parameterize %>-toggle" data-dropdown data-auto-focus="true">
				<%= sanitize embed_youtube_videos_for(training_course.description) %>
				<% if training_course.prerequisite_ids != [] %>
					<p>To enroll in this course, you must first successfully complete:<br/>
					<% training_course.prerequisite_ids.each do |prereq| %>
						<p class="prereq"><%= TrainingCourse.find(prereq).title %></p>
					<% end %>
				<% end %>
				<a data-toggle="<%= training_course.title.parameterize %>-toggle" class="close-container"><%= t(".hide") %></a>
			</div>
		</div>
	</div>
</div>
