<div class="row">
    <div class="large-7 columns">
        <h1><%= @training_event.title %></h1>
        <p><%= @training_event.description%></p>
    </div>
    <div class="large-4 columns">
        <h6>Event hosted by: ...</h6>
        <img src="http://placehold.it/461x258" />
        <h6><%= @training_event.location %></h6>
        <h6><%= l @training_event.started_at.to_date, format: :long %></h6>
    </div>
</div>

<div class="large-12 columns">
    <%= render 'form' %>
</div>
