
<div class="row">
    <div class="large-6 columns">
        <h1><%= @training_event.title %></h1>
        <p><%= @training_event.description%></p>
    </div>
    <div class="large-6 columns event-location">
        <h6>Event hosted by: <%= @training_event.host %></h6>
        <iframe width="461" height="258" frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAGAqmFJ3MVdossndC6O6E_Rk5U5qkCh7Y
  &q=<%= @training_event.location %>" allowfullscreen>
        </iframe>
        <h6 class="event-city"><%= @training_event.location.titleize %></h6>        
        <h6 class="event-date"><%= l @training_event.started_at.to_date, format: :long %></h6>
        <% if !@training_event.start_time.nil? %>
            <h6 class="event-time"><%= @training_event.start_time %></h6>
        <% end %>
    </div>
</div>

<div class="large-12 columns">
    <%= render 'form' %>
</div>
