<% content_for :title, 'Sign in' %>
<div class="new-session">
	<div class="row">
		<div class="medium-8 large-5 columns small-centered">
			<div class="sign-on-panel">
				<h4 class="text-centered"><%= yield :title %></h4>

				<p>You can sign in using one of the following services:</p>

				<div class="social-sign-on-container">
					<%= link_to '/auth/azureactivedirectory', class: 'button radius wavetronix-sign-in' do %>
						<%= image_tag "icons/wavetronix-icon.svg" %>
						Sign in with Wavetronix
					<% end %>
					<br/>
					<%= link_to '/auth/linkedin', class: 'button radius linkedin-sign-in' do %>
						<%= image_tag "icons/LinkedIn.svg" %>
						Sign in with LinkedIn
					<% end %>
					<br/>
					<%= link_to '/auth/google', class: 'button radius google-sign-in' do %>
						<%= image_tag "icons/Google.svg" %>
						Sign in with Google
					<% end %>
				</div>

				<p>Or sign in with your local account credentials:</p>

				<%= form_tag '/auth/identity/callback' do %>
				  <%= email_field_tag :auth_key %>
				  <p><%= label_tag :auth_key, 'Email' %></p>
				  <%= password_field_tag :password %>
				  <p><%= label_tag :password %></p>
				  <%= submit_tag 'Sign in', class: 'button radius expanded' %>
				<% end %>

				<h6>Don't have an account? <%= link_to 'Create one here.', new_identity_path %></h6>
			</div>
		</div>
	</div>
</div>
