<%= form_for [:admin, @knowledge_base_article], validate: true do |f| %>
  <div class="row">
    <div class="large-8 columns">
      <div class="row">
        <div class="medium-9 columns">
          <%= f.label :title %>
          <%= f.text_field :title %>
        </div>
        <div class="medium-3 columns">
          <%= f.label :posted_on %>
          <%= f.date_field :posted_on, placeholder: 'yyyy-mm-dd' %>
        </div>
      </div>
      <%= f.label :body %>
      <%= f.cktext_area :body, rows: 30 %>
      <%= f.label :tag_list, 'Tags (separated by commas) (regions include: africa, asia, europe, north america, oceana, and south america)' %>
      <%= f.text_field :tag_list, value: f.object.tag_list.to_s %>
      <%= f.submit nil, class: 'button radius' %>
    </div>
    <div class="large-4 columns">
      <%= f.label :associated_products %>
      <% @product_types.each do |product_type| %>
      <h3><%= product_type.name %></h3>
      <ul class="no-bullet">
        <%= f.collection_check_boxes :product_ids, product_type.products, :id, :name do |b| %>
        <li>
          <%= b.check_box %>
          <%= b.label %>
        </li>
        <% end if product_type.products %>
      </ul>
      <% end if @product_types %>
    </div>
  </div>
<% end %>
