<%= content_tag_for :tr, knowledge_base_article do %>
  <td class="admin-left-edit">
    <%= render partial: 'options_edit', locals: {object: knowledge_base_article, instance_name: knowledge_base_article.title} %>
  </td>
  <td>
    <%= link_to knowledge_base_article.title, [:admin, knowledge_base_article] %>
  </td>
  <td>
    <% knowledge_base_article.available_locales.each do |l| %>
      <%= content_tag :span, class: 'secondary label' do %>
        <%= humanize_locale(l) %>
        <% Globalize.with_locale(l) do %>
        <%= link_to 'x', admin_knowledge_base_article_path(knowledge_base_article, translation_locale: l), method: :delete, data: { confirm: %(Are you sure you want to delete this #{humanize_locale l} translation? This cannot be undone.) } %>
        <% end %>
      <% end %>
    <% end %>
  </td>
  <td>
    <%= l knowledge_base_article.posted_on.to_date, format: :short %>
  </td>
  <td>
    <%= l knowledge_base_article.updated_at.to_date, format: :short %>
  </td>
  <td class="admin-right-delete">
    <%= render partial: 'options_delete', locals: {object: knowledge_base_article, instance_name: knowledge_base_article.title} %>
  </td>
<% end %>
