<div class="row columns">
  <h1>
    <%= legal_policy_document.title %>
  </h1>
  <section>
    <p>(Effective <%= l legal_policy_document.effective_on, format: :long %>)</p>
    <%= content_tag :p do %>
      <%= link_to t('.download'), attachment_url(legal_policy_document, :file, filename: legal_policy_document.title.parameterize), class: set_class_for_content_type(legal_policy_document.file_content_type) %>
    <% end if legal_policy_document.file && legal_policy_document.file.exists? %>
    <%= sanitize legal_policy_document.body %>
  </section>
  <section>
    <p>
      <%= link_to "Archive", {controller: params[:controller], action: :index}, class: "goto-new" %>
    </p>
  </section>
</div>
