<%= form_for @product_type do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <div class="row">
    <div class="medium-6 columns">
      <%= f.label :icon_image %>
      <%= f.attachment_field :icon_image, direct: true, presinged: true %>
    </div>
    <div class="medium-6 columns">
      <%= attachment_image_tag @product_type, :icon_image if @product_type.icon_image && @product_type.icon_image.exists? %>
    </div>
  </div>

  <div class="row">
    <div class="medium-6 columns">
      <%= f.label :hero_image %>
      <%= f.attachment_field :hero_image, direct: true, presinged: true %>
    </div>
    <div class="medium-6 columns">
      <%= attachment_image_tag @product_type, :hero_image if @product_type.hero_image && @product_type.hero_image.exists? %>
    </div>
  </div>

  <%= f.submit nil, class: 'button radius' %>
<% end %>
