<%= form_for [:admin,@product_type] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <div class="row">
    <%= content_tag :div, class: 'medium-8 columns' do %>
      <%= f.label :current_icon %>
      <%= attachment_image_tag @product_type, :icon_image %>
    <% end if @product_type.icon_image && @product_type.icon_image.exists? %>
    <div class="medium-4 columns">
      <%= f.label :icon_image %>
      <%= f.attachment_field :icon_image, direct: true, presigned: true %>
    </div>
  </div>

  <div class="row">
    <%= content_tag :div, class: 'medium-8 columns' do %>
      <%= f.label :current_hero_image %>
      <%= attachment_image_tag @product_type, :hero_image %>
    <% end if @product_type.hero_image && @product_type.hero_image.exists? %>
    <div class="medium-4 columns">
      <%= f.label :hero_image %>
      <%= f.attachment_field :hero_image, direct: true, presigned: true %>
    </div>
  </div>

  <%= f.button nil, class: 'button radius' %>
<% end %>
