<% content_for :meta do %>
  <meta name="apple-itunes-app" content="app-id=840962745">
<% end %>
<%= content_for :title, t('.title') %>

<section class="row app">
  <div class="columns">
    <h1><%= yield :title %></h1>
  </div>
  <div class="columns">
  	<%= image_tag("support/iPad-home.jpg") %>
  </div>
  <div class="large-1 columns show-for-large app-support-social social-media">

    <div class="social-media-container">
      <%= link_to "http://www.linkedin.com/shareArticle?mini=true&amp;url=#{request.url}",:target=> "_blank", class: "social-media-icon" do %>
        <%=image_tag('icons/LinkedIn.svg', class: "icon") %>
      <% end %>
      <%= link_to "https://twitter.com/share?url=#{request.url}&amp;text=Wavetronix%20Marketing%20App&amp;hashtags=wavetronix",:target=> "_blank", class: "social-media-icon" do %>
        <%=image_tag('icons/Twitter.svg', class: "icon") %>
      <% end %>
      <%= link_to "http://www.facebook.com/sharer.php?u=#{request.url}",:target=> "_blank", class: "social-media-icon" do %>
        <%=image_tag('icons/Facebook.svg', class: "icon") %>
      <% end %>
      <%= link_to "https://plus.google.com/share?url=#{request.url}",:target=> "_blank", class: "social-media-icon" do %>
        <%=image_tag('icons/Google.svg', class: "icon") %>
      <% end %>
      <%= mail_to "", subject: "The Wavetronix Marketing App Support Page", body: "The Wavetronix App provides unique content designed to assist traffic professionals in creating safe and efficient roadways while providing information for anyone interested in transportation . For more information, visit www.wavetronix.com/marketing_app \n Download the app from the Apple Store here: https://itunes.apple.com/us/app/wavetronix/id840962745?ls=1&mt=8 \n Download the app from the Google Play store here: https://play.google.com/store/apps/details?id=com.wavetronix.wavetronix \n Download the app from the Windows Store here: http://apps.microsoft.com/windows/app/wavetronix/5f652365-b23e-494e-b92a-1ea4155fbc0b", class: "social-media-icon" do %>
        <%=image_tag('icons/email.svg', class: "icon") %>
      <% end %>
    </div>

  </div>
  <div class="small-10 small-push-1 large-push-0 large-7 columns">
  	<h3>
  		The Wavetronix App brings experience and knowledge from some of the top radar and traffic experts in the world to the palm of your hand.
  	</h3>
  	<hr/>
  	<p>The Wavetronix App provides unique content designed to assist traffic professionals in creating safe and efficient roadways while providing information for anyone interested in transportation issues including:</p>
  	<ul class="normal-list">
  		<li>Case studies featuring partnerships between Wavetronix and transportation agencies creating ITS applications that make a real difference.</li>
  		<li>Social media integration so you can join in the conversation.</li>
  		<li> Educational material designed to give anyone a basic foundational knowledge of radar traffic sensors and transportation systems.</li>
  		<li>ITS application notes, guides, and other information to be used in the design office or in the field during installation.</li>
  	</ul>
  	<p>All content includes enhanced components including embedded video and multimedia content; interactive, exploratory features; links to third-party studies and research; and more. New content is added all the time so there is always something new to learn and enjoy.</p>
  	<div class="download-app row">
      <div class="medium-3 columns">
        <%= link_to 'https://itunes.apple.com/us/app/wavetronix/id840962745?ls=1&mt=8', target: '_blank' do %>
  		    <%= image_tag('icons/appstore.svg') %>
        <% end %>
      </div>
      <div class="medium-3 columns">
        <%= link_to 'https://play.google.com/store/apps/details?id=com.wavetronix.wavetronix', target: '_blank' do %>
          <%= image_tag('icons/googleplay.svg') %>
        <% end %>
      </div>
      <div class="medium-3 columns">
        <%= link_to 'http://apps.microsoft.com/windows/app/wavetronix/5f652365-b23e-494e-b92a-1ea4155fbc0b', target: '_blank' do %>
          <%= image_tag('icons/windowsstore.svg') %>
        <% end %>
      </div>
      <div class="medium-3 columns">
        <%= link_to 'View in browser', 'https://viewer.aemmobile.adobe.com/index.html#project/5ca54145-0790-4361-b19d-ff3abcefda99/view/topLevelTabletContent/view/Home;openTo=browsePage', target: '_blank', class: 'button large expand wtx-badge' %>
      </div>
  	</div>
  </div>
  <div class="large-4 small-12 columns app-side-support">
  	<h4><%= t('.issue') %></h4>
    <div class="request-box">
      <div class="request row">
        <div class="medium-10 medium-centered columns">
          <%= form_for @marketing_app_support_request, validate: true do |f| %>
            <%= f.label :name %>
            <%= f.text_field :name %>
            <%= f.label :email %>
            <%= f.email_field :email %>
            <%= f.label :description %>
            <%= f.text_area :description %>
            <%= f.button 'Get Support', class: 'button radius request-button' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
