<%= content_for :title, 'Training' %>

<div class="page-sub-navigation show-for-large" data-sticky-container>
	<div class="sticky" data-sticky data-anchor="training" data-active-class>
		<div class="row">
			<div class="columns text-right">
				<nav data-magellan data-bar-offset="70">
					<ul class="horizontal menu">
						<li><a href="#events"><%= t(".events") %></a></li>
						<li><a href="#courses"><%= t(".courses") %></a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>

<div class="hide-for-large">
	<div class="page-sub-bottom-nav">
		<nav data-magellan data-bar-offset="50">
			<ul class="menu icon-top expanded">
			 	<li><a href="#"><%= t(".events") %></a></li>
			 	<li><a href="#"><%= t(".courses") %></a></li>
			</ul>
		</nav>
	</div>
</div>

<section class="row training-post-cards" id="events" data-magellan-target='events'>
	<h1><%= t(".events") %>
		<div class="admin-nav">
        <ul class="dropdown menu" data-dropdown-menu data-options="disableHover:true;clickOpen:true;">
          <li>
            <a href="#" class="ellipsis-link"><%= image_tag('icons/ellipsis16.svg', class: 'small-icon') %></a>
            <ul class="menu">
              <li>
                <%= link_to nil, title: %(New), class: "admin-new" do %>
                  New
                <% end %>
              </li>
              <li>
                <%= link_to nil, title: %(Edit), class: "admin-edit" do %>
                  Edit
                <% end %>
              </li>
              <li>
                <%= link_to nil, class: 'delete admin-delete', data: {confirm: %(Are you sure you want to delete? This cannot be undone.)}, method: :delete, title: %(Delete) do %>
                  Delete
                <% end %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
	</h1>

	<div class="training-input-container">
	  <div class="training-input-card">
      <h3><%= t(".find_events") %></h3>
      <div class="news-find-events site-search-bar input-group">
	      <div class="input-group-button">
	        <?xml version="1.0" encoding="utf-8"?>
	        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 17">
	          <rect x="12.2" y="10" transform="translate(1 1)matrix(0.7071 -0.7071 0.7071 0.7071 -5.3589 12.9375)" class="st0" width="1.5" height="5.8"/><path class="st0" d="M7.3 14.3c-3.9 0-7-3.1-7-7 0-3.9 3.1-7 7-7 3.9 0 7 3.1 7 7C14.3 11.1 11.1 14.3 7.3 14.3zM7.3 1.8c-3 0-5.5 2.5-5.5 5.5 0 3 2.5 5.5 5.5 5.5 3 0 5.5-2.5 5.5-5.5C12.8 4.2 10.3 1.8 7.3 1.8z"/>
	        </svg>
	      </div>
	      <input class="input-search-bar" type="text"/>
	    </div>
	  </div>

		<div class="training-input-card">
			<div class="training-request">
				<h4><%= t(".request") %></h4>
				<div class="request-box">
		      <div class="request row">
		        <div class="medium-8 small-10 small-centered columns">
		          <p><%= t(".join_mailing_list") %></p>
		          <form id="events-updates-form">
		            <input type="text" name="updates-name"><br>
		            <p class="request-label">Name</p>
		            <input type="text" name="updates-email"><br>
		            <p class="request-label">Email</p>
		            <input type="text" name="updates-zip"><br>
		            <p class="request-label">Zip Code or Country</p>
		          </form>
		          <button type="submit" form="events-updates-form" value="Submit" class="button rounded expanded">Subscribe</button>
		        </div>
		      </div>
		    </div>
		    <div class="training-request request-host">
		    	<h4><%= t(".want_host") %></h4>
		    	<p><%= t(".host_when_where") %></p>
		    	<button class="button rounded"><%= t(".contact_us") %></button>
		    </div>
			</div>
		</div>
	</div>

	<div class="post-list">
		<!-- 4 max items -->
	  <div class="post-card">
	  	<div class="row">
	  		<div class="small-8 columns">
					<h3>Pulse Live Traffic</h3>
					<div class="ellipsed-text">
						<p>This event will teach you how to improve the safety of your intersection without sacrificing efficiency. You will discover hands-on the benefits of radar-based dilemma zone protection and the power of true presence stop bar detection.</p>
					</div>
				</div>
				<div class="small-4 columns event-location">
					<img src="http://placehold.it/142x80" />
					<h6 class="event-city">Memphis, TX</h6>
					<h6 class="event-date">01 May 2016</h6>
					<h6 class="event-time">8:00 AM</h6>
				</div>
				<div class="small-8 columns end">
					<button class="button expanded rounded"><%= t(".register") %></button>
		   	</div>
		  </div>
	  </div>
	  <div class="post-card">
	  	<div class="row">
	  		<div class="small-8 columns">
					<h3>Introduction to Traffic Radar</h3>
					<div class="ellipsed-text">
						<p>In this workshop, you will learn the basics of radar technology and how it is revolutionizing the traffic detection industry. Live demonstrations will show you how radar works, and the difference between frequency and bandwidth. You’ll become familiar with different types of traffic radar and which type would work for you. This is a whole bunch of extra text so we cna test the ellipsis and make sure that it is working so that it works because it needs to work becaus eI said so and this is a really long sentenc ehere but it's all for science so it's good.</p>
						<!-- if more than 6 lines -->
						<a href="#" class="goto-new"><%= t(".learn_more") %></a>
					</div>
				</div>
				<div class="small-4 columns event-location">
					<img src="http://placehold.it/142x80" />
					<h6 class="event-city">Provo, UT</h6>
					<h6 class="event-date">01 June 2016</h6>
					<h6 class="event-time">8:00 AM</h6>
				</div>
				<div class="small-8 columns end">
					<button class="button expanded rounded"><%= t(".register") %></button>
		   	</div>
		  </div>
	  </div>
	  <div class="post-card">
	  	<div class="row">
	  		<div class="small-8 columns">
					<h3>SmartSensor HD Certified Training</h3>
					<div class="ellipsed-text">
						<p>Attend all related courses to complete certification in SmartSensor HD installation and configuration.<br/>
						Courses offered at this event:<br/>
						050 – Introduction to Traffic Radar<br/>
						101 – SmartSensor HD Installation<br/>
						102 – SmartSensor HD Configuration</p>
						<!-- if more than 6 lines -->
						<a href="#" class="goto-new"><%= t(".learn_more") %></a>
					</div>
				</div>
				<div class="small-4 columns event-location">
					<img src="http://placehold.it/142x80" />
					<h6 class="event-city">Provo, UT</h6>
					<h6 class="event-date">01 June 2016</h6>
					<h6 class="event-time">8:00 AM</h6>
				</div>
				<div class="small-8 columns end">
					<button class="button expanded rounded"><%= t(".register") %></button>
		   	</div>
		  </div>
	  </div>
	  <div class="post-card">
	  	<div class="row">
	  		<div class="small-8 columns">
					<h3>Introduction to Traffic Radar</h3>
					<div class="ellipsed-text">
						<p>In this workshop, you will learn the basics of radar technology and how it is revolutionizing the traffic detection industry. Live demonstrations will show you how radar works, and the difference between frequency and bandwidth. You’ll become familiar with different types of traffic radar and which type would work for you.</p>
						<!-- if more than 6 lines -->
						<a href="#" class="goto-new"><%= t(".learn_more") %></a>
					</div>
				</div>
				<div class="small-4 columns event-location">
					<img src="http://placehold.it/142x80" />
					<h6 class="event-city">Provo, UT</h6>
					<h6 class="event-date">01 June 2016</h6>
					<h6 class="event-time">8:00 AM</h6>
		   	</div>
		   	<div class="small-8 columns end">
					<button class="button expanded rounded"><%= t(".register") %></button>
				</div>
		  </div>
	  </div>
	</div>

	<div class="read-more">
	  <a href="#" class="goto-new">View More</a>
	</div>
</section>


<section class="training-courses-section" id="courses" data-magellan-target='courses'>
	<div class="row columns">
		<h1><%= t(".courses") %>
			<div class="admin-nav">
	      <ul class="dropdown menu" data-dropdown-menu data-options="disableHover:true;clickOpen:true;">
	        <li>
	          <a href="#" class="ellipsis-link"><%= image_tag('icons/ellipsis16.svg', class: 'small-icon') %></a>
	          <ul class="menu">
	          	<li>
	          <%= link_to nil, title: %(New) do %>
	            <%= image_tag('icons/Plus16.svg', class: 'small-icon') %>
	            New
	          <% end %>
	        </li>
	            <li>
	              <%= link_to nil, title: %(Edit) do %>
	                <%= image_tag('icons/edit16.svg', class: 'small-icon') %>
	                Edit
	              <% end %>
	            </li>
	            <li>
	              <%= link_to nil, class: 'delete', data: {confirm: %(Are you sure you want to delete? This cannot be undone.)}, method: :delete, title: %(Delete) do %>
	                <%= image_tag('icons/trash16.svg', class: 'small-icon') %>
	                Delete
	              <% end %>
	            </li>
	          </ul>
	        </li>
	      </ul>
	    </div>
		</h1>
	</div>
	<div class="row">
		<div class="medium-5 columns">
			<div class="support-search-dropdown">
				<section class="products-language-header support-dropdown">
		      <select class="products-language-dropdown" name="smartsensor">
		        <option value="allcourses">All Courses</option>
		        <option value="certtech">Certified Technical Training</option>
		        <option value="techworkshops">Technical Workshops</option>
		        <option value="ssadvanced">SmartSensor Advance Courses</option>
		        <option value="sshd">SmartSensor HD Courses</option>
		        <option value="ssmatrix">SmartSensor Matrix Courses</option>
		        <option value="click">Click Courses</option>
		        <option value="command">Command Courses</option>
		      </select>
				</section>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="training-course-card">
			<div class="horizontal menu">
				<h3 class="training-certified">Introduction to Traffic Radar Workshop</h3>
				<div class="course-card-left training-hours">2 hrs.</div>
				<div class="course-card-right"><%= t(".prerequisites") %></div>
				<p>In this workshop, you will learn the basics of radar technology and how it is revolutionizing the traffic detection industry. Live demonstrations will show you how radar works, and the difference between frequency and bandwidth. You’ll become familiar with different types of traffic radar and which type would work for you.</p>
				<div class="learn-course">
					<a class="hide-me-on-dropdown expand-container" data-toggle="traffic-workshop-dropdown"><%= t(".learn_more") %></a>
					<div class="dropdown-pane course-dropdown-container" id="traffic-workshop-dropdown" data-dropdown data-auto-focus="true">
						<p>This is more text below the cut I don't know what goes here but it will be stuff.</p>
						<img src="http://placehold.it/461x258" />
						<p>To enroll in this course, you must first successfully complete:<br/>
						<a href="#" class="prereq-link">Introduction to Radar Workshop</a></p>
						<h6 class="training-certified"><%= t(".certification_on_completion") %></h6>
						<a data-toggle="traffic-workshop-dropdown" class="close-container"><%= t(".hide") %></a>
					</div>
				</div>
			</div>
		</div>

		<div class="training-course-card">
			<div class="horizontal menu">
				<h3>Pulse Live – ITS</h3>
				<div class="course-card-left training-hours">2 hrs.</div>
				<div class="course-card-right"></div>
				<p>In this workshop, you will learn the basics of radar technology and how it is revolutionizing the traffic detection industry. Live demonstrations will show you how radar works, and the difference between frequency and bandwidth. You’ll become familiar with different types of traffic radar and which type would work for you.</p>
				<div class="learn-course">
					<a class="hide-me-on-dropdown expand-container" data-toggle="pulse-live-dropdown"><%= t(".learn_more") %></a>
					<div class="dropdown-pane course-dropdown-container" id="pulse-live-dropdown" data-dropdown data-auto-focus="true">
						<p>In this workshop, you will learn the basics of radar technology and how it is revolutionizing the traffic detection industry. Live demonstrations will show you how radar works, and the difference between frequency and bandwidth. You’ll become familiar with different types of traffic radar and which type would work for you.</p>
						<a data-toggle="pulse-live-dropdown" class="close-container"><%= t(".hide") %></a>
					</div>
				</div>
			</div>
		</div>

		<div class="training-course-card">
			<div class="horizontal menu">
				<h3 class="training-certified">SmartSensor HD Configuration</h3>
				<div class="course-card-left training-hours">2 hrs.</div>
				<div class="course-card-right"></div>
				<p>Use SSMHD to configure sensor to lanes of traffic. Perform accuracy tests, change certain settings to see effect each setting has on reported data.</p>
				<div class="learn-course">
					<a class="hide-me-on-dropdown expand-container" data-toggle="hdconfig-dropdown"><%= t(".learn_more") %></a>
					<div class="dropdown-pane course-dropdown-container" id="hdconfig-dropdown" data-dropdown data-auto-focus="true">
						<p>In this workshop, you will learn the basics of radar technology and how it is revolutionizing the traffic detection industry. Live demonstrations will show you how radar works, and the difference between frequency and bandwidth. You’ll become familiar with different types of traffic radar and which type would work for you.</p>
						<h6 class="training-certified"><%= t(".certification_on_completion") %></h6>
						<a data-toggle="hdconfig-dropdown" class="close-container"><%= t(".hide") %></a>
					</div>
				</div>
			</div>
		</div>

		<div class="training-course-card">
			<div class="horizontal menu">
				<h3 class="training-certified">SmartSensor Matrix Configuration</h3>
				<div class="course-card-left training-hours">2 hrs.</div>
				<div class="course-card-right"><%= t(".prerequisites") %></div>
				<p>Identify a site where SmartSensor Matrix could be installed. Align sensor to the stop bar to get best results. Troubleshoot problems that could arise in communication or power lines.</p>
				<div class="learn-course">
					<a class="hide-me-on-dropdown expand-container" data-toggle="matrixconfig-dropdown"><%= t(".learn_more") %></a>
					<div class="dropdown-pane course-dropdown-container" id="matrixconfig-dropdown" data-dropdown data-auto-focus="true">
						<p>Identify a site where SmartSensor Matrix could be installed. Align sensor to the stop bar to get best results. Troubleshoot problems that could arise in communication or power lines.</p>
						<h6 class="training-certified"><%= t(".certification_on_completion") %></h6>
						<a data-toggle="matrixconfig-dropdown" class="close-container"><%= t(".hide") %></a>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>
