<div class="social-media-sticky-header" data-sticky-container>
  <div class="sticky" data-sticky>
    <div class="row">
        <nav data-magellan>
          <ul class="horizontal menu">
            <li>
              <%= link_to nil do %>
                <%=image_tag('icons/LinkedIn.svg') %>
              <% end %>
            </li>
            <li>
              <%= link_to nil do %>
                <%=image_tag('icons/Twitter.svg') %>
              <% end %>
            </li>
            <li>
              <%= link_to nil do %>
                <%=image_tag('icons/Facebook.svg') %>
              <% end %>
            </li>
            <li>
              <%= link_to nil do %>
                <%=image_tag('icons/Google.svg') %>
              <% end %>
            </li>
            <li>
              <%= link_to nil do %>
                <%=image_tag('icons/email.svg') %>
              <% end %>
            </li>
          </ul>
        </nav>
    </div>
  </div>
</div>

<section class="article-header">
  <div class="row">
    <div class="large-12 medium-8 medium-offset-2 large-offset-0 columns">
      <h1>Why Loops Aren't Cheap</h1>
      <h6>By Jen Clark</h6>
      <img src="http://placehold.it/1200x600" alt="placeholder">
    </div>
  </div>
</section>

<section class="row">
  <div class="large-6 large-offset-1 medium-8 medium-offset-2 columns article-body" id="article-container" data-something data-margin-top="5">
    <h3 class="article-deckhead">
      In the United Kingdom, the move away from loop detection is driven largely by the Aiming for Zero initiative and a desire to keep road workers out of harm’s way.
      <hr/>
    </h3>
    <p>For transportation officials in the United Kingdom, the intrusive vs. non-intrusive debate comes down to a question of safety. For years, the United Kingdom has relied on loops to provide critical traffic data for its intelligent transportation efforts, which includes the Motorway Incident Detection and Automatic Signaling, or MIDAS, system. But the risk to road workers installing, replacing or maintaining loops is high — imagine trying to do your job while very large objects pass at a high rate of speed just inches away from your body — and officials say the cost in human lives has been unacceptable.</p>
    <img src="http://placehold.it/328x170" alt="placeholder" class="article-sub-insert">
    <p>In 2009, the Highways Agency — now known as Highways England — launched the Aiming for Zero Road Worker Safety Strategy to raise driver awareness and eliminate the need for workers to be on live carriageways. This initiative prompted the need to identify vehicle detection technologies which, unlike loops, install above the ground and do not require workers to be on the road.</p>
    <p>But finding reliable alternatives to loops is not easy. Most transportation agencies proceed cautiously, preferring to wait until technologies new to them are thoroughly tested and proven before making a costly change that potentially could be damaging to their system.</p>
    <p>Highways England is no exception. The agency charged with operating England’s motorways and major A roads takes its stewardship very seriously, and it tests new technologies thoroughly before integrating them into established systems like MIDAS. With the MCH-1529 Performance Assessment of Detector Technology Systems, Highways England has put in place one of the toughest procurement certification processes in the world. The Wavetronix SmartSensor HD was the first radar vehicle detector to submit fully to this process and be certified as a viable alternative to loops. Today, hundreds of HD sensors are installed and actively monitoring traffic in the UK as a direct result of the MCH-1529 testing process.</p>
    <p>“The UK has probably the most brutal process to get technology certified,” says Russ Connely, the general manager for Europe at Wavetronix. “But when MCH-1529 is evenly enforced, it is also one of the fairest processes we’ve seen, because it is based on the actual performance of the device.”</p>
    <h2 class="article-sub-head">The Loop Legacy</h2>
    <p>There is a reason why loops have been the standard for ITS vehicle detection for such a long time. Well-calibrated loops are accurate and can provide a wealth of information, from vehicle presence and speed to classification. For most agencies, loops are the baseline for performance, so it’s little wonder that so many agencies are reluctant to replace them, despite their shortcomings.</p>
    <p>And loops do have shortcomings. First, loops have a high failure rate and require frequent repairs; while initial costs for loops may be small, the total costs of ownership over a 10-year period can be quite significant. Second, loops increase the amount of time that workers must spend in the middle of active roadways — loop installation and maintenance can often take several hours and require lane closures that put workers in danger and disrupt traffic.</p>
    <p>The risks to road workers are significant. Between 2005 and 2011, 15 road workers were killed and 150 others seriously injured in the UK; in 2014, Highways England reported four instances when road workers were struck by passing vehicles, and one fatality.</p>
    <p>“The people who work on our roads are at significant risk,” says Paul Mitchell, who retired in 2014 as head of national health and safety at the Highways Agency. In a 7 September 2012 article in the Telegraph, Mitchell said, “The roads are their place of work. Their safety is something we take very seriously indeed.”</p>
    <div class="article-sub-movie">
      <div class="flex-video">
        <iframe src="https://www.youtube.com/embed/OE9_JYiA7zc" frameborder="0" allowfullscreen></iframe>
      </div>
      <h6>The coolest caption you've ever read.</h6>
    </div>
    <h2 class="article-sub-head">Aiming for Zero</h2>
    <p>This commitment to safety was one of the driving factors behind Aiming for Zero, which tries to address all aspects of the roadway environment, from the drivers using the road to the workers who maintain it. From the driver’s perspective, Highways England says it is a matter of respecting road workers, obeying traffic laws and being aware of roadway conditions. To help raise awareness, Highways England has utilized roadside technologies in combination with mass and social media. Of course, influencing driver behavior is always challenging, and Mitchell acknowledged that it is not always effective.</p>
    <div class="article-sub-insert">
      <h3>
        "Unfortunately, there is not much we can do with those who are going to break the law."
      </h3>
      <h6 class="bylinecaption">Paul Mitchell</h6>
    </div>
    <p>“Unfortunately, there is not much we can do with those who are going to break the law,” Mitchell told the Telegraph. “We are trying everything, such as speed cameras, better warning signs and overhead gantry messages, but still there will always be a motorist who ignores it all.”</p>
    <p>As a result, it is necessary to also address safety from the worker’s perspective. Getting workers out of the road, and consequently out of harm’s way, is a primary focus of Aiming for Zero, and accomplishing this necessitates a shift from loops to non-intrusive detectors like SmartSensor HD. HD produces dual, true high definition radar beams that can detect vehicles in multiple lanes; in addition to volume and occupancy data, the dual beams create a speed trap that provides accurate per vehicle speed measurements as well as vehicle lengths and classification.</p>
    <p>HD offers several advantages over loops. First, it installs quickly and can be configured to detect traffic in just a few minutes, minimizing the amount of time workers spend in or near the road. Furthermore, most HD installations do not require lane closures, so they do not contribute to vehicle delays. Second, HD’s installation costs are significantly less than those of loops, and HD needs much less general maintenance than loops, so lifetime costs are also dramatically reduced. Finally, because HD installs above the ground, the sensor is ideal for temporary monitoring applications, such as road works, that are not possible with permanently embedded loops.</p>
    <h2 class="article-sub-head">Proving Performance</h2>
    <p>Of course, none of this matters if Wavetronix could not prove that HD performs as well as loops, or if the sensor wasn’t compatible with MIDAS. In order to certify HD as a viable loop replacement, the sensor was submitted to a four-stage test that evaluated the performance and compatibility of HD in real world applications and ensured the sensor meets European Union and CE environmental standards."</p>
    <div class="article-sub-insert">
      <h3>
        "Wavetronix submitted completely to the MCH-1529 process, and we’re very pleased with the results."
      </h3>
      <h6 class="bylinecaption">Russ Connely, Wavetronix Sales Manager for Europe</h6>
    </div>
    <p>“Wavetronix submitted completely to the MCH-1529 process, and we’re very pleased with the results,” Connely said at the time of the test. “The Highways Agency recognizes the value of non-intrusive detection, and they will benefit greatly by holding all qualifying technologies to the same standards.”</p>
    <p>Connely determined it was in Wavetronix’ best interest to be the first to complete the MCH-1529 process, and in late 2010, he approached the agency with a proposal to submit SmartSensor HD to extensive testing. Following established MCH-1529 guidelines, Connely assembled a team that set about creating the test process: Connely represented Wavetronix as supplier; Keith Smith, a well-respected member of the UK ITS community, served as the HA’s MCH-1514 and 1529 Assessment Authority Lead Auditor; and Ben Catchesides, an ITS engineer at the Highways Agency, represented the HA’s Detector Technology Assurance Committee (DTAC).</p>
    <p>“Working with Keith, we essentially wrote our own test, and Keith, as the assessment authority, reviewed the test and oversaw the testing process,” Connely says. “The process then had to be approved by DTAC. Ben was instrumental in getting the process approved by the HA and then monitoring our progress.”</p>
    <p>The four stages of the MCH-1529 process included pre-test statements; off-road assessment; on-road assessment; and Code of Connections to assess compatibility. The process began with a statement of requirements that outlined the HA’s expectations for the sensor’s performance, and it ended with an integration assessment to determine if HD could operate with MIDAS without negatively impacting its performance.</p>
    <p>“This was a critical part of the assessment because it deals with both security and performance,” Connely says. “The test was designed to make sure that the sensor could not be used as an access point for someone attempting to hack into the HA’s system, and at the same time, it gave the HA the opportunity to verify that the data they received looked the same whether it came from HD or from loops.”</p>
    <p>Every aspect of the evaluation was successful, and on 8 September 2011, Wavetronix received notification from the Highways Agency that SmartSensor HD had been approved as a viable replacement for loops; on 6 March 2013, that certification was expanded to include use of HD in the MIDAS system, including HIOCC and HIOCC 2, which requires accurate per vehicle speeds.</p>
    <div class="article-sub-insert">
      <h3>
        "This process provided the HA with the confirmation of performance they needed to boost their confidence in the technologies being deployed."
      </h3>
      <h6 class="bylinecaption">Russ Connely</h6>
    </div>
    <p>“This process provided the HA with the confirmation of performance they needed to boost their confidence in the technologies being deployed on their motorways,” Connely says. “As for Wavetronix, we are very happy with the process and proud that SmartSensor HD is the first non-intrusive detector to complete the process and receive certification.”</p>
    <p>Ensuring the safety of road workers is no easy task. Identifying detection devices, like SmartSensor HD, that satisfy accuracy and reliability requirements while simultaneously eliminating the need to place workers in danger, is helping Highways England meet what it calls “an unambiguous goal” for the health and safety of its people. SmartSensor HD effectively replaces loops without compromising detection standards, and also effectively reduces workers’ exposure to the dangers that exist on live carriageways. As a result, Highways England is well positioned to meet its goals for improved worker safety over the next few years and beyond.</p>
  </div>

  <div class="small-10 small-offset-1 medium-8 medium-offset-2 large-4 large-offset-0 columns similar-stories-side end" data-sticky-container>
    <div class="sticky" data-sticky data-anchor="article-container" data-sticky-on="large">
      <div class="article-side-title">Similar Stories</div>
      <a href="#" class="row">
        <img src="http://placehold.it/558x313" alt="placeholder" class="large-6 columns">
        <h2 class="large-6 columns similar-side-text">Texas Transportation Institue Evaluation for Arizona DOT</h2>
        <p class="hide-for-large">This is a summary of the article and doesn't really contain any information. Isn't that special? Probably not. I don't even know anymore.</p>
      </a>
      <a href="#" class="row">
        <img src="http://placehold.it/558x313" alt="placeholder" class="large-6 columns">
        <h2 class="large-6 columns similar-side-text">ATRC Test in Lewiston, Maine</h2>
        <p class="hide-for-large">This is a summary of the article and doesn't really contain any information. Isn't that special? Probably not. I don't even know anymore.</p>
      </a>
      <a href="#" class="row">
        <img src="http://placehold.it/558x313" alt="placeholder" class="large-6 columns">
        <h2 class="large-6 columns similar-side-text">AF - Hansen & Henneberg Test in Farum, Denmark</h2>
        <p class="hide-for-large">This is a summary of the article and doesn't really contain any information. Isn't that special? Probably not. I don't even know anymore.</p>
      </a>
    </div>
  </div>

</section>

<section class="article-tags show-for-large">
  Tags: <a href="#">News,</a> <a href="#">Loops,</a> <a href="#">California</a>
</section>

