<div class="product-specific-navigation show-for-large" data-sticky-container>
	<div class="sticky" data-sticky data-active-class>
		<div class="row">
			<div class="large-7 large-offset-5 columns text-right">
				<nav data-magellan data-bar-offset="70">
					<ul class="horizontal menu">
						<li><a href="#product">Product</a></li>
						<li><a href="#faqs">FAQs</a></li>
						<li><a href="#return">Return</a></li>
						<li>
							<button class="button small" type="button" data-toggle="demo-dropdown">Contact Your Dealer</button>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>

<div class="hide-for-large">
	<div class="product-specific-top-nav">
		<div class="row">
			<div class="columns text-right">
				<button class="button small" type="button" data-toggle="demo-dropdown-mobile">Contact Your Dealer</button>
			</div>
		</div>
	</div>
	<div class="product-specific-bottom-nav">
		<nav data-magellan data-bar-offset="70">
			<ul class="menu icon-top expanded">
			  <li><a href="#product"><%= image_tag("icons/features.svg") %> <span>Product</span></a></li>
			  <li><a href="#faqs"><%= image_tag("icons/features.svg") %> <span>FAQs</span></a></li>
			  <li><a href="#return"><%= image_tag("icons/courses.svg") %> <span>Return</span></a></li>
			</ul>
		</nav>
	</div>
</div>

<div class="row columns">
	<h1>Support</h1>
</div>

<div class="row" id="product">
	<div class="medium-4 small-8 small-offset-2 medium-offset-0 columns">
		<div class="support-search-image">
			<%= image_tag('icons/smartsensors.svg') %>
			<h5>SmartSensors</h5>
		</div>
		<div class="support-search-dropdown">
			<section class="products-language-header support-dropdown">
	      <select class="products-language-dropdown" name="smartsensor">
	        <option value="smartsensorhd">SmartSensor HD</option>
	        <option value="smartsensormatrix">SmartSensor Matrix</option>
	        <option value="smartsensoradvance">SmartSensor Advance</option>
	      </select>
			</section>
		</div>
	</div>
	<div class="medium-4 small-8 small-offset-2 medium-offset-0 columns">
		<div class="support-search-image">
			<%= image_tag('icons/cabinet.svg') %>
			<h5>Cabinet Integration</h5>
		</div>
		<div class="support-search-dropdown">
			<section class="products-language-header support-dropdown">
	      <select class="products-language-dropdown" name="click">
	        <option value="click100">Click 100</option>
	        <option value="click200">Click 200</option>
	        <option value="click300">Click 300</option>
	      </select>
			</section>
		</div>
	</div>
	<div class="medium-4 small-8 small-offset-2 end medium-offset-0 columns">
		<div class="support-search-image">
			<%= image_tag('icons/realtime-software.svg') %>
			<h5>Real Time Software</h5>
		</div>
		<div class="support-search-dropdown">
			<section class="products-language-header support-dropdown">
	      <select class="products-language-dropdown" name="rtsoftware">
	        <option value="command">Command</option>
	        <option value="wow">World of Warcraft</option>
	        <option value="spotify">Spotify</option>
	      </select>
			</section>
		</div>
	</div>
</div>

<div class="row">
	<div class="support-line-icon">
		<%= image_tag('icons/speech-bubble.svg') %>
	</div>
</div>

<div class="row" id="faqs">
	<div class="large-8 columns">
		<h2>Top 10 Frequently Asked Questions</h2>

		<ul class="vertical menu" data-accordion-menu data-multi-expand="true">
		  <li class="faq-question-container">
		    <a href="#" class="faq-accordion">What pendant is on Nancy's necklace?</a>
		    <ul class="menu vertical nested">
		      <li class="faq-answer">
		      	<div class="faq-answer">
		      		It's a ballet shoe
		      	</div>
		      	<div class="faq-helpful">
		      		<h4>Was this helpful?
		      			<a href="#">
		      				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
										<g>
											<path class="positive" d="M16,32C7.2,32,0,24.8,0,16C0,7.2,7.2,0,16,0c8.8,0,16,7.2,16,16C32,24.8,24.8,32,16,32z M16,1.4
												C7.9,1.4,1.4,7.9,1.4,16c0,8.1,6.6,14.6,14.6,14.6c8.1,0,14.6-6.6,14.6-14.6C30.6,7.9,24.1,1.4,16,1.4z"/>
										</g>
										<g>
											<circle class="positive" cx="12.4" cy="12" r="1.4"/>
										</g>
										<g>
											<circle class="positive" cx="19.7" cy="12" r="1.4"/>
										</g>
										<g>
											<path class="positive" d="M16,26.8C10,26.8,5.2,22,5.2,16c0-0.2,0.2-0.5,0.5-0.5s0.5,0.2,0.5,0.5c0,5.5,4.4,9.9,9.9,9.9
												s9.9-4.4,9.9-9.9c0-0.2,0.2-0.5,0.5-0.5c0.2,0,0.5,0.2,0.5,0.5C26.8,22,22,26.8,16,26.8z"/>
										</g>
									</svg>
		      			</a>
		      			<a href="#">
		      				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 								viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
										<g>
											<path class="negative" d="M16,32C7.2,32,0,24.8,0,16C0,7.2,7.2,0,16,0c8.8,0,16,7.2,16,16C32,24.8,24.8,32,16,32z M16,1.4
												C7.9,1.4,1.4,7.9,1.4,16c0,8.1,6.6,14.6,14.6,14.6c8.1,0,14.6-6.6,14.6-14.6C30.6,7.9,24.1,1.4,16,1.4z"/>
										</g>
										<g>
											<circle class="negative" cx="12.4" cy="12" r="1.4"/>
										</g>
										<g>
											<circle class="negative" cx="19.7" cy="12" r="1.4"/>
										</g>
										<g>
											<path class="negative" d="M8.3,23.5c-0.1,0-0.1,0-0.2-0.1c-0.2-0.1-0.3-0.4-0.2-0.6c1.6-2.9,4.7-4.7,8.1-4.7s6.4,1.8,8.1,4.7
												c0.1,0.2,0,0.5-0.2,0.6c-0.2,0.1-0.5,0-0.6-0.2C21.8,20.7,19,19,16,19s-5.8,1.6-7.3,4.3C8.6,23.5,8.5,23.5,8.3,23.5z"/>
										</g>
									</svg>
		      			</a>
		      		</h4>
		      	</div>
		     	</li>
		    </ul>
		  </li>
		  <li class="faq-question-container">
		  	<a href="#">Who combines to make Smoky Quartz?</a>
		  	<ul class="menu vertical nested">
		      <li class="faq-answer">
		      	<div class="faq-answer">
		      		Steven and Amethyst!
		      	</div>
		      	<div class="faq-helpful">
		      		<h4>Was this helpful?
		      			<a href="#">
		      				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
										<g>
											<path class="positive" d="M16,32C7.2,32,0,24.8,0,16C0,7.2,7.2,0,16,0c8.8,0,16,7.2,16,16C32,24.8,24.8,32,16,32z M16,1.4
												C7.9,1.4,1.4,7.9,1.4,16c0,8.1,6.6,14.6,14.6,14.6c8.1,0,14.6-6.6,14.6-14.6C30.6,7.9,24.1,1.4,16,1.4z"/>
										</g>
										<g>
											<circle class="positive" cx="12.4" cy="12" r="1.4"/>
										</g>
										<g>
											<circle class="positive" cx="19.7" cy="12" r="1.4"/>
										</g>
										<g>
											<path class="positive" d="M16,26.8C10,26.8,5.2,22,5.2,16c0-0.2,0.2-0.5,0.5-0.5s0.5,0.2,0.5,0.5c0,5.5,4.4,9.9,9.9,9.9
												s9.9-4.4,9.9-9.9c0-0.2,0.2-0.5,0.5-0.5c0.2,0,0.5,0.2,0.5,0.5C26.8,22,22,26.8,16,26.8z"/>
										</g>
									</svg>
		      			</a>
		      			<a href="#">
		      				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 								viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
										<g>
											<path class="negative" d="M16,32C7.2,32,0,24.8,0,16C0,7.2,7.2,0,16,0c8.8,0,16,7.2,16,16C32,24.8,24.8,32,16,32z M16,1.4
												C7.9,1.4,1.4,7.9,1.4,16c0,8.1,6.6,14.6,14.6,14.6c8.1,0,14.6-6.6,14.6-14.6C30.6,7.9,24.1,1.4,16,1.4z"/>
										</g>
										<g>
											<circle class="negative" cx="12.4" cy="12" r="1.4"/>
										</g>
										<g>
											<circle class="negative" cx="19.7" cy="12" r="1.4"/>
										</g>
										<g>
											<path class="negative" d="M8.3,23.5c-0.1,0-0.1,0-0.2-0.1c-0.2-0.1-0.3-0.4-0.2-0.6c1.6-2.9,4.7-4.7,8.1-4.7s6.4,1.8,8.1,4.7
												c0.1,0.2,0,0.5-0.2,0.6c-0.2,0.1-0.5,0-0.6-0.2C21.8,20.7,19,19,16,19s-5.8,1.6-7.3,4.3C8.6,23.5,8.5,23.5,8.3,23.5z"/>
										</g>
									</svg>
		      			</a>
		      		</h4>
		      	</div>
		     	</li>
		    </ul>
		  </li>
		  <li class="faq-question-container">
		    <a href="#" class="faq-accordion">What is Star and Marco's favorite snack?</a>
		    <ul class="menu vertical nested">
		      <li class="faq-answer">
		      	<div class="faq-answer">
		      		Marcos Super Awesome Nachos
		      	</div>
		      	<div class="faq-helpful">
		      		<h4>Was this helpful?
		      			<a href="#">
		      				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
										<g>
											<path class="positive" d="M16,32C7.2,32,0,24.8,0,16C0,7.2,7.2,0,16,0c8.8,0,16,7.2,16,16C32,24.8,24.8,32,16,32z M16,1.4
												C7.9,1.4,1.4,7.9,1.4,16c0,8.1,6.6,14.6,14.6,14.6c8.1,0,14.6-6.6,14.6-14.6C30.6,7.9,24.1,1.4,16,1.4z"/>
										</g>
										<g>
											<circle class="positive" cx="12.4" cy="12" r="1.4"/>
										</g>
										<g>
											<circle class="positive" cx="19.7" cy="12" r="1.4"/>
										</g>
										<g>
											<path class="positive" d="M16,26.8C10,26.8,5.2,22,5.2,16c0-0.2,0.2-0.5,0.5-0.5s0.5,0.2,0.5,0.5c0,5.5,4.4,9.9,9.9,9.9
												s9.9-4.4,9.9-9.9c0-0.2,0.2-0.5,0.5-0.5c0.2,0,0.5,0.2,0.5,0.5C26.8,22,22,26.8,16,26.8z"/>
										</g>
									</svg>
		      			</a>
		      			<a href="#">
		      				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 								viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
										<g>
											<path class="negative" d="M16,32C7.2,32,0,24.8,0,16C0,7.2,7.2,0,16,0c8.8,0,16,7.2,16,16C32,24.8,24.8,32,16,32z M16,1.4
												C7.9,1.4,1.4,7.9,1.4,16c0,8.1,6.6,14.6,14.6,14.6c8.1,0,14.6-6.6,14.6-14.6C30.6,7.9,24.1,1.4,16,1.4z"/>
										</g>
										<g>
											<circle class="negative" cx="12.4" cy="12" r="1.4"/>
										</g>
										<g>
											<circle class="negative" cx="19.7" cy="12" r="1.4"/>
										</g>
										<g>
											<path class="negative" d="M8.3,23.5c-0.1,0-0.1,0-0.2-0.1c-0.2-0.1-0.3-0.4-0.2-0.6c1.6-2.9,4.7-4.7,8.1-4.7s6.4,1.8,8.1,4.7
												c0.1,0.2,0,0.5-0.2,0.6c-0.2,0.1-0.5,0-0.6-0.2C21.8,20.7,19,19,16,19s-5.8,1.6-7.3,4.3C8.6,23.5,8.5,23.5,8.3,23.5z"/>
										</g>
									</svg>
		      			</a>
		      		</h4>
		      	</div>
		     	</li>
		    </ul>
		  </li>
		  <li class="faq-question-container">
		    <a href="#" class="faq-accordion">Who is more powerful: Bill Cipher or Professor X?</a>
		    <ul class="menu vertical nested">
		      <li class="faq-answer">
		      	<div class="faq-answer">
		      		While Bill Cipher has the ability to manipulate everything in the dimension, he also can only do things inside Gravity Falls. Professor X is almost as powerful, but with the ability to do it all over the world I would say he wins.
		      	</div>
		      	<div class="faq-helpful">
		      		<h4>Was this helpful?
		      			<a href="#">
		      				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
										<g>
											<path class="positive" d="M16,32C7.2,32,0,24.8,0,16C0,7.2,7.2,0,16,0c8.8,0,16,7.2,16,16C32,24.8,24.8,32,16,32z M16,1.4
												C7.9,1.4,1.4,7.9,1.4,16c0,8.1,6.6,14.6,14.6,14.6c8.1,0,14.6-6.6,14.6-14.6C30.6,7.9,24.1,1.4,16,1.4z"/>
										</g>
										<g>
											<circle class="positive" cx="12.4" cy="12" r="1.4"/>
										</g>
										<g>
											<circle class="positive" cx="19.7" cy="12" r="1.4"/>
										</g>
										<g>
											<path class="positive" d="M16,26.8C10,26.8,5.2,22,5.2,16c0-0.2,0.2-0.5,0.5-0.5s0.5,0.2,0.5,0.5c0,5.5,4.4,9.9,9.9,9.9
												s9.9-4.4,9.9-9.9c0-0.2,0.2-0.5,0.5-0.5c0.2,0,0.5,0.2,0.5,0.5C26.8,22,22,26.8,16,26.8z"/>
										</g>
									</svg>
		      			</a>
		      			<a href="#">
		      				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 								viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
										<g>
											<path class="negative" d="M16,32C7.2,32,0,24.8,0,16C0,7.2,7.2,0,16,0c8.8,0,16,7.2,16,16C32,24.8,24.8,32,16,32z M16,1.4
												C7.9,1.4,1.4,7.9,1.4,16c0,8.1,6.6,14.6,14.6,14.6c8.1,0,14.6-6.6,14.6-14.6C30.6,7.9,24.1,1.4,16,1.4z"/>
										</g>
										<g>
											<circle class="negative" cx="12.4" cy="12" r="1.4"/>
										</g>
										<g>
											<circle class="negative" cx="19.7" cy="12" r="1.4"/>
										</g>
										<g>
											<path class="negative" d="M8.3,23.5c-0.1,0-0.1,0-0.2-0.1c-0.2-0.1-0.3-0.4-0.2-0.6c1.6-2.9,4.7-4.7,8.1-4.7s6.4,1.8,8.1,4.7
												c0.1,0.2,0,0.5-0.2,0.6c-0.2,0.1-0.5,0-0.6-0.2C21.8,20.7,19,19,16,19s-5.8,1.6-7.3,4.3C8.6,23.5,8.5,23.5,8.3,23.5z"/>
										</g>
									</svg>
		      			</a>
		      		</h4>
		      	</div>
		     	</li>
		    </ul>
		  </li>
		  <li class="faq-question-container">
		    <a href="#" class="faq-accordion">How many licks does it take to get to the center of a Tootsie Roll Pop?</a>
		    <ul class="menu vertical nested">
		      <li class="faq-answer">
		      	<div class="faq-answer">
		      		Ah-one, ah-two, three.
		      	</div>
		      	<div class="faq-helpful">
		      		<h4>Was this helpful?
		      			<a href="#">
		      				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
										<g>
											<path class="positive" d="M16,32C7.2,32,0,24.8,0,16C0,7.2,7.2,0,16,0c8.8,0,16,7.2,16,16C32,24.8,24.8,32,16,32z M16,1.4
												C7.9,1.4,1.4,7.9,1.4,16c0,8.1,6.6,14.6,14.6,14.6c8.1,0,14.6-6.6,14.6-14.6C30.6,7.9,24.1,1.4,16,1.4z"/>
										</g>
										<g>
											<circle class="positive" cx="12.4" cy="12" r="1.4"/>
										</g>
										<g>
											<circle class="positive" cx="19.7" cy="12" r="1.4"/>
										</g>
										<g>
											<path class="positive" d="M16,26.8C10,26.8,5.2,22,5.2,16c0-0.2,0.2-0.5,0.5-0.5s0.5,0.2,0.5,0.5c0,5.5,4.4,9.9,9.9,9.9
												s9.9-4.4,9.9-9.9c0-0.2,0.2-0.5,0.5-0.5c0.2,0,0.5,0.2,0.5,0.5C26.8,22,22,26.8,16,26.8z"/>
										</g>
									</svg>
		      			</a>
		      			<a href="#">
		      				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 								viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
										<g>
											<path class="negative" d="M16,32C7.2,32,0,24.8,0,16C0,7.2,7.2,0,16,0c8.8,0,16,7.2,16,16C32,24.8,24.8,32,16,32z M16,1.4
												C7.9,1.4,1.4,7.9,1.4,16c0,8.1,6.6,14.6,14.6,14.6c8.1,0,14.6-6.6,14.6-14.6C30.6,7.9,24.1,1.4,16,1.4z"/>
										</g>
										<g>
											<circle class="negative" cx="12.4" cy="12" r="1.4"/>
										</g>
										<g>
											<circle class="negative" cx="19.7" cy="12" r="1.4"/>
										</g>
										<g>
											<path class="negative" d="M8.3,23.5c-0.1,0-0.1,0-0.2-0.1c-0.2-0.1-0.3-0.4-0.2-0.6c1.6-2.9,4.7-4.7,8.1-4.7s6.4,1.8,8.1,4.7
												c0.1,0.2,0,0.5-0.2,0.6c-0.2,0.1-0.5,0-0.6-0.2C21.8,20.7,19,19,16,19s-5.8,1.6-7.3,4.3C8.6,23.5,8.5,23.5,8.3,23.5z"/>
										</g>
									</svg>
		      			</a>
		      		</h4>
		      	</div>
		     	</li>
		    </ul>
		  </li>
		  <li class="faq-question-container">
		    <a href="#" class="faq-accordion">I'm watching you, nerds.</a>
		    <ul class="menu vertical nested">
		      <li class="faq-answer">
		      	<div class="faq-answer">
		      		.sdren, uoy gnihctaw m'I
		      	</div>
		      	<div class="faq-helpful">
		      		<h4>Was this helpful?
		      			<a href="#">
		      				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
										<g>
											<path class="positive" d="M16,32C7.2,32,0,24.8,0,16C0,7.2,7.2,0,16,0c8.8,0,16,7.2,16,16C32,24.8,24.8,32,16,32z M16,1.4
												C7.9,1.4,1.4,7.9,1.4,16c0,8.1,6.6,14.6,14.6,14.6c8.1,0,14.6-6.6,14.6-14.6C30.6,7.9,24.1,1.4,16,1.4z"/>
										</g>
										<g>
											<circle class="positive" cx="12.4" cy="12" r="1.4"/>
										</g>
										<g>
											<circle class="positive" cx="19.7" cy="12" r="1.4"/>
										</g>
										<g>
											<path class="positive" d="M16,26.8C10,26.8,5.2,22,5.2,16c0-0.2,0.2-0.5,0.5-0.5s0.5,0.2,0.5,0.5c0,5.5,4.4,9.9,9.9,9.9
												s9.9-4.4,9.9-9.9c0-0.2,0.2-0.5,0.5-0.5c0.2,0,0.5,0.2,0.5,0.5C26.8,22,22,26.8,16,26.8z"/>
										</g>
									</svg>
		      			</a>
		      			<a href="#">
		      				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 								viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
										<g>
											<path class="negative" d="M16,32C7.2,32,0,24.8,0,16C0,7.2,7.2,0,16,0c8.8,0,16,7.2,16,16C32,24.8,24.8,32,16,32z M16,1.4
												C7.9,1.4,1.4,7.9,1.4,16c0,8.1,6.6,14.6,14.6,14.6c8.1,0,14.6-6.6,14.6-14.6C30.6,7.9,24.1,1.4,16,1.4z"/>
										</g>
										<g>
											<circle class="negative" cx="12.4" cy="12" r="1.4"/>
										</g>
										<g>
											<circle class="negative" cx="19.7" cy="12" r="1.4"/>
										</g>
										<g>
											<path class="negative" d="M8.3,23.5c-0.1,0-0.1,0-0.2-0.1c-0.2-0.1-0.3-0.4-0.2-0.6c1.6-2.9,4.7-4.7,8.1-4.7s6.4,1.8,8.1,4.7
												c0.1,0.2,0,0.5-0.2,0.6c-0.2,0.1-0.5,0-0.6-0.2C21.8,20.7,19,19,16,19s-5.8,1.6-7.3,4.3C8.6,23.5,8.5,23.5,8.3,23.5z"/>
										</g>
									</svg>
		      			</a>
		      		</h4>
		      	</div>
		     	</li>
		    </ul>
		  </li>
		  <li class="faq-question-container">
		    <a href="#" class="faq-accordion">Who watches the Watchmen?</a>
		    <ul class="menu vertical nested">
		      <li class="faq-answer">
		      	<div class="faq-answer">
		      		That would be Bob from accounting.
		      	</div>
		      	<div class="faq-helpful">
		      		<h4>Was this helpful?
		      			<a href="#">
		      				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
										<g>
											<path class="positive" d="M16,32C7.2,32,0,24.8,0,16C0,7.2,7.2,0,16,0c8.8,0,16,7.2,16,16C32,24.8,24.8,32,16,32z M16,1.4
												C7.9,1.4,1.4,7.9,1.4,16c0,8.1,6.6,14.6,14.6,14.6c8.1,0,14.6-6.6,14.6-14.6C30.6,7.9,24.1,1.4,16,1.4z"/>
										</g>
										<g>
											<circle class="positive" cx="12.4" cy="12" r="1.4"/>
										</g>
										<g>
											<circle class="positive" cx="19.7" cy="12" r="1.4"/>
										</g>
										<g>
											<path class="positive" d="M16,26.8C10,26.8,5.2,22,5.2,16c0-0.2,0.2-0.5,0.5-0.5s0.5,0.2,0.5,0.5c0,5.5,4.4,9.9,9.9,9.9
												s9.9-4.4,9.9-9.9c0-0.2,0.2-0.5,0.5-0.5c0.2,0,0.5,0.2,0.5,0.5C26.8,22,22,26.8,16,26.8z"/>
										</g>
									</svg>
		      			</a>
		      			<a href="#">
		      				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 								viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
										<g>
											<path class="negative" d="M16,32C7.2,32,0,24.8,0,16C0,7.2,7.2,0,16,0c8.8,0,16,7.2,16,16C32,24.8,24.8,32,16,32z M16,1.4
												C7.9,1.4,1.4,7.9,1.4,16c0,8.1,6.6,14.6,14.6,14.6c8.1,0,14.6-6.6,14.6-14.6C30.6,7.9,24.1,1.4,16,1.4z"/>
										</g>
										<g>
											<circle class="negative" cx="12.4" cy="12" r="1.4"/>
										</g>
										<g>
											<circle class="negative" cx="19.7" cy="12" r="1.4"/>
										</g>
										<g>
											<path class="negative" d="M8.3,23.5c-0.1,0-0.1,0-0.2-0.1c-0.2-0.1-0.3-0.4-0.2-0.6c1.6-2.9,4.7-4.7,8.1-4.7s6.4,1.8,8.1,4.7
												c0.1,0.2,0,0.5-0.2,0.6c-0.2,0.1-0.5,0-0.6-0.2C21.8,20.7,19,19,16,19s-5.8,1.6-7.3,4.3C8.6,23.5,8.5,23.5,8.3,23.5z"/>
										</g>
									</svg>
		      			</a>
		      		</h4>
		      	</div>
		     	</li>
		    </ul>
		  </li>
		  <li class="faq-question-container">
		    <a href="#" class="faq-accordion">What does Rapunzel hit Flynn Rider with?</a>
		    <ul class="menu vertical nested">
		      <li class="faq-answer">
		      	<div class="faq-answer">
		      		A dastardly devious deceptive weapon of choice - frying pan.
		      	</div>
		      	<div class="faq-helpful">
		      		<h4>Was this helpful?
		      			<a href="#">
		      				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
										<g>
											<path class="positive" d="M16,32C7.2,32,0,24.8,0,16C0,7.2,7.2,0,16,0c8.8,0,16,7.2,16,16C32,24.8,24.8,32,16,32z M16,1.4
												C7.9,1.4,1.4,7.9,1.4,16c0,8.1,6.6,14.6,14.6,14.6c8.1,0,14.6-6.6,14.6-14.6C30.6,7.9,24.1,1.4,16,1.4z"/>
										</g>
										<g>
											<circle class="positive" cx="12.4" cy="12" r="1.4"/>
										</g>
										<g>
											<circle class="positive" cx="19.7" cy="12" r="1.4"/>
										</g>
										<g>
											<path class="positive" d="M16,26.8C10,26.8,5.2,22,5.2,16c0-0.2,0.2-0.5,0.5-0.5s0.5,0.2,0.5,0.5c0,5.5,4.4,9.9,9.9,9.9
												s9.9-4.4,9.9-9.9c0-0.2,0.2-0.5,0.5-0.5c0.2,0,0.5,0.2,0.5,0.5C26.8,22,22,26.8,16,26.8z"/>
										</g>
									</svg>
		      			</a>
		      			<a href="#">
		      				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 								viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
										<g>
											<path class="negative" d="M16,32C7.2,32,0,24.8,0,16C0,7.2,7.2,0,16,0c8.8,0,16,7.2,16,16C32,24.8,24.8,32,16,32z M16,1.4
												C7.9,1.4,1.4,7.9,1.4,16c0,8.1,6.6,14.6,14.6,14.6c8.1,0,14.6-6.6,14.6-14.6C30.6,7.9,24.1,1.4,16,1.4z"/>
										</g>
										<g>
											<circle class="negative" cx="12.4" cy="12" r="1.4"/>
										</g>
										<g>
											<circle class="negative" cx="19.7" cy="12" r="1.4"/>
										</g>
										<g>
											<path class="negative" d="M8.3,23.5c-0.1,0-0.1,0-0.2-0.1c-0.2-0.1-0.3-0.4-0.2-0.6c1.6-2.9,4.7-4.7,8.1-4.7s6.4,1.8,8.1,4.7
												c0.1,0.2,0,0.5-0.2,0.6c-0.2,0.1-0.5,0-0.6-0.2C21.8,20.7,19,19,16,19s-5.8,1.6-7.3,4.3C8.6,23.5,8.5,23.5,8.3,23.5z"/>
										</g>
									</svg>
		      			</a>
		      		</h4>
		      	</div>
		     	</li>
		    </ul>
		  </li>
		  <li class="faq-question-container">
		    <a href="#" class="faq-accordion">Who was the first Disney Princess to be blond?</a>
		    <ul class="menu vertical nested">
		      <li class="faq-answer">
		      	<div class="faq-answer">
		      		Sleeping Beauty/Briar Rose
		      	</div>
		      	<div class="faq-helpful">
		      		<h4>Was this helpful?
		      			<a href="#">
		      				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
										<g>
											<path class="positive" d="M16,32C7.2,32,0,24.8,0,16C0,7.2,7.2,0,16,0c8.8,0,16,7.2,16,16C32,24.8,24.8,32,16,32z M16,1.4
												C7.9,1.4,1.4,7.9,1.4,16c0,8.1,6.6,14.6,14.6,14.6c8.1,0,14.6-6.6,14.6-14.6C30.6,7.9,24.1,1.4,16,1.4z"/>
										</g>
										<g>
											<circle class="positive" cx="12.4" cy="12" r="1.4"/>
										</g>
										<g>
											<circle class="positive" cx="19.7" cy="12" r="1.4"/>
										</g>
										<g>
											<path class="positive" d="M16,26.8C10,26.8,5.2,22,5.2,16c0-0.2,0.2-0.5,0.5-0.5s0.5,0.2,0.5,0.5c0,5.5,4.4,9.9,9.9,9.9
												s9.9-4.4,9.9-9.9c0-0.2,0.2-0.5,0.5-0.5c0.2,0,0.5,0.2,0.5,0.5C26.8,22,22,26.8,16,26.8z"/>
										</g>
									</svg>
		      			</a>
		      			<a href="#">
		      				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 								viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
										<g>
											<path class="negative" d="M16,32C7.2,32,0,24.8,0,16C0,7.2,7.2,0,16,0c8.8,0,16,7.2,16,16C32,24.8,24.8,32,16,32z M16,1.4
												C7.9,1.4,1.4,7.9,1.4,16c0,8.1,6.6,14.6,14.6,14.6c8.1,0,14.6-6.6,14.6-14.6C30.6,7.9,24.1,1.4,16,1.4z"/>
										</g>
										<g>
											<circle class="negative" cx="12.4" cy="12" r="1.4"/>
										</g>
										<g>
											<circle class="negative" cx="19.7" cy="12" r="1.4"/>
										</g>
										<g>
											<path class="negative" d="M8.3,23.5c-0.1,0-0.1,0-0.2-0.1c-0.2-0.1-0.3-0.4-0.2-0.6c1.6-2.9,4.7-4.7,8.1-4.7s6.4,1.8,8.1,4.7
												c0.1,0.2,0,0.5-0.2,0.6c-0.2,0.1-0.5,0-0.6-0.2C21.8,20.7,19,19,16,19s-5.8,1.6-7.3,4.3C8.6,23.5,8.5,23.5,8.3,23.5z"/>
										</g>
									</svg>
		      			</a>
		      		</h4>
		      	</div>
		     	</li>
		    </ul>
		  </li>
		  <li class="faq-question-container">
		    <a href="#" class="faq-accordion">Which of the Tiki Room birds is missing?</a>
		    <ul class="menu vertical nested">
		      <li class="faq-answer">
		      	<div class="faq-answer">
		      		Rosita
		      	</div>
		      	<div class="faq-helpful">
		      		<h4>Was this helpful?
		      			<a href="#">
		      				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
										<g>
											<path class="positive" d="M16,32C7.2,32,0,24.8,0,16C0,7.2,7.2,0,16,0c8.8,0,16,7.2,16,16C32,24.8,24.8,32,16,32z M16,1.4
												C7.9,1.4,1.4,7.9,1.4,16c0,8.1,6.6,14.6,14.6,14.6c8.1,0,14.6-6.6,14.6-14.6C30.6,7.9,24.1,1.4,16,1.4z"/>
										</g>
										<g>
											<circle class="positive" cx="12.4" cy="12" r="1.4"/>
										</g>
										<g>
											<circle class="positive" cx="19.7" cy="12" r="1.4"/>
										</g>
										<g>
											<path class="positive" d="M16,26.8C10,26.8,5.2,22,5.2,16c0-0.2,0.2-0.5,0.5-0.5s0.5,0.2,0.5,0.5c0,5.5,4.4,9.9,9.9,9.9
												s9.9-4.4,9.9-9.9c0-0.2,0.2-0.5,0.5-0.5c0.2,0,0.5,0.2,0.5,0.5C26.8,22,22,26.8,16,26.8z"/>
										</g>
									</svg>
		      			</a>
		      			<a href="#">
		      				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 								viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
										<g>
											<path class="negative" d="M16,32C7.2,32,0,24.8,0,16C0,7.2,7.2,0,16,0c8.8,0,16,7.2,16,16C32,24.8,24.8,32,16,32z M16,1.4
												C7.9,1.4,1.4,7.9,1.4,16c0,8.1,6.6,14.6,14.6,14.6c8.1,0,14.6-6.6,14.6-14.6C30.6,7.9,24.1,1.4,16,1.4z"/>
										</g>
										<g>
											<circle class="negative" cx="12.4" cy="12" r="1.4"/>
										</g>
										<g>
											<circle class="negative" cx="19.7" cy="12" r="1.4"/>
										</g>
										<g>
											<path class="negative" d="M8.3,23.5c-0.1,0-0.1,0-0.2-0.1c-0.2-0.1-0.3-0.4-0.2-0.6c1.6-2.9,4.7-4.7,8.1-4.7s6.4,1.8,8.1,4.7
												c0.1,0.2,0,0.5-0.2,0.6c-0.2,0.1-0.5,0-0.6-0.2C21.8,20.7,19,19,16,19s-5.8,1.6-7.3,4.3C8.6,23.5,8.5,23.5,8.3,23.5z"/>
										</g>
									</svg>
		      			</a>
		      		</h4>
		      	</div>
		     	</li>
		    </ul>
		  </li>
		</ul>

	</div>
	<div class="large-4 columns support-knowledge-base-search">
  	<h4>Don't see your question?</h4>
  	<h4>Search our Knowledge Base</h4>
    <div class="request-box">
      <div class="request row">
        <div class="medium-10 medium-centered columns">
          <div class="search-dropdown search-bar">
            <div class="site-search-bar input-group">
              <input class="input-search-bar" type="text"/>
              <div class="input-group-button">
                <?xml version="1.0" encoding="utf-8"?>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 17">
                  <rect x="12.2" y="10" transform="translate(1 1)matrix(0.7071 -0.7071 0.7071 0.7071 -5.3589 12.9375)" class="st0" width="1.5" height="5.8"/><path class="st0" d="M7.3 14.3c-3.9 0-7-3.1-7-7 0-3.9 3.1-7 7-7 3.9 0 7 3.1 7 7C14.3 11.1 11.1 14.3 7.3 14.3zM7.3 1.8c-3 0-5.5 2.5-5.5 5.5 0 3 2.5 5.5 5.5 5.5 3 0 5.5-2.5 5.5-5.5C12.8 4.2 10.3 1.8 7.3 1.8z"/>
                </svg>
              </div>
            </div>
          </div>  
          <p>or visit</p>
          <button class="button rounded expanded">Knowledge Base</button>
        </div>
      </div>
	  </div>
	</div>
</div>

<div class="support-returns-container" id="return">
	<div class="row">
		<%= image_tag('icons/speech-bubbles.svg') %>
		<h1>Returns</h1>
		<h4>I’ve tried troubleshooting and still want to return the device</h4>
		<button class="button rounded">View Return Policy</button>
	</div>
</div>
