<%= content_tag_for :tr, case_study do %>
  <td class="admin-left-edit">
    <%= render partial: 'options_edit', locals: {object: case_study, instance_name: case_study.title} %>
  </td>
  <td style="text-align: center">
    <%= attachment_image_tag case_study, :hero_image, :fit, 80, 45, fallback: 'http://placehold.it/20/eaa800/ffffff' %>
  </td>
  <td>
    <%= link_to case_study.title, [:admin, case_study] %>
  </td>
  <td>
    <% case_study.available_locales.each do |l| %>
      <%= content_tag :span, class: 'secondary label' do %>
        <%= humanize_locale(l) %>
        <% Globalize.with_locale(l) do %>
        <%= link_to 'x', admin_case_study_path(case_study, translation_locale: l), method: :delete, data: { confirm: %(Are you sure you want to delete this #{humanize_locale l} translation? This cannot be undone.) } %>
        <% end %>
      <% end %>
    <% end %>
  </td>
  <td>
    <%= l case_study.posted_on.to_date %>
  </td>
  <td>
    <%= l case_study.updated_at.to_date %>
  </td>
  <td class="admin-right-delete">
    <%= render partial: 'options_delete', locals: {object: case_study, instance_name: case_study.title} %>
  </td>
<% end %>
