<%= form_for [:admin,@case_study], validate: true do |f| %>
  <%= label_tag :translation_locale %>
  <%= select_tag :translation_locale, options_for_select(I18n.available_locales.map { |l| ["#{humanize_locale(l)}#{' ✓' if @case_study.available_locales.include? l}", l.to_s] }, I18n.locale.to_s), id: 'translation_locale' %>

  <div class="row">
    <div class="medium-9 columns">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="medium-3 columns">
      <%= f.label :posted_on %>
      <%= f.date_field :posted_on, placeholder: 'yyyy-mm-dd' %>
    </div>
  </div>
  <div class="row">
    <div class="medium-3 columns">
      <%= f.label :flag %>
      <%= f.select :flag, COUNTRIES.invert.sort %>
    </div>
    <div class="medium-9 columns">
      <%= f.label :location %>
      <%= f.text_field :location %>
    </div>
  </div>
  <div class="row">
    <%= content_tag :div, class: 'medium-8 columns' do %>
      <%= f.label :current_hero_image %>
      <%= attachment_image_tag @case_study, :hero_image %>
    <% end if @case_study.hero_image && @case_study.hero_image.exists? %>
    <div class="medium-4 columns">
      <%= f.label :hero_image %>
      <%= f.attachment_field :hero_image, direct: true, presigned: true %>
    </div>
  </div>
  <%= f.label :subtitle %>
  <%= f.text_area :subtitle, rows: 3 %>
  <%= f.label :body %>
  <%= f.cktext_area :body, rows: 30 %>
  <div class="ui-widget">
    <%= f.label :tag_list, "Tags (separated by commas) (regions include: #{Tag::REGIONS.join(', ')})" %>
    <%= f.text_field :tag_list, value: f.object.tag_list.to_s, :id => 'auto_complete_tags' %>
  </div>
  <%= f.button nil, class: 'button radius' %>
<% end %>

<%= content_tag :div, class: "taggable_items", data: {taggable_items: @taggable_items} do %>
<% end %>
