<%= form_for @patent do |f| %>
  <%= content_tag :div, class: 'alert-box radius alert' do %>
    <strong><%= pluralize @patent.errors.count, 'error' %> kept this form from submitting:</strong>
    <ul>
      <% @patent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end if @patent.errors.any? %>
  <%= f.label :number %>
  <%= f.number_field :number %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <h3>Associated Products</h3>
  <div class="row">
  <% @product_types.each do |product_type| %>
    <div class="medium-<%= 12 / @product_types.count %> columns">
      <h4><%= product_type.name %></h4>
      <ul class="no-bullet">
        <%= f.collection_check_boxes :product_ids, product_type.products, :id, :name do |b| %>
          <li>
            <%= b.check_box %>
            <%= b.label %>
          </li>
        <% end if product_type.products %>
      </ul>
    </div>
  <% end if @product_types %>
  </div>
  <%= f.submit nil, class: 'button radius' %>
<% end %>
