<% cache patent do %>
  <%= content_tag_for :tr, patent do %>
    <td>
      <%= link_to patent, class: 'delete', data: { confirm: %(Are you sure you want to delete "#{patent.title} (##{number_with_delimiter patent.number})"? This cannot be undone.) }, method: :delete, title: %(Delete "#{patent.title}") do %>
        <i class="fa fa-trash-o"></i>
      <% end %>
    </td>
    <td>
      <%= number_with_delimiter patent.number %>
    </td>
    <td>
      <%= patent.title %>
    </td>
    <td>
      <%= patent.products.map { |p| p.name }.join(', ') %>
    </td>
    <td>
      <%= link_to edit_patent_path(patent), title: %(Edit "#{patent.title}") do %>
        <i class="fa fa-edit"></i>
      <% end %>
    </td>
  <% end %>
<% end %>
