<% cache patent do %>
  <%= content_tag_for :tr, patent do %>
    <td>
      <%= number_with_delimiter patent.number %>
    </td>
    <td>
      <%= patent.title %>
    </td>
    <td>
      <div class="admin-nav">
        <ul class="dropdown menu" data-dropdown-menu data-options="disableHover:true;clickOpen:true;">
          <li>
            <a href="#" class="ellipsis-link"><%= image_tag('icons/ellipsis.svg', class: 'small-icon') %></a>
            <ul class="menu">
              <li>
                <%= link_to edit_patent_path(patent), class: 'admin-new', title: %(Edit "#{patent.title}") do %>
                  Edit
                <% end %>
              </li>
              <li>
                <%= link_to patent, class: 'delete admin-delete', data: { confirm: %(Are you sure you want to delete "#{patent.title} (##{number_with_delimiter patent.number})"? This cannot be undone.) }, method: :delete, title: %(Delete "#{patent.title}") do %>
                  Delete
                <% end %>
              </li>
            </ul>
          </li>
        </ul>
      </div>

    </td>
  <% end %>
<% end %>
