<section class="row about-gold">
  <div class="small-12 columns">
    <h1>About Us</h1>
  </div>
  <div class="large-7 columns">
    <div class="flex-video">
      <iframe src="https://www.youtube.com/embed/OE9_JYiA7zc" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="small-10 small-pull-1 small-push-1 large-push-0 large-pull-0 large-5 columns">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mattis erat non ipsum scelerisque interdum. Fusce malesuada purus massa, consectetur luctus est condimentum eget. Nullam eu porttitor sapien, in euismod est. In vel sem vehicula ex elementum mattis eget vel sapien. Nullam in rutrum ante. Vivamus rhoncus dignissim eros, ac feugiat quam tempor sit amet. Vestibulum ullamcorper feugiat massa id pellentesque. Integer nisi mi, laoreet id tellus ac, condimentum blandit lacus. Mauris non augue malesuada, commodo ex eget, facilisis lectus. Duis sem mi, finibus id lacus non, vulputate euismod risus.</p>
    <p>Quisque eleifend elementum leo sit amet mattis. Donec mollis euismod gravida. Aenean ut posuere velit. Vivamus consectetur eu justo hendrerit laoreet. Nunc felis urna, finibus a ante mattis, malesuada luctus turpis. Proin porta non augue ut tristique. Donec eget tempor lacus. Nulla pharetra bibendum nisi eu vulputate. Mauris blandit diam nec metus feugiat ultrices.</p>
  </div>
</section>

<section class="row about-media">
  <div class="small-12 columns">
    <h1>Media Downloads</h1>
  </div>
  <div class="large-4 medium-6 columns">
  	<%= link_to(image_tag("thumb_Matrix_and_Advance.png"), image_path("full_Matrix_and_Advance.jpg")) %>
    <div class="row">
      <div class="small-6 columns">
        <p>100kb</p>
      </div>
      <div class="small-6 columns text-right">
      	<%= link_to(image_tag("icons/download-icon.svg"), image_path("full_Matrix_and_Advance.jpg")) %>
      </div>
    </div>
  </div>
  <div class="large-4 medium-6 columns">
  	<%= link_to(image_tag("thumb_Advance.png"), image_path("full_Advance.jpg")) %>
    <div class="row">
      <div class="small-6 columns">
        <p>100kb</p>
      </div>
      <div class="small-6 columns text-right">
      	<%= link_to(image_tag("icons/download-icon.svg"), image_path("full_Advance.jpg")) %>
      </div>
    </div>
  </div>
  <div class="large-4 medium-6 columns">
  	<%= link_to(image_tag("thumb_Matrix.png"), image_path("full_Matrix.jpg")) %>
    <div class="row">
      <div class="small-6 columns">
        <p>100kb</p>
      </div>
      <div class="small-6 columns text-right">
      	<%= link_to(image_tag("icons/download-icon.svg"), image_path("full_Matrix.jpg")) %>
      </div>
    </div>
  </div>
  <div class="large-4 medium-6 columns">
  	<%= link_to(image_tag("thumb_HD.png"), image_path("full_HD.jpg")) %>
    <div class="row">
      <div class="small-6 columns">
        <p>100kb</p>
      </div>
      <div class="small-6 columns text-right">
      	<%= link_to(image_tag("icons/download-icon.svg"), image_path("full_HD.jpg")) %>
      </div>
    </div>
  </div>
  <div class="large-4 medium-6 columns">
  	<%= link_to(image_tag("thumb_Advance_and_Matrix.png"), image_path("full_Advance_and_Matrix.jpg")) %>
    <div class="row">
      <div class="small-6 columns">
        <p>100kb</p>
      </div>
      <div class="small-6 columns text-right">
      	<%= link_to(image_tag("icons/download-icon.svg"), image_path("full_Advance_and_Matrix.jpg")) %>
      </div>
    </div>
  </div>
  <div class="large-4 medium-6 columns">
  	<%= link_to(image_tag("thumb_Sensor_Family.png"), image_path("full_Sensor_Family.jpg")) %>
    <div class="row">
      <div class="small-6 columns">
        <p>100kb</p>
      </div>
      <div class="small-6 columns text-right">
      	<%= link_to(image_tag("icons/download-icon.svg"), image_path("full_Sensor_Family.jpg")) %>
      </div>
    </div>
  </div>
  <div class="read-more small-12 columns">
    <a href="#">+ View More Media</a>
  </div>
</section>




