<main class="homepage" data-magellan>
	<div class="home-video">
    <div class="home-top-banner">
      <h1 class="home-header-text">Smarter <span>Traffic</span></h1>
      <h4>Starts here.</h4>
      <%= image_tag 'icons/home-dots.svg', class: 'show-for-medium' %>
      <%= button_to 'Request a Demo', nil, class: 'button large' %>
    </div>
  </div>

  <section class="home-safe" id="home-safe">
    <div class="row">
      <div class="home-safe-left-img show-for-medium">
      	<%= image_tag 'home-smart-sensor-family.png' %>
      </div>
      <div class="home-top-arrow"></div>
      <div class="home-nav-dots home-nav-dots-safe show-for-large">
        <a href="#home-safe" class="nav-dots first-dot button" alt="scroll to Safe"> </a>
        <a href="#home-efficient" class="nav-dots button" alt="scroll to Efficient"> </a>
        <a href="#home-reliable" class="nav-dots button" alt="scroll to Reliable"> </a>
        <a href="#home-cost" class="nav-dots button" alt="scroll to Cost Effective"> </a>
        <a href="#home-simple" class="nav-dots button" alt="scroll to Simple"> </a>
        <a href="#home-support" class="nav-dots button" alt="scroll to Support"> </a>
      </div>
      <div class="home-section-text">
      	<%= image_tag 'icons/blue-cross.svg' %>
        <h1>Safe</h1>
        <p class="show-for-medium">Smart traffic systems save lives, and Wavetronix radar provides the most reliable data for these systems.  Our unique, patented features help increase safety – and because Wavetronix products install above the road, they are safer for road workers as well.</p>
        <p class="show-for-small-only">Smart traffic systems save lives.</p>
      </div>
    </div>

    <div class="row">
      <div class="home-stories-container">
        <div class="home-story-left">
          <a class="owl-prev"><%= image_tag 'icons/stories-left.svg' %></a>
        </div>
        <div class="home-story-center">
          <div id="safety-carousel" class="owl-carousel safety-carousel">
            <div class="home-story">
              <a href="#">
                <div class="home-stories-image">
                  <h4 class="stories-rollover-hidden">4 Steps to Create a Truck Rollover Prevention System</h4>
                  <img src="http://placehold.it/270x152"/>
                </div>
                <h4 class="stories-rollover-shown">4 Steps to Create a Truck Rollover Prevention System</h4>
                <div class="stories-hidden-text">
                  <p>SmartSensor Matrix's high-definition corner radar is helping to make...<br/>
                  <span class="learn-more">Read More ></span></p>
                </div>
              </a>
            </div>
            <div class="home-story">
              <a href="#">
                <div class="home-stories-image">
                  <h4 class="stories-rollover-hidden">Intersection Advance Warning</h4>
                  <img src="http://placehold.it/270x152"/>
                </div>
                <h4 class="stories-rollover-shown">Intersection Advance Warning</h4>
                <div class="stories-hidden-text">
                  <p>SmartSensor Matrix's high-definition corner radar is helping to make...<br/>
                  <span class="learn-more">Read More ></span></p>
                </div>
              </a>
            </div>
            <div class="home-story">
              <a href="#">
                <div class="home-stories-image">
                  <h4 class="stories-rollover-hidden">The Evolution of Advanced Detection</h4>
                  <img src="http://placehold.it/270x152">
                </div>
                <h4 class="stories-rollover-shown">The Evolution of Advanced Detection</h4>
                <div class="stories-hidden-text">
                  <p>SmartSensor Matrix's high-definition corner radar is helping to make...<br/>
                  <span class="learn-more">Read More ></span></p>
                </div>
              </a>
            </div>
            <div class="home-story">
              <a href="#">
                <div class="home-stories-image">
                  <h4 class="stories-rollover-hidden">Safe Crossings</h4>
                  <img src="http://placehold.it/270x152"/>
                </div>
                <h4 class="stories-rollover-shown">Safe Crossings</h4>
                <div class="stories-hidden-text">
                  <p>SmartSensor Matrix's high-definition corner radar is helping to make...<br/>
                  <span class="learn-more">Read More ></span></p>
                </div>
              </a>
            </div>
            <div class="home-story">
              <a href="#">
                <div class="home-stories-image">
                  <h4 class="stories-rollover-hidden">Tustin, CA Inside a Box</h4>
                  <img src="http://placehold.it/270x152">
                </div>
                <h4 class="stories-rollover-shown">Tustin, CA Inside a Box</h4>
                <div class="stories-hidden-text">
                  <p>SmartSensor Matrix's high-definition corner radar is helping to make...<br/>
                  <span class="learn-more">Read More ></span></p>
                </div>
              </a>
            </div>
            <div class="home-story">
              <a href="#">
                <div class="home-stories-image">
                  <h4 class="stories-rollover-hidden">Running Red</h4>
                  <img src="http://placehold.it/270x152">
                </div>
                <h4 class="stories-rollover-shown">Running Red</h4>
                <div class="stories-hidden-text">
                  <p>SmartSensor Matrix's high-definition corner radar is helping to make...<br/>
                  <span class="learn-more">Read More ></span></p>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="home-story-right">
          <a class="owl-next"><%= image_tag 'icons/stories-right.svg' %></a>
        </div>
      </div>
    </div>

    <div class="home-safe-right-img">
    </div>
  </section>

  <section class="home-efficient" id="home-efficient">
  	<%= image_tag "icons/home-section-line.svg", class: "divider-img" %>
    <div class="home-efficient-left-img show-for-large">
    	<%= image_tag 'home/home-traffic-light.png' %>
    </div>
    <div class="row">
      <div class="home-nav-dots home-nav-dots-efficient show-for-large">
        <a href="#home-safe" class="nav-dots first-dot button" alt="scroll to Safe"> </a>
        <a href="#home-efficient" class="nav-dots button" alt="scroll to Efficient"> </a>
        <a href="#home-reliable" class="nav-dots button" alt="scroll to Reliable"> </a>
        <a href="#home-cost" class="nav-dots button" alt="scroll to Cost Effective"> </a>
        <a href="#home-simple" class="nav-dots button" alt="scroll to Simple"> </a>
        <a href="#home-support" class="nav-dots button" alt="scroll to Support"> </a>
      </div>
      <div class="home-section-text">
      	<%= image_tag 'icons/blue-watch.svg' %>
        <h1>Efficient</h1>
        <p class="show-for-medium">Keep traffic moving smoothly with Wavetronix radar.  Intelligent traffic systems can make traffic more efficient, but only when paired with the best detection.  Our sensors are proven to offer the most accurate and reliable detection for even greater roadway efficiency.</p>
        <p class="show-for-small-only">Keep traffic moving.</p>
      </div>
    </div>
    
    <div class="row">
      <div class="home-stories-container">
        <div class="home-story-left">
          <a class="owl-prev"><%= image_tag 'icons/stories-left-blue.svg' %></a>
        </div>
        <div class="home-story-center">
          <div id="efficiency-carousel" class="owl-carousel efficiency-carousel">
            <div class="home-story">
              <a href="#">
                <div class="home-stories-image">
                  <h4 class="stories-rollover-hidden">4 Steps to Create a Truck Rollover Prevention System</h4>
                  <img src="http://placehold.it/270x152"/>
                </div>
                <h4 class="stories-rollover-shown">4 Steps to Create a Truck Rollover Prevention System</h4>
                <div class="stories-hidden-text">
                  <p>SmartSensor Matrix's high-definition corner radar is helping to make...<br/>
                  <span class="learn-more">Read More ></span></p>
                </div>
              </a>
            </div>
            <div class="home-story">
              <a href="#">
                <div class="home-stories-image">
                  <h4 class="stories-rollover-hidden">Intersection Advance Warning</h4>
                  <img src="http://placehold.it/270x152"/>
                </div>
                <h4 class="stories-rollover-shown">Intersection Advance Warning</h4>
                <div class="stories-hidden-text">
                  <p>SmartSensor Matrix's high-definition corner radar is helping to make...<br/>
                  <span class="learn-more">Read More ></span></p>
                </div>
              </a>
            </div>
            <div class="home-story">
              <a href="#">
                <div class="home-stories-image">
                  <h4 class="stories-rollover-hidden">The Evolution of Advanced Detection</h4>
                  <img src="http://placehold.it/270x152">
                </div>
                <h4 class="stories-rollover-shown">The Evolution of Advanced Detection</h4>
                <div class="stories-hidden-text">
                  <p>SmartSensor Matrix's high-definition corner radar is helping to make...<br/>
                  <span class="learn-more">Read More ></span></p>
                </div>
              </a>
            </div>
            <div class="home-story">
              <a href="#">
                <div class="home-stories-image">
                  <h4 class="stories-rollover-hidden">Safe Crossings</h4>
                  <img src="http://placehold.it/270x152"/>
                </div>
                <h4 class="stories-rollover-shown">Safe Crossings</h4>
                <div class="stories-hidden-text">
                  <p>SmartSensor Matrix's high-definition corner radar is helping to make...<br/>
                  <span class="learn-more">Read More ></span></p>
                </div>
              </a>
            </div>
            <div class="home-story">
              <a href="#">
                <div class="home-stories-image">
                  <h4 class="stories-rollover-hidden">Tustin, CA Inside a Box</h4>
                  <img src="http://placehold.it/270x152">
                </div>
                <h4 class="stories-rollover-shown">Tustin, CA Inside a Box</h4>
                <div class="stories-hidden-text">
                  <p>SmartSensor Matrix's high-definition corner radar is helping to make...<br/>
                  <span class="learn-more">Read More ></span></p>
                </div>
              </a>
            </div>
            <div class="home-story">
              <a href="#">
                <div class="home-stories-image">
                  <h4 class="stories-rollover-hidden">Running Red</h4>
                  <img src="http://placehold.it/270x152">
                </div>
                <h4 class="stories-rollover-shown">Running Red</h4>
                <div class="stories-hidden-text">
                  <p>SmartSensor Matrix's high-definition corner radar is helping to make...<br/>
                  <span class="learn-more">Read More ></span></p>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="home-story-right">
          <a class="owl-next"><%= image_tag 'icons/stories-right-blue.svg' %></a>
        </div>
      </div>
    </div>
  </section>

  <section class="home-reliable" id="home-reliable">
    <div class="home-reliable-top">
    	<%= image_tag 'icons/home-section-line.svg', class: 'divider-img show-for-medium' %>
      <div class="row">
        <div class="home-nav-dots home-nav-dots-reliable show-for-large">
          <a href="#home-safe" class="nav-dots first-dot button" alt="scroll to Safe"> </a>
          <a href="#home-efficient" class="nav-dots button" alt="scroll to Efficient"> </a>
          <a href="#home-reliable" class="nav-dots button" alt="scroll to Reliable"> </a>
          <a href="#home-cost" class="nav-dots button" alt="scroll to Cost Effective"> </a>
          <a href="#home-simple" class="nav-dots button" alt="scroll to Simple"> </a>
          <a href="#home-support" class="nav-dots button" alt="scroll to Support"> </a>
        </div>
        <div class="home-section-text">
        	<%= image_tag 'icons/home-rain-cloud.svg' %>
          <h1>Reliable</h1>
          <p class="show-for-medium">You should demand consistent, quality performance, and with Wavetronix radar, that is what you get.  Our SmartSensors are trusted by transportation agencies because the work, providing accurate detection even in difficult weather and lighting conditions and over time.</p>
          <p class="show-for-small-only">Works in difficult conditions &amp over time.</p>
        </div>
      </div>

      <div class="row">
        <div class="home-stories-container">
          <div class="home-story-left">
            <a class="owl-prev"><%= image_tag 'icons/stories-left.svg' %></a>
          </div>
          <div class="home-story-center">
            <div id="efficiency-carousel" class="owl-carousel efficiency-carousel">
              <div class="home-story">
                <a href="#">
                  <div class="home-stories-image">
                    <h4 class="stories-rollover-hidden">4 Steps to Create a Truck Rollover Prevention System</h4>
                    <img src="http://placehold.it/270x152"/>
                  </div>
                  <h4 class="stories-rollover-shown">4 Steps to Create a Truck Rollover Prevention System</h4>
                  <div class="stories-hidden-text">
                    <p>SmartSensor Matrix's high-definition corner radar is helping to make...<br/>
                    <span class="learn-more">Read More ></span></p>
                  </div>
                </a>
              </div>
              <div class="home-story">
                <a href="#">
                  <div class="home-stories-image">
                    <h4 class="stories-rollover-hidden">Intersection Advance Warning</h4>
                    <img src="http://placehold.it/270x152"/>
                  </div>
                  <h4 class="stories-rollover-shown">Intersection Advance Warning</h4>
                  <div class="stories-hidden-text">
                    <p>SmartSensor Matrix's high-definition corner radar is helping to make...<br/>
                    <span class="learn-more">Read More ></span></p>
                  </div>
                </a>
              </div>
              <div class="home-story">
                <a href="#">
                  <div class="home-stories-image">
                    <h4 class="stories-rollover-hidden">The Evolution of Advanced Detection</h4>
                    <img src="http://placehold.it/270x152">
                  </div>
                  <h4 class="stories-rollover-shown">The Evolution of Advanced Detection</h4>
                  <div class="stories-hidden-text">
                    <p>SmartSensor Matrix's high-definition corner radar is helping to make...<br/>
                    <span class="learn-more">Read More ></span></p>
                  </div>
                </a>
              </div>
              <div class="home-story">
                <a href="#">
                  <div class="home-stories-image">
                    <h4 class="stories-rollover-hidden">Safe Crossings</h4>
                    <img src="http://placehold.it/270x152"/>
                  </div>
                  <h4 class="stories-rollover-shown">Safe Crossings</h4>
                  <div class="stories-hidden-text">
                    <p>SmartSensor Matrix's high-definition corner radar is helping to make...<br/>
                    <span class="learn-more">Read More ></span></p>
                  </div>
                </a>
              </div>
              <div class="home-story">
                <a href="#">
                  <div class="home-stories-image">
                    <h4 class="stories-rollover-hidden">Tustin, CA Inside a Box</h4>
                    <img src="http://placehold.it/270x152">
                  </div>
                  <h4 class="stories-rollover-shown">Tustin, CA Inside a Box</h4>
                  <div class="stories-hidden-text">
                    <p>SmartSensor Matrix's high-definition corner radar is helping to make...<br/>
                    <span class="learn-more">Read More ></span></p>
                  </div>
                </a>
              </div>
              <div class="home-story">
                <a href="#">
                  <div class="home-stories-image">
                    <h4 class="stories-rollover-hidden">Running Red</h4>
                    <img src="http://placehold.it/270x152">
                  </div>
                  <h4 class="stories-rollover-shown">Running Red</h4>
                  <div class="stories-hidden-text">
                    <p>SmartSensor Matrix's high-definition corner radar is helping to make...<br/>
                    <span class="learn-more">Read More ></span></p>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="home-story-right">
            <a class="owl-next"><%= image_tag 'icons/stories-right.svg' %></a>
          </div>
        </div>
      </div>

    </div>
  </section>

  <div class="home-reliable-nav-section show-for-medium">
    <div>
      <div data-sticky-container class="home-sticky-container">
        <div class="sticky" id="sticky-magellan" data-sticky data-margin-top="2.75" style="width:100%;" data-margin-bottom="0" data-top-anchor="reliableTopAnchor" data-btm-anchor="reliableTopAnchor:bottom" data-resize="sticky-magellan">
          <nav data-magellan>
            <ul class="horizontal menu magellan-side-menu">
              <li>
                <a href="#one">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="magellan-svg" style="margin-left:68px;">
                    <path class="st0" d="M16 29.9c-0.3 0-0.5-0.2-0.5-0.5v-6.8c0-0.3 0.2-0.5 0.5-0.5 0.3 0 0.5 0.2 0.5 0.5v6.8C16.5 29.6 16.3 29.9 16 29.9z"/><path class="st0" d="M16 18.8c-0.3 0-0.5-0.2-0.5-0.5v-4.1c0-0.3 0.2-0.5 0.5-0.5 0.3 0 0.5 0.2 0.5 0.5v4.1C16.5 18.6 16.3 18.8 16 18.8z"/><path class="st0" d="M16 11.3c-0.3 0-0.5-0.2-0.5-0.5V8.1c0-0.3 0.2-0.5 0.5-0.5 0.3 0 0.5 0.2 0.5 0.5v2.7C16.5 11.1 16.3 11.3 16 11.3z"/><path class="st0" d="M16 5.3c-0.3 0-0.5-0.2-0.5-0.5v-1c0-0.3 0.2-0.5 0.5-0.5 0.3 0 0.5 0.2 0.5 0.5v1C16.5 5.1 16.3 5.3 16 5.3z"/><path class="st0" d="M31.2 32c-0.3 0-0.6-0.2-0.7-0.5L22.7 1c-0.1-0.4 0.1-0.8 0.5-0.9 0.4-0.1 0.8 0.1 0.9 0.5l7.8 30.4c0.1 0.4-0.1 0.8-0.5 0.9C31.3 32 31.2 32 31.2 32z"/><path class="st0" d="M0.8 32c-0.1 0-0.1 0-0.2 0 -0.4-0.1-0.6-0.5-0.5-0.9L8 0.7c0.1-0.4 0.5-0.6 0.9-0.5C9.2 0.3 9.4 0.7 9.3 1L1.5 31.5C1.4 31.8 1.1 32 0.8 32z"/>
                  </svg>
                  <div class="magellan-panel">
                    <div class="magellan-side-bar-text">
                      <h5>Roads</h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="#two">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="magellan-svg"><rect x="-64.3" y="8" class="st0" width="21.2" height="23.3"/>
                    <path class="st0" d="M16.8 28c-4.4 0-7.6-1.4-7.6-3.4 0-0.3 0.2-0.5 0.5-0.5s0.5 0.2 0.5 0.5c0 1.1 2.8 2.4 6.6 2.4s6.6-1.2 6.6-2.4c0-0.3 0.2-0.5 0.5-0.5s0.5 0.2 0.5 0.5C24.4 26.5 21.1 28 16.8 28zM16.7 16.7c-2 0-4-0.5-5.7-1.6 -0.2-0.1-0.3-0.5-0.2-0.7 0.1-0.2 0.5-0.3 0.7-0.2 3 1.9 7.3 1.9 10.3 0 0.2-0.1 0.5-0.1 0.7 0.2s0.1 0.5-0.2 0.7C20.7 16.2 18.7 16.7 16.7 16.7zM16.7 11.6c-1.5 0-3-0.3-4.3-0.9 -0.3-0.1-0.4-0.4-0.3-0.7 0.1-0.3 0.4-0.4 0.7-0.3 2.5 1 5.4 1 7.9 0 0.3-0.1 0.5 0 0.7 0.3 0.1 0.3 0 0.5-0.3 0.7C19.7 11.3 18.2 11.6 16.7 11.6z"/><path class="st0" d="M16.8 32.7c-0.8 0-1.6-0.1-2.3-0.4l-12.2-5C1.1 26.9 1 26.2 1 25.8s0.2-1.1 1.3-1.5L9 21.6l5.2-19.7c0.1-0.9 1.6-1.1 2.5-1.1s2.4 0.1 2.5 1.1l5.2 19.7 6.8 2.8c1.1 0.5 1.3 1.1 1.3 1.5s-0.2 1.1-1.3 1.5l-12.2 5C18.4 32.6 17.6 32.7 16.8 32.7zM2.6 25.8c0.1 0 0.1 0.1 0.2 0.1l12.2 5c0.9 0.4 2.5 0.4 3.4 0l12.2-5c0.1 0 0.2-0.1 0.2-0.1 -0.1 0-0.1-0.1-0.2-0.1l-7.5-3L17.9 2.4c-0.2-0.1-0.6-0.1-1.1-0.1s-0.9 0.1-1.1 0.1l-5.4 20.3 -7.5 3C2.7 25.8 2.6 25.8 2.6 25.8z"/>
                    <path class="st0" d="M16.7 5.3h-0.9c-0.3 0-0.5-0.2-0.5-0.5s0.2-0.5 0.5-0.5h0.9c0.3 0 0.5 0.2 0.5 0.5S17 5.3 16.7 5.3z"/>
                  </svg>
                  <div class="magellan-panel mpanel2">
                    <div class="magellan-side-bar-text">
                      <h5>Construction</h5>
                      <p>test text!.</p>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="#three" class="caker">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="magellan-svg" style="margin-left:1px;">
                    <rect x="-64.3" y="8" class="st0" width="21.2" height="23.3"/><path class="st0" d="M16.7 24.7c-4.3 0-7.8-3.5-7.8-7.8S12.4 9 16.7 9c4.3 0 7.8 3.5 7.8 7.8S21.1 24.7 16.7 24.7zM16.7 10.5c-3.5 0-6.3 2.8-6.3 6.3s2.8 6.3 6.3 6.3c3.5 0 6.3-2.8 6.3-6.3S20.2 10.5 16.7 10.5z"/><path class="st0" d="M16.8 33.6c-0.4 0-0.8-0.3-0.8-0.8v-4.1c0-0.4 0.3-0.8 0.8-0.8s0.8 0.3 0.8 0.8v4.1C17.5 33.3 17.2 33.6 16.8 33.6zM28.1 28.9c-0.2 0-0.4-0.1-0.5-0.2l-2.9-2.9c-0.3-0.3-0.3-0.8 0-1.1s0.8-0.3 1.1 0l2.9 2.9c0.3 0.3 0.3 0.8 0 1.1C28.4 28.9 28.3 28.9 28.1 28.9zM5.4 28.9c-0.2 0-0.4-0.1-0.5-0.2 -0.3-0.3-0.3-0.8 0-1.1l2.9-2.9c0.3-0.3 0.8-0.3 1.1 0s0.3 0.8 0 1.1L6 28.7C5.8 28.8 5.6 28.9 5.4 28.9zM32.8 17.6h-4.1c-0.4 0-0.8-0.3-0.8-0.8s0.3-0.8 0.8-0.8h4.1c0.4 0 0.8 0.3 0.8 0.8S33.2 17.6 32.8 17.6zM4.8 17.6H0.8c-0.4 0-0.8-0.3-0.8-0.8s0.3-0.8 0.8-0.8h4.1c0.4 0 0.8 0.3 0.8 0.8S5.3 17.6 4.8 17.6zM25.2 9.2c-0.2 0-0.4-0.1-0.5-0.2 -0.3-0.3-0.3-0.8 0-1.1L27.5 5c0.3-0.3 0.8-0.3 1.1 0s0.3 0.8 0 1.1L25.7 9C25.5 9.1 25.4 9.2 25.2 9.2zM8.3 9.2C8.1 9.2 7.9 9.1 7.8 9L4.9 6.1C4.6 5.8 4.6 5.3 4.9 5s0.8-0.3 1.1 0l2.9 2.9c0.3 0.3 0.3 0.8 0 1.1C8.7 9.1 8.5 9.2 8.3 9.2zM16.7 5.7c-0.4 0-0.8-0.3-0.8-0.8V0.8c0-0.4 0.3-0.8 0.8-0.8s0.8 0.3 0.8 0.8v4.1C17.5 5.4 17.2 5.7 16.7 5.7z"/>
                  </svg>
                  <div class="magellan-panel mpanel3">
                    <div class="magellan-side-bar-text">
                      <h5>Weather &amp Lighting</h5>
                      <p>SmartSensor Advance and Matrix - both able to run and detect traffic CLICK even in difficult weather and lighting conditions.</p>
                      <p>Obviously this bar needs to be replaced. I just couldn't find it anywhere in the AI or Ill or even the Photoshop files.</p>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div id="reliableTopAnchor">
        <div class="lighting-background home-reliable-background-image scroll-stick">
          <section id="one" data-magellan-target="one">
          </section>
        </div>
        <div class="construction-background home-reliable-background-image scroll-stick">
          <section id="two" data-magellan-target="two">
          </section>
        </div>
        <div class="road-background home-reliable-background-image scroll-stick">
          <section id="three" data-magellan-target="three">
          </section>
        </div>
      </div>
    </div>
  </div>

  <div class="home-reliable-nav-section hide-for-medium">
    <div class="home-reliable-nav-mobile">
      <ul class="tabs" data-tabs id="example-tabs">
        <li class="tabs-title is-active">
          <a href="#panel1" aria-selected="true">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="magellan-svg">
              <path class="st0" d="M16 29.9c-0.3 0-0.5-0.2-0.5-0.5v-6.8c0-0.3 0.2-0.5 0.5-0.5 0.3 0 0.5 0.2 0.5 0.5v6.8C16.5 29.6 16.3 29.9 16 29.9z"/><path class="st0" d="M16 18.8c-0.3 0-0.5-0.2-0.5-0.5v-4.1c0-0.3 0.2-0.5 0.5-0.5 0.3 0 0.5 0.2 0.5 0.5v4.1C16.5 18.6 16.3 18.8 16 18.8z"/><path class="st0" d="M16 11.3c-0.3 0-0.5-0.2-0.5-0.5V8.1c0-0.3 0.2-0.5 0.5-0.5 0.3 0 0.5 0.2 0.5 0.5v2.7C16.5 11.1 16.3 11.3 16 11.3z"/><path class="st0" d="M16 5.3c-0.3 0-0.5-0.2-0.5-0.5v-1c0-0.3 0.2-0.5 0.5-0.5 0.3 0 0.5 0.2 0.5 0.5v1C16.5 5.1 16.3 5.3 16 5.3z"/><path class="st0" d="M31.2 32c-0.3 0-0.6-0.2-0.7-0.5L22.7 1c-0.1-0.4 0.1-0.8 0.5-0.9 0.4-0.1 0.8 0.1 0.9 0.5l7.8 30.4c0.1 0.4-0.1 0.8-0.5 0.9C31.3 32 31.2 32 31.2 32z"/><path class="st0" d="M0.8 32c-0.1 0-0.1 0-0.2 0 -0.4-0.1-0.6-0.5-0.5-0.9L8 0.7c0.1-0.4 0.5-0.6 0.9-0.5C9.2 0.3 9.4 0.7 9.3 1L1.5 31.5C1.4 31.8 1.1 32 0.8 32z"/>
            </svg>
          </a>
        </li>
        <li class="tabs-title">
          <a href="#panel2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="magellan-svg"><rect x="-64.3" y="8" class="st0" width="21.2" height="23.3"/>
              <path class="st0" d="M16.8 28c-4.4 0-7.6-1.4-7.6-3.4 0-0.3 0.2-0.5 0.5-0.5s0.5 0.2 0.5 0.5c0 1.1 2.8 2.4 6.6 2.4s6.6-1.2 6.6-2.4c0-0.3 0.2-0.5 0.5-0.5s0.5 0.2 0.5 0.5C24.4 26.5 21.1 28 16.8 28zM16.7 16.7c-2 0-4-0.5-5.7-1.6 -0.2-0.1-0.3-0.5-0.2-0.7 0.1-0.2 0.5-0.3 0.7-0.2 3 1.9 7.3 1.9 10.3 0 0.2-0.1 0.5-0.1 0.7 0.2s0.1 0.5-0.2 0.7C20.7 16.2 18.7 16.7 16.7 16.7zM16.7 11.6c-1.5 0-3-0.3-4.3-0.9 -0.3-0.1-0.4-0.4-0.3-0.7 0.1-0.3 0.4-0.4 0.7-0.3 2.5 1 5.4 1 7.9 0 0.3-0.1 0.5 0 0.7 0.3 0.1 0.3 0 0.5-0.3 0.7C19.7 11.3 18.2 11.6 16.7 11.6z"/><path class="st0" d="M16.8 32.7c-0.8 0-1.6-0.1-2.3-0.4l-12.2-5C1.1 26.9 1 26.2 1 25.8s0.2-1.1 1.3-1.5L9 21.6l5.2-19.7c0.1-0.9 1.6-1.1 2.5-1.1s2.4 0.1 2.5 1.1l5.2 19.7 6.8 2.8c1.1 0.5 1.3 1.1 1.3 1.5s-0.2 1.1-1.3 1.5l-12.2 5C18.4 32.6 17.6 32.7 16.8 32.7zM2.6 25.8c0.1 0 0.1 0.1 0.2 0.1l12.2 5c0.9 0.4 2.5 0.4 3.4 0l12.2-5c0.1 0 0.2-0.1 0.2-0.1 -0.1 0-0.1-0.1-0.2-0.1l-7.5-3L17.9 2.4c-0.2-0.1-0.6-0.1-1.1-0.1s-0.9 0.1-1.1 0.1l-5.4 20.3 -7.5 3C2.7 25.8 2.6 25.8 2.6 25.8z"/>
              <path class="st0" d="M16.7 5.3h-0.9c-0.3 0-0.5-0.2-0.5-0.5s0.2-0.5 0.5-0.5h0.9c0.3 0 0.5 0.2 0.5 0.5S17 5.3 16.7 5.3z"/>
            </svg>
          </a>
        </li>
        <li class="tabs-title">
          <a href="#panel3">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="magellan-svg">
              <rect x="-64.3" y="8" class="st0" width="21.2" height="23.3"/><path class="st0" d="M16.7 24.7c-4.3 0-7.8-3.5-7.8-7.8S12.4 9 16.7 9c4.3 0 7.8 3.5 7.8 7.8S21.1 24.7 16.7 24.7zM16.7 10.5c-3.5 0-6.3 2.8-6.3 6.3s2.8 6.3 6.3 6.3c3.5 0 6.3-2.8 6.3-6.3S20.2 10.5 16.7 10.5z"/><path class="st0" d="M16.8 33.6c-0.4 0-0.8-0.3-0.8-0.8v-4.1c0-0.4 0.3-0.8 0.8-0.8s0.8 0.3 0.8 0.8v4.1C17.5 33.3 17.2 33.6 16.8 33.6zM28.1 28.9c-0.2 0-0.4-0.1-0.5-0.2l-2.9-2.9c-0.3-0.3-0.3-0.8 0-1.1s0.8-0.3 1.1 0l2.9 2.9c0.3 0.3 0.3 0.8 0 1.1C28.4 28.9 28.3 28.9 28.1 28.9zM5.4 28.9c-0.2 0-0.4-0.1-0.5-0.2 -0.3-0.3-0.3-0.8 0-1.1l2.9-2.9c0.3-0.3 0.8-0.3 1.1 0s0.3 0.8 0 1.1L6 28.7C5.8 28.8 5.6 28.9 5.4 28.9zM32.8 17.6h-4.1c-0.4 0-0.8-0.3-0.8-0.8s0.3-0.8 0.8-0.8h4.1c0.4 0 0.8 0.3 0.8 0.8S33.2 17.6 32.8 17.6zM4.8 17.6H0.8c-0.4 0-0.8-0.3-0.8-0.8s0.3-0.8 0.8-0.8h4.1c0.4 0 0.8 0.3 0.8 0.8S5.3 17.6 4.8 17.6zM25.2 9.2c-0.2 0-0.4-0.1-0.5-0.2 -0.3-0.3-0.3-0.8 0-1.1L27.5 5c0.3-0.3 0.8-0.3 1.1 0s0.3 0.8 0 1.1L25.7 9C25.5 9.1 25.4 9.2 25.2 9.2zM8.3 9.2C8.1 9.2 7.9 9.1 7.8 9L4.9 6.1C4.6 5.8 4.6 5.3 4.9 5s0.8-0.3 1.1 0l2.9 2.9c0.3 0.3 0.3 0.8 0 1.1C8.7 9.1 8.5 9.2 8.3 9.2zM16.7 5.7c-0.4 0-0.8-0.3-0.8-0.8V0.8c0-0.4 0.3-0.8 0.8-0.8s0.8 0.3 0.8 0.8v4.1C17.5 5.4 17.2 5.7 16.7 5.7z"/>
            </svg>
          </a>
        </li>
      </ul>
      <div class="tabs-content" data-tabs-content="example-tabs">
        <div class="tabs-panel is-active" id="panel1">
          <h4>Weather and Lighting Conditions</h4>
          <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
        </div>
        <div class="tabs-panel" id="panel2">
          <h4>Construction</h4>
          <p>Suspendisse dictum feugiat nisl ut dapibus.  Vivamus hendrerit arcu sed erat molestie vehicula. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor.  Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.</p>
        </div>
        <div class="tabs-panel" id="panel3">
          <h4>Roads</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
        </div>
      </div>
    </div>
  </div>

  <section class="home-cost" id="home-cost">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 84" class="divider-img home-divider">
      <path class="st0" d="M2.5 80.1V0h-1v80.1C0.6 80.3 0 81.1 0 82c0 1.1 0.9 2 2 2s2-0.9 2-2C4 81.1 3.4 80.3 2.5 80.1z"/>
    </svg>
    <div class="row">
      <div class="home-nav-dots home-nav-dots-cost show-for-large">
        <a href="#home-safe" class="nav-dots first-dot button" alt="scroll to Safe"> </a>
        <a href="#home-efficient" class="nav-dots button" alt="scroll to Efficient"> </a>
        <a href="#home-reliable" class="nav-dots button" alt="scroll to Reliable"> </a>
        <a href="#home-cost" class="nav-dots button" alt="scroll to Cost Effective"> </a>
        <a href="#home-simple" class="nav-dots button" alt="scroll to Simple"> </a>
        <a href="#home-support" class="nav-dots button" alt="scroll to Support"> </a>
      </div>
      <div class="home-section-text">
        <%= image_tag 'icons/white-dollar.svg' %>
        <h1>Cost <span>Effective</span></h1>
        <p class="show-for-medium">Wavetronix radar provides better value than competitive devices.  One Wavetronix sensor covers multiple lanes, reducing the number of devices needed.  They are simple to install, saving time and money up front.  And they last for years without routine maintenance for long-term savings.</p>
        <p class="show-for-small-only">Saving time &amp money up front and over time.</p>
      </div>
    </div>
    
    <div class="row">
      <div class="home-stories-container">
        <div class="home-story-left">
          <a class="owl-prev"><%= image_tag 'icons/stories-left.svg' %></a>
        </div>
        <div class="home-story-center">
          <div id="efficiency-carousel" class="owl-carousel efficiency-carousel">
            <div class="home-story">
              <a href="#">
                <div class="home-stories-image">
                  <h4 class="stories-rollover-hidden">4 Steps to Create a Truck Rollover Prevention System</h4>
                  <img src="http://placehold.it/270x152"/>
                </div>
                <h4 class="stories-rollover-shown">4 Steps to Create a Truck Rollover Prevention System</h4>
                <div class="stories-hidden-text">
                  <p>SmartSensor Matrix's high-definition corner radar is helping to make...<br/>
                  <span class="learn-more">Read More ></span></p>
                </div>
              </a>
            </div>
            <div class="home-story">
              <a href="#">
                <div class="home-stories-image">
                  <h4 class="stories-rollover-hidden">Intersection Advance Warning</h4>
                  <img src="http://placehold.it/270x152"/>
                </div>
                <h4 class="stories-rollover-shown">Intersection Advance Warning</h4>
                <div class="stories-hidden-text">
                  <p>SmartSensor Matrix's high-definition corner radar is helping to make...<br/>
                  <span class="learn-more">Read More ></span></p>
                </div>
              </a>
            </div>
            <div class="home-story">
              <a href="#">
                <div class="home-stories-image">
                  <h4 class="stories-rollover-hidden">The Evolution of Advanced Detection</h4>
                  <img src="http://placehold.it/270x152">
                </div>
                <h4 class="stories-rollover-shown">The Evolution of Advanced Detection</h4>
                <div class="stories-hidden-text">
                  <p>SmartSensor Matrix's high-definition corner radar is helping to make...<br/>
                  <span class="learn-more">Read More ></span></p>
                </div>
              </a>
            </div>
            <div class="home-story">
              <a href="#">
                <div class="home-stories-image">
                  <h4 class="stories-rollover-hidden">Safe Crossings</h4>
                  <img src="http://placehold.it/270x152"/>
                </div>
                <h4 class="stories-rollover-shown">Safe Crossings</h4>
                <div class="stories-hidden-text">
                  <p>SmartSensor Matrix's high-definition corner radar is helping to make...<br/>
                  <span class="learn-more">Read More ></span></p>
                </div>
              </a>
            </div>
            <div class="home-story">
              <a href="#">
                <div class="home-stories-image">
                  <h4 class="stories-rollover-hidden">Tustin, CA Inside a Box</h4>
                  <img src="http://placehold.it/270x152">
                </div>
                <h4 class="stories-rollover-shown">Tustin, CA Inside a Box</h4>
                <div class="stories-hidden-text">
                  <p>SmartSensor Matrix's high-definition corner radar is helping to make...<br/>
                  <span class="learn-more">Read More ></span></p>
                </div>
              </a>
            </div>
            <div class="home-story">
              <a href="#">
                <div class="home-stories-image">
                  <h4 class="stories-rollover-hidden">Running Red</h4>
                  <img src="http://placehold.it/270x152">
                </div>
                <h4 class="stories-rollover-shown">Running Red</h4>
                <div class="stories-hidden-text">
                  <p>SmartSensor Matrix's high-definition corner radar is helping to make...<br/>
                  <span class="learn-more">Read More ></span></p>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="home-story-right">
          <a class="owl-next"><%= image_tag 'icons/stories-right.svg' %></a>
        </div>
      </div>
    </div>

    <div class="home-cost-sensor">
      <div class="home-cost-loopsaddup-background">
        <div class="cost-loops">
        </div>
      </div>
      <div class="home-cost-loopsaddup-background">
        <div class="cost-one-sensor">
        </div>
      </div>
    </div>
  </section>

  <section class="home-simple" id="home-simple">
    <div class="row">
      <div class="home-nav-dots home-nav-dots-simple show-for-large">
        <a href="#home-safe" class="nav-dots first-dot button" alt="scroll to Safe"> </a>
        <a href="#home-efficient" class="nav-dots button" alt="scroll to Efficient"> </a>
        <a href="#home-reliable" class="nav-dots button" alt="scroll to Reliable"> </a>
        <a href="#home-cost" class="nav-dots button" alt="scroll to Cost Effective"> </a>
        <a href="#home-simple" class="nav-dots button" alt="scroll to Simple"> </a>
        <a href="#home-support" class="nav-dots button" alt="scroll to Support"> </a>
      </div>
      <div class="simple-background">
      <div class="medium-8 columns end white-backer">
        <div class="home-section-text">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 84" class="simple-divider-img">
            <path class="st0" d="M2.5 80.1V0h-1v80.1C0.6 80.3 0 81.1 0 82c0 1.1 0.9 2 2 2s2-0.9 2-2C4 81.1 3.4 80.3 2.5 80.1z"/>
          </svg>
          <%= image_tag 'icons/blue-cross.svg' %>
          <h2>Simplicity</h2>
          <p>Wavetronix radar is designed to solve complex traffic problems as simply as possible.  Our non-intrusive sensors are easy to install and can be configured quickly with minimal effort.  All Wavetronix products are designed to help you simply create smarter traffic.</p>
        </div>

        <div class="row">
          <div class="two-home-stories-container">
            <div class="home-story-left">
              <a class="owl-prev"><%= image_tag 'icons/stories-left.svg' %></a>
            </div>
            <div class="home-story-center">
              <div id="efficiency-carousel" class="owl-carousel efficiency-carousel">
                <div class="home-story">
                  <a href="#">
                    <div class="home-stories-image">
                      <h4 class="stories-rollover-hidden">4 Steps to Create a Truck Rollover Prevention System</h4>
                      <img src="http://placehold.it/270x152"/>
                    </div>
                    <h4 class="stories-rollover-shown">4 Steps to Create a Truck Rollover Prevention System</h4>
                    <div class="stories-hidden-text">
                      <p>SmartSensor Matrix's high-definition corner radar is helping to make...<br/>
                      <span class="learn-more">Read More ></span></p>
                    </div>
                  </a>
                </div>
                <div class="home-story">
                  <a href="#">
                    <div class="home-stories-image">
                      <h4 class="stories-rollover-hidden">Intersection Advance Warning</h4>
                      <img src="http://placehold.it/270x152"/>
                    </div>
                    <h4 class="stories-rollover-shown">Intersection Advance Warning</h4>
                    <div class="stories-hidden-text">
                      <p>SmartSensor Matrix's high-definition corner radar is helping to make...<br/>
                      <span class="learn-more">Read More ></span></p>
                    </div>
                  </a>
                </div>
                <div class="home-story">
                  <a href="#">
                    <div class="home-stories-image">
                      <h4 class="stories-rollover-hidden">The Evolution of Advanced Detection</h4>
                      <img src="http://placehold.it/270x152">
                    </div>
                    <h4 class="stories-rollover-shown">The Evolution of Advanced Detection</h4>
                    <div class="stories-hidden-text">
                      <p>SmartSensor Matrix's high-definition corner radar is helping to make...<br/>
                      <span class="learn-more">Read More ></span></p>
                    </div>
                  </a>
                </div>
                <div class="home-story">
                  <a href="#">
                    <div class="home-stories-image">
                      <h4 class="stories-rollover-hidden">Safe Crossings</h4>
                      <img src="http://placehold.it/270x152"/>
                    </div>
                    <h4 class="stories-rollover-shown">Safe Crossings</h4>
                    <div class="stories-hidden-text">
                      <p>SmartSensor Matrix's high-definition corner radar is helping to make...<br/>
                      <span class="learn-more">Read More ></span></p>
                    </div>
                  </a>
                </div>
                <div class="home-story">
                  <a href="#">
                    <div class="home-stories-image">
                      <h4 class="stories-rollover-hidden">Tustin, CA Inside a Box</h4>
                      <img src="http://placehold.it/270x152">
                    </div>
                    <h4 class="stories-rollover-shown">Tustin, CA Inside a Box</h4>
                    <div class="stories-hidden-text">
                      <p>SmartSensor Matrix's high-definition corner radar is helping to make...<br/>
                      <span class="learn-more">Read More ></span></p>
                    </div>
                  </a>
                </div>
                <div class="home-story">
                  <a href="#">
                    <div class="home-stories-image">
                      <h4 class="stories-rollover-hidden">Running Red</h4>
                      <img src="http://placehold.it/270x152">
                    </div>
                    <h4 class="stories-rollover-shown">Running Red</h4>
                    <div class="stories-hidden-text">
                      <p>SmartSensor Matrix's high-definition corner radar is helping to make...<br/>
                      <span class="learn-more">Read More ></span></p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="home-story-right">
              <a class="owl-next"><%= image_tag 'icons/stories-right.svg' %></a>
            </div>
          </div>
        </div>

      </div>
      </div>
    </div>
  </section>

  <section class="home-support">
    <div class="support-image-backer">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 84" class="divider-img home-divider">
        <path class="st0" d="M2.5 80.1V0h-1v80.1C0.6 80.3 0 81.1 0 82c0 1.1 0.9 2 2 2s2-0.9 2-2C4 81.1 3.4 80.3 2.5 80.1z"/>
      </svg>
      <div class="row">
        <div class="home-nav-dots home-nav-dots-support show-for-large">
          <a href="#home-safe" class="nav-dots first-dot button" alt="scroll to Safe"> </a>
          <a href="#home-efficient" class="nav-dots button" alt="scroll to Efficient"> </a>
          <a href="#home-reliable" class="nav-dots button" alt="scroll to Reliable"> </a>
          <a href="#home-cost" class="nav-dots button" alt="scroll to Cost Effective"> </a>
          <a href="#home-simple" class="nav-dots button" alt="scroll to Simple"> </a>
          <a href="#home-support" class="nav-dots button" alt="scroll to Support"> </a>
        </div>
      </div>
    </div>
    <div class="row" id="home-support">
      <div class="support-white-backer">
        <%= image_tag 'icons/home-section-line.svg', class: 'divider-img' %>
        <div class="home-section-text">
          <%= image_tag 'icons/support-icon.svg' %>
          <h2>Support</h2>
          <p>We are here to help every step of the way, from planning to roadside installation and beyond.  Wavetronix experts can provide answers and technical training to help you find the results you are looking for. At Wavetronix, we don’t succeed until you do.</p>
        </div>
        <div class="row">
          <div class="home-stories-container">
            <div class="home-story-left">
              <a class="owl-prev"><%= image_tag 'icons/stories-left.svg' %></a>
            </div>
            <div class="home-story-center">
              <div id="efficiency-carousel" class="owl-carousel efficiency-carousel">
                <div class="home-story">
                  <a href="#">
                    <div class="home-stories-image">
                      <h4 class="stories-rollover-hidden">4 Steps to Create a Truck Rollover Prevention System</h4>
                      <img src="http://placehold.it/270x152"/>
                    </div>
                    <h4 class="stories-rollover-shown">4 Steps to Create a Truck Rollover Prevention System</h4>
                    <div class="stories-hidden-text">
                      <p>SmartSensor Matrix's high-definition corner radar is helping to make...<br/>
                      <span class="learn-more">Read More ></span></p>
                    </div>
                  </a>
                </div>
                <div class="home-story">
                  <a href="#">
                    <div class="home-stories-image">
                      <h4 class="stories-rollover-hidden">Intersection Advance Warning</h4>
                      <img src="http://placehold.it/270x152"/>
                    </div>
                    <h4 class="stories-rollover-shown">Intersection Advance Warning</h4>
                    <div class="stories-hidden-text">
                      <p>SmartSensor Matrix's high-definition corner radar is helping to make...<br/>
                      <span class="learn-more">Read More ></span></p>
                    </div>
                  </a>
                </div>
                <div class="home-story">
                  <a href="#">
                    <div class="home-stories-image">
                      <h4 class="stories-rollover-hidden">The Evolution of Advanced Detection</h4>
                      <img src="http://placehold.it/270x152">
                    </div>
                    <h4 class="stories-rollover-shown">The Evolution of Advanced Detection</h4>
                    <div class="stories-hidden-text">
                      <p>SmartSensor Matrix's high-definition corner radar is helping to make...<br/>
                      <span class="learn-more">Read More ></span></p>
                    </div>
                  </a>
                </div>
                <div class="home-story">
                  <a href="#">
                    <div class="home-stories-image">
                      <h4 class="stories-rollover-hidden">Safe Crossings</h4>
                      <img src="http://placehold.it/270x152"/>
                    </div>
                    <h4 class="stories-rollover-shown">Safe Crossings</h4>
                    <div class="stories-hidden-text">
                      <p>SmartSensor Matrix's high-definition corner radar is helping to make...<br/>
                      <span class="learn-more">Read More ></span></p>
                    </div>
                  </a>
                </div>
                <div class="home-story">
                  <a href="#">
                    <div class="home-stories-image">
                      <h4 class="stories-rollover-hidden">Tustin, CA Inside a Box</h4>
                      <img src="http://placehold.it/270x152">
                    </div>
                    <h4 class="stories-rollover-shown">Tustin, CA Inside a Box</h4>
                    <div class="stories-hidden-text">
                      <p>SmartSensor Matrix's high-definition corner radar is helping to make...<br/>
                      <span class="learn-more">Read More ></span></p>
                    </div>
                  </a>
                </div>
                <div class="home-story">
                  <a href="#">
                    <div class="home-stories-image">
                      <h4 class="stories-rollover-hidden">Running Red</h4>
                      <img src="http://placehold.it/270x152">
                    </div>
                    <h4 class="stories-rollover-shown">Running Red</h4>
                    <div class="stories-hidden-text">
                      <p>SmartSensor Matrix's high-definition corner radar is helping to make...<br/>
                      <span class="learn-more">Read More ></span></p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="home-story-right">
              <a class="owl-next"><%= image_tag 'icons/stories-right.svg' %></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

</main>