<li><%= link_to 'Manage Patents', patents_path %></li>
<li><%= link_to 'Manage Return Material Authorization Policies', return_material_authorization_policy_documents_path %></li>
<li><%= link_to 'Manage Sales Terms and Conditions', sales_terms_and_conditions_documents_path %></li>
<li><%= link_to 'Manage Website Privacy Policies', website_privacy_policy_documents_path %></li>
<li><%= link_to 'Manage Website Terms of Use', website_terms_of_use_documents_path %></li>
