

    <%= f.nested_fields_for :training_event_courses do |tec| %>
      
      <h3><%= tec.object.title_by_id(tec.object.training_course_id) %></h3>
      <%= tec.nested_fields_for :enrollments do |builder| %>
        <div class="row">
          <div class="medium-3 columns">
            <%= builder.label :first_name %>
            <%= builder.text_field :first_name %>
          </div>
          <div class="medium-3 columns">
            <%= builder.label :last_name %>
            <%= builder.text_field :last_name %>
          </div>
          <div class="medium-3 columns">
            <%= builder.label :email %>
            <%= builder.text_field :email %>
          </div>
          <div class="medium-3 columns">
            <%= builder.remove_nested_fields_link 'Remove this Enrollment' %>
          </div>
        </div>      
        
      <% end %>
      <%= tec.add_nested_fields_link :enrollments, 'Add another Enrollment' %>
    <% end %>
