

<div class="row">
    <div class="medium-12 columns">
        <div>
            <h1><%= @training_event.title %></h1>
            <h3><%= @training_event.location %></h3>
            <h3><%= @training_event.description %></h3>
            <h3>Start date: <%= @training_event.started_at.to_date %></h3>
            <h3>End Date: <%= @training_event.ended_at.to_date %></h3>
        </div>
    <div>
    
    <h1>Training Event Courses</h1>
    <% @training_event.training_event_courses.each do |training_event_course| %>
    <div style="border:1px solid grey; margin:10px; padding:10px">
        <h3><%= training_event_course.title %></h3>
        <div class="row">
            <div class="medium-3 columns">
                <h3>Capacity: <%= training_event_course.seats %></h3>
            </div>
            <div class="medium-3 columns">
                <h3>Room: <%= training_event_course.room %></h3>
            </div>
            <div class="medium-3 columns">
                <h3>Starts at: <%=  training_event_course.started_at %></h3>
            </div>
            <div class="medium-3 columns">
                <h3>Ends at: <%=  training_event_course.ended_at %></h3>
            </div>
        </div>

        
        <h3>Enrollments</h3>
        <div class="row">            
            <ol>
            <% training_event_course.enrollments.each do |enrollment| %>                
            
                <div class="medium-12 columns">
                    <li><%= enrollment.first_name %>  <%= enrollment.last_name %> <%= enrollment.email %> </li>
                </div>            
            <% end %> 
            </ol>           
        </div>    
    </div>
    <% end %>    
</div><!--end row-->