

<div class="row">
    <div class="medium-12 columns">
        <div>
            <h1><%= @training_event.title %></h1>
            <h3><%= @training_event.location %></h3>
            <h3><%= @training_event.description %></h3>
            <h3><%= @training_event.started_at %></h3>
            <h3><%= @training_event.ended_at %></h3>
        </div>
    <div>
    
    <h1>Training Event Courses</h1>
    <% @training_event.training_event_courses.each do |tec| %>
    <div style="border:1px solid grey; margin:10px; padding:10px">
        <h3><%= tec.title %></h3>
        <div class="row">
            <div class="medium-4 columns">
                <h4>Capacity: <%= tec.seats %></h4>
            </div>
            <div class="medium-8 columns">
                <h4><%= tec.started_at %></h4>
            </div>
        </div>

        
        <h3>Enrollments</h3>
        <div class="row">            
            <ol>
            <% tec.enrollments.each do |enrollment| %>                
            
                <div class="medium-12 columns">
                    <li><%= enrollment.first_name %>  <%= enrollment.last_name %> <%= enrollment.email %> </li>
                </div>            
            <% end %> 
            </ol>           
        </div>    
    </div>
    <% end %>    
</div><!--end row-->