<h1>New Training Event Request!</h1>

<p>Training Event Request</p>
<ul>
    <li><%= TrainingEventRequest.human_attribute_name(:company_name) %>: <%= @training_event_request.company_name %></li>
    <li><%= TrainingEventRequest.human_attribute_name(:full_name) %>: <%= @training_event_request.full_name %></li>
    <li><%= TrainingEventRequest.human_attribute_name(:email) %>: <%= @training_event_request.email %></li>
    <li><%= TrainingEventRequest.human_attribute_name(:phone) %>: <%= @training_event_request.phone %></li>
    <li><%= TrainingEventRequest.human_attribute_name(:address) %>: <%= @training_event_request.address %></li>
    <li><%= TrainingEventRequest.human_attribute_name(:locality) %>: <%= @training_event_request.locality %></li>
    <li><%= TrainingEventRequest.human_attribute_name(:region) %>: <%= @training_event_request.region %></li>
    <li><%= TrainingEventRequest.human_attribute_name(:postal_code) %>: <%= @training_event_request.postal_code %></li>
    <li><%= TrainingEventRequest.human_attribute_name(:country_id) %>: <%= t "countries.#{@training_event_request.country_id}"%></li>
    <li><%= TrainingEventRequest.human_attribute_name(:started_at) %>: <%= l @training_event_request.started_at.to_date, format: :long %></li>
    <li><%= TrainingEventRequest.human_attribute_name(:ended_at) %>: <%= l @training_event_request.ended_at.to_date, format: :long %></li>
    <li><%= TrainingEventRequest.human_attribute_name(:capacity) %>: <%= @training_event_request.capacity %></li>
</ul>
<p>Courses Requested</p>
<ul>
   <% @training_courses.each do |course| %>
   <li><%= course.title %></li>
   <%end%>
</ul>
<p>To respond to this request, just reply to this email.</p>
