<% content_for :title, @website_privacy_policy_document.title %>
<h1>
  <%= @website_privacy_policy_document.title %>
  <ul class="button-group radius">
    <li>
      <%= link_to edit_website_privacy_policy_document_path(@website_privacy_policy_document), class: "button tiny secondary" do %>
        <span class="fa fa-edit"></span>
        Edit
      <% end %>
    </li>
    <li>
      <%= link_to @website_privacy_policy_document, class: "button tiny secondary", data: { confirm: %(Are you sure you want to delete the "#{l @website_privacy_policy_document.effective_on, format: :long} #{@website_privacy_policy_document.title} Document"?\n\nThis cannot be undone.) }, method: :delete do %>
        <span class="fa fa-trash-o"></span>
        Delete
      <% end %>
    </li>
  </ul>
</h1>
<section>
  <p>(Effective <%= l @website_privacy_policy_document.effective_on, format: :long %>)</p>
  <%= raw markdown(@website_privacy_policy_document.body) %>
</section>
<section>
  <p>
    <%= link_to "Archive", website_privacy_policy_documents_path, class: "more" %>
  </p>
</section>
