<%= content_tag_for :tr, office do %>
  <td class="handle admin-table-move">
    <%= image_tag 'icons/ellipsisup-small.svg', class: 'small-icon' %>
  </td>
  <td class="admin-left-edit">
    <%= render partial: 'options_edit', locals: {object: office, instance_name: office.name} %>
  </td>
  <td>
    <%= link_to office.name, [:admin, office] %>
  </td>
  <td>
    <%= office.region %>
  </td>
  <td>
    <%= t "countries.#{office.country}" %>
  </td>
  <td class="admin-right-delete">
    <%= render partial: 'options_delete', locals: {object: office, instance_name: office.name} %>
  </td>
<% end %>
