<%= form_for @product_category do |f| %>
  <%= content_tag :div, class: 'alert-box radius alert' do %>
    <strong><%= pluralize @product_category.errors.count, 'error' %> kept this form from submitting:</strong>
    <ul>
      <% @product_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end if @product_category.errors.any? %>
  <%= f.label :product_type_id %>
  <%= f.select :product_type_id, ProductType.all.collect { |pl| [pl.name, pl.id] } %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :description %>
  <%= f.text_area :description, rows: 5 %>

  <%= f.hidden_field :icon, value: @product_category.cached_icon_data %>
  <div class="row">
    <div class="medium-6 columns">
      <%= f.label :icon %>
      <%= f.file_field :icon %>
    </div>
    <div class="medium-6 columns">
      <p><%= link_to 'Preview', @product_category.icon_url(public: true), class: 'goto-new' if @product_category.icon %></p>
    </div>
  </div>

  <%= f.hidden_field :billboard, value: @product_category.cached_billboard_data %>
  <div class="row">
    <div class="medium-6 columns">
      <%= f.label :billboard %>
      <%= f.file_field :billboard, data: {'presigned-route': '/images/cache/presigned'} %>
    </div>
    <div class="medium-6 columns">
      <p><%= link_to 'Preview', @product_category.billboard_url(public: true), class: 'goto-new' if @product_category.billboard %></p>
    </div>
  </div>

  <%= f.submit nil, class: 'button radius' %>
<% end %>
