<% cache list_item do %>
  <%= content_tag_for :tr, list_item do %>
    <td>
      <%= list_item.name %>
    </td>
    <td>
      <%= list_item.product_type.name %>
    </td>
    <td>
      <div class="admin-nav">
        <ul class="dropdown menu" data-dropdown-menu data-options="disableHover:true;clickOpen:true;">
          <li>
            <a href="#" class="ellipsis-link"><%= image_tag('icons/ellipsis16.svg', class: 'small-icon') %></a>
            <ul class="menu">
              <li>
                <%= link_to edit_product_category_path(list_item), class: 'admin-edit', title: %(Edit "#{list_item.name}") do %>
                  Edit
                <% end %>
              </li>
              <li>
                <%= link_to product_category_path(list_item), class: 'delete admin-delete', data: { confirm: %(Are you sure you want to delete "#{list_item.name}"? This cannot be undone.) }, method: :delete, title: %(Delete "#{list_item.name}") do %>
                  Delete
                <% end %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </td>
    <td class="handle">
      <%= image_tag('icons/ellipsisup-small.svg', class: 'small-icon') %>
    </td>
  <% end %>
<% end %>
