<% cache product_category do %>
  <section class="products-type-box">
    <div class="products-category-image-backer" style="background-image: url('<%# attachment_url product_category, :background_image, :fill, 1920, 1080%>http://placehold.it/1920x1080')"></div>
    <div class="row">
      <div class="products-white-backer large-10 large-centered columns">
        <div>
          <%# attachment_image_tag product_category, :icon, :fill, 32, 32 %>
          <%= image_tag "icons/road-icon.svg", class: "icon" %>
          <h1>
            <%= product_category.name %>
            <div class="admin-nav">
              <ul class="dropdown menu" data-dropdown-menu data-options="disableHover:true;clickOpen:true;">
                <li>
                  <a href="#" class="ellipsis-link"><%= image_tag('icons/ellipsis16.svg', class: 'small-icon') %></a>
                  <ul class="menu">
                    <li>
                      <%= link_to nil, title: %(New) do %>
                        <%= image_tag('icons/Plus16.svg', class: 'small-icon') %>
                        New
                      <% end %>
                    </li>
                    <li>
                      <%= link_to nil, title: %(Edit) do %>
                        <%= image_tag('icons/edit16.svg', class: 'small-icon') %>
                        Edit
                      <% end %>
                    </li>
                    <li>
                      <%= link_to nil, class: 'delete', data: {confirm: %(Are you sure you want to delete? This cannot be undone.)}, method: :delete, title: %(Delete) do %>
                        <%= image_tag('icons/trash16.svg', class: 'small-icon') %>
                        Delete
                      <% end %>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </h1>
          <div class="row products-product-box">
            <%= render product_category.products %>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
