<%= content_tag_for :tr, territory do %>
  <td class="admin-left-edit">
    <%= render partial: 'options_edit', locals: {object: territory, instance_name: territory.name} %>
  </td>
  <td>
    <%= link_to territory.name, [:admin, territory] %>
  </td>
  <td>
    <%= t "countries.#{territory.country}" %>
  </td>
  <td>
    <%= Office.find(territory.office).name %>
  </td>
  <td class="admin-right-delete">
    <%= render partial: 'options_delete', locals: {object: territory, instance_name: territory.name} %>
  </td>
<% end %>