<% content_for :title, "#{@territory.name}" %>

<div class="row columns">
	<h1><%= yield :title %></h1>
</div>

<div class="row columns" data-equalizer data-equalize-on="medium">
    <p><%= t "countries.#{@territory.country}" %><br/>
    <%= Office.find(@territory.office).name %></p>
    <% if @territory.dealer %>
    	<h3>Dealer for <%= @territory.name %></h3>
    	<% dealer = Dealer.find(@territory.dealer) %>
    	<%= dealer.name %>
    	<%= dealer.address %><br/>
	    <%= dealer.locality %><br/>
	    <%= dealer.region %><br/>
	    <%= dealer.postal_code %><br/>
	    <%= t "countries.#{dealer.country_id}" %><br/>
	    <%= dealer.phone %><br/>
	    <%= dealer.email %><br/>
	    <%= dealer.website %>
    <% end %>
    <%= link_to "back to admin territories page", admin_territories_path, class: "admin-back-link" %>
</div>
