<div class="admin-nav">
  <ul class="dropdown menu" data-dropdown-menu data-options="disableHover:true;clickOpen:true;">
    <li>
      <a href="#" class="ellipsis-link">
        <?xml version="1.0" encoding="utf-8"?>
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 30 6" style="enable-background:new 0 0 30 6;" xml:space="preserve" class="small-icon no-pad-marg">
        <style type="text/css">
          .st0{fill:#ffffff;}
        </style>
        <title>Group 23</title>
        <desc>Created with Sketch.</desc>
        <g id="Typography-_x26_-Styles">
          <g id="Typography-_x26_-Colors" transform="translate(-614.000000, -2514.000000)">
            <g id="Group-23" transform="translate(614.000000, 2514.000000)">
              <circle id="Oval-4" class="st0" cx="15" cy="3" r="3"/>
              <circle id="Oval-4-Copy" class="st0" cx="27" cy="3" r="3"/>
              <circle id="Oval-4-Copy-2" class="st0" cx="3" cy="3" r="3"/>
            </g>
          </g>
        </g>
        </svg>
      </a>
      <ul class="menu">
        <li>
          <%= link_to send("edit_admin_#{ActiveModel::Naming.param_key object.class}_path", object), class: 'admin-edit' do %>
            Edit
            <%= instance_name %>
          <% end %>
        </li>
        <li>
          <%= link_to send("admin_#{ActiveModel::Naming.param_key object.class}_path", object), class: 'delete admin-delete', data: {confirm: %(Are you sure you want to delete #{instance_name}? This cannot be undone.)}, method: :delete do %>
            Delete
             <%= instance_name %>
          <% end %>
        </li>
        <li>
          <%= link_to send("new_admin_#{ActiveModel::Naming.param_key object.class}_path"), class: 'admin-new' do %>
          Create a new
           <%= object.model_name.human.downcase %>
          <% end %>
        </li>
      </ul>
    </li>
  </ul>
</div>
