<% content_for :title, t('.title') %>

<div class="row columns">
	<h1><%= yield :title %></h1>
	<ul class="admin-list row small-up-1 medium-up-3 large-up-4">
		<%= content_tag :li, class: 'admin-list-header column column-block' do %>
			<div class="admin-sub-list-collection">
				<h2>Explore Solutions</h2>
				<ul>
					<%= content_tag :li do %>
						<%= link_to 'Product Types', admin_product_types_path %>
					<% end if policy(:product_type).manage? %>
					<%= content_tag :li do %>
						<%= link_to 'Product Categories', admin_product_categories_path %>
					<% end if policy(:product_category).manage? %>
					<%= content_tag :li do %>
						<%= link_to 'Products', admin_products_path %>
					<% end if policy(:product).manage? %>
					<%= content_tag :li do %>
						<%= link_to 'Features', admin_features_path %>
					<% end if policy(:feature).manage? %>
				</ul>
			</div>
		<% end if policy(:product_type).manage? || policy(:product_category).manage? || policy(:product).manage? %>

		<%= content_tag :li, class: 'admin-list-header column column-block' do %>
			<div class="admin-sub-list-collection">
				<h2>Get Support</h2>
				<ul>
					<%= content_tag :li do %>
						<%= link_to 'Download Types', admin_download_types_path %>
					<% end if policy(:download_type).manage? %>
					<%= content_tag :li do %>
						<%= link_to 'Downloads', admin_downloads_path %>
					<% end if policy(:download).manage? %>
					<%= content_tag :li do %>
						<%= link_to 'Knowledge Base Articles', admin_knowledge_base_articles_path %>
					<% end if policy(:knowledge_base_article).manage? %>
				</ul>
			</div>
		<% end if policy(:download_type).manage? || policy(:download).manage? || policy(:knowledge_base_article).manage? %>

		<%= content_tag :li, class: 'admin-list-header column column-block' do %>
			<div class="admin-sub-list-collection">
				<h2>Attend Training</h2>
				<ul>
					<%= content_tag :li do %>
						<%= link_to 'Training Course Types', admin_training_course_types_path %>
					<% end if policy(:training_course_type).manage? %>
					<%= content_tag :li do %>
						<%= link_to 'Training Courses', admin_training_courses_path %>
					<% end if policy(:training_course).manage? %>
					<%= content_tag :li do %>
						<%= link_to 'Training Events', admin_training_events_path %>
					<% end if policy(:training_event).manage? %>
				</ul>
			</div>
		<% end if policy(:training_course_type).manage? || policy(:training_course).manage? || policy(:training_event).manage? %>

		<%= content_tag :li, class: 'admin-list-header column column-block' do %>
			<div class="admin-sub-list-collection">
				<h2>Contact</h2>
				<ul>
					<%= content_tag :li do %>
						<%= link_to 'Dealers', admin_dealers_path %>
					<% end if policy(:dealer).manage? %>
					<%= content_tag :li do %>
						<%= link_to 'Offices', admin_offices_path %>
					<% end if policy(:office).manage? %>
					<%= content_tag :li do %>
						<%= link_to 'Territories', admin_territories_path %>
					<% end if policy(:territory).manage? %>
				</ul>
			</div>
		<% end if policy(:dealer).manage? || policy(:office).manage? || policy(:territory).manage? %>

		<%= content_tag :li, class: 'admin-list-header column column-block' do %>
			<div class="admin-sub-list-collection">
				<h2>About Us</h2>
				<ul>
					<%= content_tag :li do %>
						<h3>Marketing</h3>
					<% end if policy(:blog_post).manage? || policy(:case_study).manage? || policy(:media_download).manage? %>
					<%= content_tag :li do %>
						<%= link_to 'Blog Posts', admin_blog_posts_path %>
					<% end if policy(:blog_post).manage? %>
					<%= content_tag :li do %>
						<%= link_to 'Case Studies', admin_case_studies_path %>
					<% end if policy(:case_study).manage? %>
					<%= content_tag :li do %>
						<%= link_to 'Media Library', admin_media_downloads_path %>
					<% end if policy(:media_download).manage? %>
					<%= content_tag :li do %>
						<h3>Legal</h3>
					<% end if policy(:patent).manage? || policy(:return_material_authorization_policy_document).manage? || policy(:sales_terms_and_conditions_document).manage? || policy(:website_privacy_policy_document).manage? || policy(:website_terms_of_use_document).manage? %>
					<%= content_tag :li do %>
						<%= link_to 'Patents', admin_patents_path %>
					<% end if policy(:patent).manage? %>
					<%= content_tag :li do %>
						<%= link_to 'RMA Policies', admin_return_material_authorization_policy_documents_path %>
					<% end if policy(:return_material_authorization_policy_document).manage? %>
					<%= content_tag :li do %>
						<%= link_to 'Sales Terms & Conditions', admin_sales_terms_and_conditions_documents_path %>
					<% end if policy(:sales_terms_and_conditions_document).manage? %>
					<%= content_tag :li do %>
						<%= link_to 'Website Privacy Policy', admin_website_privacy_policy_documents_path %>
					<% end if policy(:website_privacy_policy_document).manage? %>
					<%= content_tag :li do %>
						<%= link_to 'Website Terms of Use', admin_website_terms_of_use_documents_path %>
					<% end if policy(:website_terms_of_use_document).manage? %>
				</ul>
			</div>
		<% end if policy(:blog_post).manage? || policy(:case_study).manage? || policy(:media_download).manage? || policy(:patent).manage? || policy(:return_material_authorization_policy_document).manage? || policy(:sales_terms_and_conditions_document).manage? || policy(:website_privacy_policy_document).manage? || policy(:website_terms_of_use_document).manage? %>

		<%= content_tag :li, class: 'admin-list-header column column-block' do %>
			<div class="admin-sub-list-collection">
				<h2>Website Admin</h2>
				<ul>
					<%= content_tag :li do %>
						<%= link_to 'Redirect Rules', admin_redirect_rules_path %>
					<% end if policy(:redirect_rule).manage? %>
					<%= content_tag :li do %>
						<%= link_to 'Users', admin_users_path %>
					<% end if policy(:user).manage? %>
					<%= content_tag :li do %>
						<%= link_to 'Roles', admin_roles_path %>
					<% end if policy(:role).manage? %>
				</ul>
			</div>
		<% end if policy(:user).manage? || policy(:role).manage? %>
	</ul>
</li>
