<%= form_for [:admin, @product], validate: true do |f| %>
  <div class="row">
    <div class="large-8 columns">
      <%= f.label :product_category_id %>
      <%= f.grouped_collection_select :product_category_id, ProductType.includes(:product_categories), :product_categories, :name, :id, :name %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :part_number %>
      <%= f.text_field :part_number %>
      <%= f.label :expired_on %>
      <%= f.date_field :expired_on, placeholder: 'yyyy-mm-dd' %>
      <%= f.label :summary %>
      <%= f.text_field :summary %>
      <%= f.label :description %>
      <%= f.text_area :description, rows: 10 %>
    </div>
    <div class="large-4 columns">
      <%= f.label :product_image %>
      <%= f.attachment_field :product_image, direct: true, presinged: true %>

      <% if @product.product_image && @product.product_image.exists? %>
        <div>
          <%= attachment_image_tag @product, :product_image %>
        </div>

        <div>
          <%= f.check_box :remove_product_image %>
          <%= f.label :remove_product_image %>
        </div>
      <% end %>

      <%= f.label :hero_image %>
      <%= f.attachment_field :hero_image, direct: true, presinged: true %>

      <% if @product.hero_image && @product.hero_image.exists? %>
        <div>
          <%= attachment_image_tag @product, :hero_image %>
        </div>

        <div>
          <%= f.check_box :remove_hero_image %>
          <%= f.label :remove_hero_image %>
        </div>
      <% end %>

      <%= f.label :youtube_video_id %>
      <%= f.text_field :youtube_video_id %>
    </div>
  </div>

  <%= f.submit nil, class: 'button radius' %>
<% end %>
