<% cache case_study do %>
  <%= content_tag_for :tr, case_study do %>
    <td>
      <%= case_study.title %>
    </td>
    <td>
      <%= l case_study.posted_on.to_date, format: :short %>
    </td>
    <td>
      <%= l case_study.updated_at.to_date, format: :short %>
    </td>
    <td style="text-align: right;">
      <%= render partial: 'options_menu', locals: {object: case_study, instance_name: case_study.title} %>
    </td>
  <% end %>
<% end %>
