<%= content_for :title, t('.title') %>

<div class="page-sub-navigation show-for-large" data-sticky-container>
  <div class="sticky" data-sticky data-anchor="legal" data-active-class>
    <div class="row">
      <div class="columns text-right">
        <nav data-magellan>
          <ul class="horizontal menu">
            <li><%= link_to yield(:title), '#about' %></li>
            <li><%= link_to t('.news'), '#news' %></li>
            <li><%= link_to t('.downloads'), '#downloads' %></li>
            <li><%= link_to t('.careers'), '#careers' %></li>
            <li><%= link_to t('.legal'), '#aboutlegal' %></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="hide-for-large">
  <div class="page-sub-bottom-nav">
    <nav data-magellan>
      <ul class="menu icon-top expanded">
        <li>
          <%= link_to '#news' do %>
            <%= image_tag "icons/news.svg", class: 'small-icon' %>
            <span><%= t('.news') %></span>
          <% end %>
        </li>
        <li>
          <%= link_to '#about' do %>
            <%= image_tag "icons/world.svg", class: 'small-icon' %>
            <span><%= t('.about') %></span>
          <% end %>
        </li>
        <li>
          <%= link_to '#downloads' do %>
            <%= image_tag "icons/cloud.svg", class: 'small-icon' %>
            <span>Downloads</span>
          <% end %>
        </li>
        <li>
          <%= link_to '#careers' do %>
            <%= image_tag "icons/careers.svg", class: 'small-icon' %>
            <span><%= t('.careers') %></span>
          <% end %>
        </li>
        <li>
          <%= link_to '#legal' do %>
            <%= image_tag "icons/legal.svg", class: 'small-icon' %>
            <span><%= t('.legal') %></span>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="row">
  <div class="medium-10 medium-centered large-12 columns about-us-sections">

  <section class="row" id="about" data-magellan-target="about">
    <div class="small-12 columns">
      <h1><%= yield :title %></h1>
    </div>
    <div class="large-7 columns">
      <div class="flex-video">
        <iframe src="https://www.youtube.com/embed/OE9_JYiA7zc" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="small-10 small-pull-1 small-push-1 large-push-0 large-pull-0 large-5 columns">
      <p>Wavetronix creates innovative tools that make the world’s roads safer and
        more efficient. Our advanced radar offers unmatched performance and is
        changing the ITS industry by raising the standard for excellence in vehicle
        detection at intersections and roadways around the globe.</p>

      <p>Our core purpose is to enable rewarding careers and foster personal
        development while engineering the best traffic detection technologies possible.
        Since 2000, and continuing today, we fulfil our purpose by putting people
        first and focusing on personal growth. We lead with insight and innovation;
        seek out, embrace and solve difficult challenges; and strive to change the way
        our customers approach their problems. Because of this, we continue to enjoy
        strong growth, investing in long-term ideas to create even more opportunities.</p>

      <p><%= link_to 'Contact us', contact_path %> for more information about our
        products or to schedule a free demonstration. If you share our values and are
        interested in pursuing a career at Wavetronix, learn more about opportunities
        <%= link_to 'here', jobs_path %>.</p>
    </div>
  </section>

  <section id="news" data-magellan-target="news">
    <div class="row columns">
      <h1><%= t '.news' %></h1>
    </div>
    <div class="row news-articles-container">
      <div class="news-article">
        <%= link_to @featured_article do %>
          <%= attachment_image_tag @featured_article, :hero_image, :fill, 816, 459, fallback: 'http://placehold.it/816x459' %>
          <h2><%= @featured_article.title %></h2>
          <p><%= @featured_article.subtitle %></p>
        <% end if @featured_article %>
      </div>
    </div>

    <div class="row">
      <div class="large-7 columns news-article-blurbs">

        <%= render partial: 'recent_article', collection: @recent_articles %>

        <%= content_tag :div, class: 'read-more' do %>
          <%= link_to news_path, class: "goto-new" do %>
            <%= t(".more_stories") %>
          <% end %>
        <% end if Article.count > 4 %>
      </div>
      <div class="large-5 columns news-article-list show-for-large">
        <ul class="tabs" data-tabs id="news-article-tabs">
          <li class="tabs-title is-active"><a href="#news-toparticles" aria-selected="true"><h5><%= t('.top_articles') %></h5></a></li>
          <li class="tabs-title"><a href="#news-topics"><h5><%= t('.topics') %></h5></a></li>
          <li class="tabs-title"><a href="#news-regions"><h5><%= t('.regions') %></h5></a></li>
        </ul>
        <div class="tabs-content" data-tabs-content="news-article-tabs">
          <div class="tabs-panel is-active news-toparticles" id="news-toparticles">
            <ol>
              <%= render partial: 'top_article', collection: @top_articles %>
            </ol>
          </div>
          <div class="tabs-panel" id="news-topics">
            <ol>
              <%= render partial: 'top_tag', collection: @top_tags %>
            </ol>
          </div>
          <div class="tabs-panel" id="news-regions">
            <ol>
              <%= render partial: 'top_tag', collection: @top_regions %>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  </div>
</div>
<section class="about-media-container" id="downloads" data-magellan-target="downloads">
  <%= image_tag 'icons/download-icon.svg', class: 'large-icon' %>
  <h1>Downloads</h1>    
      <p>Browse and download from a selection of Wavetronix product images</p>    
  <%= link_to t('.downloads'), media_downloads_path, class: 'button rounded large' %>
</section>

<section class="about-careers-container" id="careers" data-magellan-target="careers">
  <%= image_tag 'icons/careers.svg', class: 'large-icon' %>
  <h1><%= t(".careers") %></h1>
  <%= link_to t('.find_career'), 'http://wavetronix.recruiterbox.com', class: 'button rounded large', target: '_blank' %>
</section>

<section class="about-legal-container" id="aboutlegal" data-magellan-target="legal">
  <%= image_tag 'icons/legal.svg', class: 'large-icon' %>
  <h1><%= t(".legal") %></h1>
  <!-- <button class="button rounded large"><%= t('.view_legal') %></button> -->
  <%= link_to t('.view_legal'), legal_path, class: 'button rounded large' %>
</section>

<section class="about-filler-container">
</section>
