<%= content_for :title, t('.title') %>

<div class="page-sub-navigation show-for-large" data-sticky-container>
  <div class="sticky" data-sticky data-anchor="legal" data-active-class>
    <div class="row">
      <div class="columns text-right">
        <nav data-magellan>
          <ul class="horizontal menu">
            <li><%= link_to yield(:title), '#about' %></li>
            <li><%= link_to t('.news'), '#news' %></li>
            <li><%= link_to t('.downloads'), '#downloads' %></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="hide-for-large">
  <div class="page-sub-bottom-nav">
    <nav data-magellan>
      <ul class="menu icon-top expanded">
        <li>
          <%= link_to '#about' do %>
          <%= image_tag "icons/world.svg", class: 'small-icon' %>
          <span><%= t('.about') %></span>
          <% end %>
        </li>
        <li>
          <%= link_to '#news' do %>
            <%= image_tag "icons/news.svg", class: 'small-icon' %>
            <span><%= t('.news') %></span>
          <% end %>
        </li>
        <li>
          <%= link_to '#downloads' do %>
            <%= image_tag "icons/cloud.svg", class: 'small-icon' %>
            <span><%= t('.downloads') %></span>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="row">
  <div class="medium-10 medium-centered large-12 columns about-us-sections">

  <section class="row" id="about" data-magellan-target="about">
    <div class="small-12 columns">
      <h1><%= yield :title %></h1>
    </div>
    <div class="large-7 columns">
      <%= image_tag 'about/AboutUsFrance.jpg' %>
    </div>
    <div class="small-10 small-pull-1 small-push-1 large-push-0 large-pull-0 large-5 columns">
      <p>Wavetronix offre des solutions innovantes pour rendre les routes plus
        sures et le trafic plus fluide.  Nos radars de haute technologie
        bénéficient de performances uniques et s’installent hors-chaussée
        révolutionnant ainsi la manière de détecter les véhicules sur les grands
        axes routiers à multivoies ou au niveau des intersections.</p>

      <p>L’un de nos principaux objectifs est d’assurer des carrières
        gratifiantes à nos collaborateurs ainsi que leur bien-être tout en
        concevant les meilleurs systèmes de détection de trafic possibles.</p>

      <p>Depuis notre date de création en 2000 et jusqu’à ce jour, nous
        accomplissons cet objectif de donner la priorité à nos collaborateurs et
        nous concentrer sur leur croissance personnelle et professionnelle.
        Par l’innovation, nous répondons à certaines des difficultés rencontrées
        sur le marché des STI et nous luttons pour modifier l’approche de nos
        clients sur le thème de la détection des véhicules. Depuis sa création,
        notre société bénéficie d’une forte croissance permettant sans cesse de
        se réinventer et d’investir dans de nouvelles solutions pour l’avenir.</p>

      <p><%= link_to 'Contactez-nous', contact_path %> pour obtenir de plus amples
        informations sur nos solutions ou pour programmer une démonstration de
        nos produits.</p>
    </div>
  </section>

  <section id="news" data-magellan-target="news">
    <div class="row columns">
      <h1><%= t '.news' %></h1>
    </div>
    <div class="row news-articles-container">
      <div class="news-article">
        <%= link_to "https://www.wavetronix.com/fr-FR/blog_posts/398-vinci-autoroutes-un-pas-d-avance" do %>
          <img class="attachment blog_post hero_image" src="//d1upf2v1quehpe.cloudfront.net/attachments/45176d369287e846fd888e953f6c08013a29aeab/store/fill/744/419/1496fef5a3a49ed99a6dc2b87d4c2bbf57245b401672733e229ff7ba0616/OneStepAhead_jpg" alt="article" />
          <h2>VINCI Autoroutes – Un pas d’avance</h2>
          <p>Pour détecter le trafic sur son réseau autoroutier, VINCI Autoroutes Réseau Cofiroute, avait, dans le passé, l’habitude de déployer des Stations de Recueil de Données (SRDT) basées sur une technologie intrusive dite « à boucles inductives ». Le réseau en comptait environ 150.</p>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="large-7 columns news-article-blurbs">

        <div class="row news-links">
          <%= link_to "https://www.wavetronix.com/fr-FR/blog_posts/395" do %>
            <div class="medium-6 large-4 columns">
            <img class="attachment blog_post hero_image" src="//d1upf2v1quehpe.cloudfront.net/attachments/66dd331970741b82793a43f2ea0e9b059d85a642/store/fill/744/419/1bb1993847a78c9ee5e7db31e6d1a855acec1ea0f1cbcebbdc65c59c4d9b/Station-de-comptage-routiere-radar-multivoies-mobile-Alyce-Sofreco.JPG" alt="article" />
            </div>
            <div class="medium-6 large-8 columns">
              <h2>Le SmartSensor HD gagne en « mobilité » avec ALYCE SOFRECO</h2>
              <p>La société ALYCE SOFRECO vient de choisir le capteur radar SmartSensor HD pour réaliser ses études de trafic temporaires sur les grands axes routiers.</p>
            </div>
          <% end %>
        </div>
        <div class="row news-links">
          <%= link_to "https://www.wavetronix.com/fr-FR/blog_posts/399" do %>
            <div class="medium-6 large-4 columns">
            <img class="attachment blog_post hero_image" src="//d1upf2v1quehpe.cloudfront.net/attachments/927ce818119f7c6c56297409b8150bb1e6975075/store/fill/744/419/eba011b796ed0ced18f6c5468ad22ff1da0adc92e2c7f9937c33f2006865/DirMassifCentral_website.jpg" alt="article" />
            </div>
            <div class="medium-6 large-8 columns">
              <h2>DIR MASSIF CENTRAL : Comment prendre de la hauteur en 4 étapes</h2>
              <p>Fin 2013, c’est au tour de la DIR Massif Central de s’intéresser à la nouvelle technologie de détection par radar multivoie et de lancer le projet d’installation de ses premières stations SmartSensor HD dans le cadre d’un marché public d’entretien spécialisé des équipements de comptage. </p>
            </div>
          <% end %>
        </div>
        <div class="row news-links">
          <%= link_to "https://www.wavetronix.com/fr-FR/blog_posts/402" do %>
            <div class="medium-6 large-4 columns">
            <img class="attachment blog_post hero_image" src="//d1upf2v1quehpe.cloudfront.net/attachments/379bea6948bf4cab39096a0f489afa09ce3c885a/store/fill/744/419/518f745dfda78b772d5483254cd209b48ec7b075c9a589f2053dc320b7da/IMG_1415%281%29.jpg" alt="article" />
            </div>
            <div class="medium-6 large-8 columns">
              <h2>Formation Certifiante Wavetronix pour une relation « Gagnant – Gagnant »</h2>
              <p>WAVETRONIX dispose d’un programme de formation complet sur la technologie radar FMCW.</p>
            </div>
          <% end %>
        </div>
        <div class="row news-links">
          <%= link_to "https://www.wavetronix.com/fr-FR/blog_posts/396" do %>
            <div class="medium-6 large-4 columns">
            <img class="attachment blog_post hero_image" src="//d1upf2v1quehpe.cloudfront.net/attachments/72d8d41fd1f09b53c3010fa4a588f61b5cd75dd7/store/fill/744/419/43925e6114ed53d719f1cd86c56beb64d5cb2907e4afb3c36c103c7fba62/aprr15532-min_1.jpg" alt="article" />
            </div>
            <div class="medium-6 large-8 columns">
              <h2>APRR se tourne vers la détection hors-chaussée</h2>
              <p>L'une des plus grandes sociétés européennes d'exploitation d'autoroutes a choisi la station de comptage radar SmartSensor HD plutôt que les boucles inductives pour mesurer le trafic sur son réseau. </p>
            </div>
          <% end %>
        </div>
        <div class="row news-links">
          <%= link_to "https://www.wavetronix.com/fr-FR/blog_posts/403" do %>
            <div class="medium-6 large-4 columns">
            <img class="attachment blog_post hero_image" src="//d1upf2v1quehpe.cloudfront.net/attachments/1d75019914c4239d9824870bfcfa2c407571db99/store/fill/744/419/5b7eee7d4955eab640c5bb356d5448ed34d5fd4ef61cab2d540121beb8b9/Fiche+de+Mise+en+Service+SmartSensor+HD_Page_1.jpg" alt="article" />
            </div>
            <div class="medium-6 large-8 columns">
              <h2>La Fiche de Mise en Service d'une Station de Comptage Radar SmartSensor HD</h2>
              <p>Lors d’une nouvelle installation ou d’une reconfiguration de station de comptage routière SmartSensor HD, une fiche de mise en service est établie par le technicien certifié WAVETRONIX</p>
            </div>
          <% end %>
        </div>
        <div class="row news-links">
          <%= link_to "https://www.wavetronix.com/fr-FR/blog_posts/401" do %>
            <div class="medium-6 large-4 columns">
            <img class="attachment blog_post hero_image" src="//d1upf2v1quehpe.cloudfront.net/attachments/fa2d2df3a26b0618a9bc5da22bc5a1a427191d8a/store/fill/744/419/8c12252659abeba9c132aeb0a2d9893e72b7974852fb0a4c7f05def9b6a7/Diploma1.jpg" alt="article" />
            </div>
            <div class="medium-6 large-8 columns">
              <h2>Comment obtenir la Certification Wavetronix?</h2>
              <p>Actuellement, deux options permettent d’obtenir la certification WAVETRONIX.</p>
            </div>
          <% end %>
        </div>
        <div class="row news-links">
          <%= link_to "https://www.wavetronix.com/fr-FR/blog_posts/400" do %>
            <div class="medium-6 large-4 columns">
            <img class="attachment blog_post hero_image" src="//d1upf2v1quehpe.cloudfront.net/attachments/c965eef54d7a2ed147695183eebddb4b69808e3b/store/fill/744/419/a4948936890dc5374c5273bae6316cf83746e6f0e3cfd71fc69b7db66b6c/IMG_1250.JPG" alt="article" />
            </div>
            <div class="medium-6 large-8 columns">
              <h2>SANEF & la régulation dynamique des vitesses sur l’autoroute A13/h2>
              <p>Les Gestionnaires de la route se trouvent de plus en plus confrontés à l’augmentation du trafic routier sur leur réseau. </p>
            </div>
          <% end %>
        </div>
        <div class="row news-links">
          <%= link_to "https://www.wavetronix.com/fr-FR/blog_posts/397" do %>
            <div class="medium-6 large-4 columns">
            <img class="attachment blog_post hero_image" src="//d1upf2v1quehpe.cloudfront.net/attachments/5faebe673fac82836eb16e9dd1bc22d83260341a/store/fill/744/419/2b0740cc1231411e373cd82df6b450726a2ead7d952e85d1f6e65459d9b1/Station-de-comptage-radar-multivoie-routi%C3%A8re-ATMB.JPG" alt="article" />
            </div>
            <div class="medium-6 large-8 columns">
              <h2>Mutualisation d’infrastructures : Expérimentation inédite en France</h2>
              <p>Des concessions autoroutières Françaises ouvrent de nouvelles pistes de réflexion sur la mutualisation d’infrastructures existantes pour installer des stations de comptage radar hors-sol.</p>
            </div>
          <% end %>
        </div>


      </div>
    </div>
  </section>
  </div>
</div>
<section class="about-media-container" id="downloads" data-magellan-target="downloads">
  <%= image_tag 'icons/download-icon.svg', class: 'large-icon' %>
  <h1><%= t('.downloads') %></h1>
      <h4>Parcourez et téléchargez des images de nos produits</h4>
  <%= link_to t('.browse_library'), media_downloads_path, class: 'button rounded' %>
</section>

<section class="about-filler-container">
</section>
