<%= content_for :title, t(".title") %>

<div class="row columns" id="dealers" data-magellan-target="dealers">
	<div class="dealers-map">
		<iframe
			frameborder="0"
			style="border: 0; width: 100%; height: 300px;"
			src="https://www.google.com/maps/embed/v1/place?q=45%20All%C3%A9e%20Th%C3%A9odore%20Monod%2C%2064210%20Bidart%2C%20France&maptype=satellite&key=<%= Rails.application.secrets.google_api_key %>"
			allowfullscreen>
		</iframe>
	</div>

	<section class="row columns" id="offices" data-magellan-target="offices">
		<h1>
			<%= t(".wavetronix_offices") %>
		</h1>

		<div class="row office-row">
			<div class="large-3 medium-6 columns end vcard">
				<ul class="office-information" itemscope itemtype="http://schema.org/Organization">
					<li>
						<h3 itemprop="name">Agence France</h3>
					</li>

					<li>
						<%= image_tag('icons/map_location.svg', class: "li-icon small-icon") %>
						<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
							<div itemprop="streetAddress">
								<p>
									45 Allée Théodore Monod
								</p>
							</div>

							<div itemprop="addressLocality">Technopole Izarbel</div>
							<div itemprop="addressRegion">Bidarte</div>
							<div itemprop="postalCode">64210</div>

							<div itemprop="addressCountry" itemscope itemtype="http://schema.org/Country">
								<div itemprop="name">France</div>
							</div>
						</div>
					</li>

					<li>
						<%= image_tag('icons/phone.svg', class: "li-icon small-icon") %>
						<a itemprop="telephone" href="tel:05 59 43 85 10">05 59 43 85 10</a>
					</li>

					<li>
						<%= image_tag('icons/email.svg', class: "li-icon small-icon") %>
						<a itemprop="email" href="mailto:eusales@wavetronix.com?subject=Wavetronix%20Product%20Iquiry">eusales@wavetronix.com</a>
					</li>
				</ul>
			</div>

			<div class="large-3 medium-6 columns end contact-social">
				<h3>Départment commercial</h3>
				<ul class="office-information" itemprop="employee" itemscope itemtype="http://schema.org/Person">
					<li>
						<%= image_tag 'contact/bruno_claverie.png', class: 'employee-portrait', itemprop: 'image' %>
					</li>
					<li>
						<%= image_tag('icons/person.svg', class: 'li-icon small-icon') %>
						<strong itamprop="name">Bruno Claverie</strong>
					</li>
					<li itemprop="jobTitle">Directeur de succursale</li>
					<li>
						<%= image_tag('icons/phone.svg', class: 'li-icon small-icon') %>
						<%= link_to "06 87 95 24 71", "tel:0687952471", itemprop: "telephone" %>
					</li>
					<li>
						<%= image_tag('icons/email.svg', class: 'li-icon small-icon') %>
						<%= mail_to "bruno.claverie@wavetronix.com", nil, itemprop: "email" %>
					</li>
				</ul>

				<hr>

				<ul class="office-information" itemprop="employee" itemscope itemtype="http://schema.org/Person">
					<li>
						<%= image_tag 'contact/nicolas_moroy.png', class: 'employee-portrait', itemprop: 'image' %>
					</li>
					<li>
						<%= image_tag('icons/person.svg', class: 'li-icon small-icon') %>
						<strong itamprop="name">Nicolas Moroy</strong>
					</li>
					<li itemprop="jobTitle">Ingenieur d’affaires</li>
					<li>
						<%= image_tag('icons/phone.svg', class: 'li-icon small-icon') %>
						<%= link_to "06 85 14 70 93", "tel:0685147093", itemprop: "telephone" %>
					</li>
					<li>
						<%= image_tag('icons/email.svg', class: 'li-icon small-icon') %>
						<%= mail_to "nicolas.moroy@wavetronix.com", nil, itemprop: "email" %>
					</li>
				</ul>
			</div>

			<div class="large-3 medium-6 columns end">
				<h3>Support technique</h3>

				<ul class="office-information" itemprop="employee" itemscope itemtype="http://schema.org/Person">
					<li>
						<%= image_tag 'contact/anthony_razafin.jpg', class: 'employee-portrait', itemprop: 'image' %>
					</li>
					<li>
						<%= image_tag('icons/person.svg', class: 'li-icon small-icon') %>
						<strong itamprop="name">Anthony Razafin</strong>
					</li>
					<li itemprop="jobTitle">Ingenieur d’application</li>
					<!-- <li>
						<%= image_tag('icons/phone.svg', class: "li-icon small-icon") %>
						<%= link_to "06 85 14 70 93", "tel:0685147093", itemprop: "telephone" %>
					</li>
					<li>
						<%= image_tag('icons/email.svg', class: 'li-icon small-icon') %>
						<%= mail_to "nicolas.moroy@wavetronix.com", nil, itemprop: "email" %>
					</li> -->
				</ul>
			</div>
		</div>

		<%= render partial: 'sales_region', collection: @sales_regions %>

		<div class="row">
			<div class="large-7 columns end">
				<h3><%= t(".website_feedback") %></h3>
				<p>
					Donnez-nous votre avis sur ou signaler les problèmes que vous
					rencontrez avec notre site Web en envoyant un courrier électronique à
					<%= mail_to 'webmaster@wavetronix.com', nil,  subject: 'Website Feedback' %>.
					Veuillez noter que nous ne pouvons pas répondre à des questions
					générales et / ou des demandes d'information via cette adresse de
					courrier électronique. Cette adresse email ne vous aidera pas à
					recevoir le support client.
				</p>
			</div>
		</div>
	</section>
</div>
