<%= content_for :title, t(".title") %>

<div class="page-sub-navigation show-for-large" data-sticky-container>
	<div class="sticky" data-sticky data-anchor="training" data-active-class>
		<div class="row">
			<div class="columns text-right">
				<nav data-magellan data-bar-offset="70">
					<ul class="horizontal menu">
						<li><a href="#dealers"><%= t(".locate_dealer") %></a></li>
						<li><a href="#offices"><%= t(".wavetronix_offices") %></a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>

<div class="hide-for-large">
	<div class="page-sub-bottom-nav">
		<nav data-magellan data-bar-offset="50">
			<ul class="menu icon-top expanded">
			 	<li>
          <%= link_to '#dealers' do %>
            <%= image_tag "icons/map.svg", class: 'small-icon' %>
            <span><%= t(".locate_dealer") %></span>
          <% end %>
        </li>
        <li>
          <%= link_to '#offices' do %>
            <%= image_tag "icons/map_location.svg", class: 'small-icon' %>
            <span><%= t(".wavetronix_offices") %></span>
          <% end %>
        </li>
			</ul>
		</nav>
	</div>
</div>

<div class="row columns" id="dealers" data-magellan-target="dealers">
	<h1>
		<%= t('.locate_dealer') %>
	</h1>

	<div class="dealers-map">
		<%= image_tag('contact/dealermap.png', class: "map") %>

		<div class="site-search-bar input-group">
			<%= form_tag contact_path, method: :get do %>
		  	<div class="input-group-button">
	        <?xml version="1.0" encoding="utf-8"?>
	        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 17">
	          <rect x="12.2" y="10" transform="translate(1 1)matrix(0.7071 -0.7071 0.7071 0.7071 -5.3589 12.9375)" class="st0" width="1.5" height="5.8"/><path class="st0" d="M7.3 14.3c-3.9 0-7-3.1-7-7 0-3.9 3.1-7 7-7 3.9 0 7 3.1 7 7C14.3 11.1 11.1 14.3 7.3 14.3zM7.3 1.8c-3 0-5.5 2.5-5.5 5.5 0 3 2.5 5.5 5.5 5.5 3 0 5.5-2.5 5.5-5.5C12.8 4.2 10.3 1.8 7.3 1.8z"/>
	        </svg>
	      </div>
			  <%= text_field_tag :query, params[:query], class: "input-search-bar", placeholder: t('.search') %>
			<% end %>
		</div>

		<% if params[:query].present? %>
			<div class="contact-search-results">
				<div class="row columns text-right">
					<%= link_to "close x", contact_path %>
				</div>

				<% if @search_results.size > 0 %>
					<% @search_results.each do |search_result| %>
						<section class="row office-row">
							<%= render partial: search_result.class.to_s.underscore, object: search_result %>
						</section>
					<% end %>
				<% else %>
						<h4>No results were found for your search. Please contact our Corporate Headquarters for more information.</h4>
				<% end %>
			</div>
		<% end %>
	</div>

	<section class="row columns" id="offices" data-magellan-target="offices">
		<h1>
			<%= t(".wavetronix_offices") %>
		</h1>

		<div class="row office-row">
			<div class="large-3 medium-6 columns end vcard">
				<ul class="office-information adr" itemscope itemtype="http://schema.org/Organization">
					<li>
						<h3 itemprop="name">Wavetronix Headquarters</h3>
					</li>
					<li>
						<%= image_tag('icons/map_location.svg', class: "small-icon") %>
						<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
							<div itemprop="streetAddress"><p>78 E 1700 S</p>
							</div>
							<div>
								<span itemprop="addressLocality">Provo</span>,
								<span itemprop="addressRegion">Utah</span>
								<span itemprop="postalCode">84606</span>
							</div>
							<div itemprop="addressCountry" itemscope itemtype="http://schema.org/Country">
								<div itemprop="name">United States</div>
							</div>
						</div>
					</li>
					<li>
						<%= image_tag('icons/phone.svg', class: "small-icon") %>
						<a itemprop="telephone" href="tel:(801) 734-7200">(801) 734-7200</a>
					</li>
					<li>
						<%= image_tag('icons/fax_print.svg', class: "small-icon") %>
						<a itemprop="telephone" href="tel:(801) 734-7201">(801) 734-7201</a>
					</li>
					<li>
						<%= image_tag('icons/email.svg', class: "small-icon") %>
						<a itemprop="email" href="mailto:sales@wavetronix.com?subject=Wavetronix%20Product%20Iquiry">sales@wavetronix.com</a>
					</li>
				</ul>
			</div>

			<div class="large-3 medium-6 columns end contact-social">
				<h3>Social Media</h3>

        <%= link_to "https://www.linkedin.com/company/53678", :target=> "_blank" do %>
          <%=image_tag('icons/LinkedIn.svg', class: "icon") %>
        <% end %>

        <%= link_to "https://twitter.com/wavetronix_llc", :target=> "_blank" do %>
          <%=image_tag('icons/Twitter.svg', class: "icon") %>
        <% end %>

        <%= link_to "https://www.facebook.com/wavetronix/", :target=> "_blank" do %>
          <%=image_tag('icons/Facebook.svg', class: "icon") %>
        <% end %>

        <%= link_to "https://plus.google.com/b/107158630240614790564/?pageId=107158630240614790564", :target=> "_blank" do %>
          <%=image_tag('icons/Google.svg', class: "icon") %>
        <% end %>
			</div>

			<div class="large-3 medium-6 columns end">
				<h3>Public Relations</h3>
				<p>For news and other press related questions, email info@wavetronix.com.</p>
			</div>
		</div>

		<%= render partial: 'sales_region', collection: @sales_regions %>

		<div class="row">
			<div class="large-7 columns end">
				<h3><%= t(".website_feedback") %></h3>
				<p>Give us your feedback on or report any problems you experience with our website by sending an email to webmaster@wavetronix.com. Please note that we cannot respond to general questions and/or information requests through this email address. This email address will not help you recieve customer support. </p>
			</div>
		</div>
	</section>
</div>
