<%= content_for :title, t(".title") %>

<div class="page-sub-navigation show-for-large" data-sticky-container>
	<div class="sticky" data-sticky data-anchor="training" data-active-class>
		<div class="row">
			<div class="columns text-right">
				<nav data-magellan data-bar-offset="70">
					<ul class="horizontal menu">
						<li><a href="#dealers"><%= t(".locate_dealer") %></a></li>
						<li><a href="#offices"><%= t(".wavetronix_offices") %></a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>

<div class="hide-for-large">
	<div class="page-sub-bottom-nav">
		<nav data-magellan data-bar-offset="50">
			<ul class="menu icon-top expanded">
			 	<li>
          <%= link_to '#dealers' do %>
            <%= image_tag "icons/map.svg", class: 'small-icon' %>
            <span><%= t(".locate_dealer") %></span>
          <% end %>
        </li>
        <li>
          <%= link_to '#offices' do %>
            <%= image_tag "icons/map_location.svg", class: 'small-icon' %>
            <span><%= t(".wavetronix_offices") %></span>
          <% end %>
        </li>
			</ul>
		</nav>
	</div>
</div>



<section class="row" id="dealers" data-magellan-target="dealers">
	<div class="columns">
		<h1>
			<%= t(".locate_dealer") %>
				<div class="admin-nav">
	        <ul class="dropdown menu" data-dropdown-menu data-options="disableHover:true;clickOpen:true;">
	          <li>
	            <a href="#" class="ellipsis-link"><%= image_tag('icons/ellipsis.svg', class: 'small-icon') %></a>
	            <ul class="menu">
	              <li>
	                <%= link_to nil, title: %(New), class: "admin-new" do %>
	                  New
	                <% end %>
	              </li>
	              <li>
	                <%= link_to nil, title: %(Edit), class: "admin-edit" do %>
	                  Edit
	                <% end %>
	              </li>
	              <li>
	                <%= link_to nil, class: 'delete admin-delete', data: {confirm: %(Are you sure you want to delete? This cannot be undone.)}, method: :delete, title: %(Delete) do %>
	                  Delete
	                <% end %>
	              </li>
	            </ul>
	          </li>
	        </ul>
	      </div>
			</h1>
		<div class="dealers-map">
			<%= image_tag('contact/dealermap.png', class: "map") %>
			<div class="site-search-bar input-group">
		      <div class="input-group-button">
		        <?xml version="1.0" encoding="utf-8"?>
		        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 17">
		          <rect x="12.2" y="10" transform="translate(1 1)matrix(0.7071 -0.7071 0.7071 0.7071 -5.3589 12.9375)" class="st0" width="1.5" height="5.8"/><path class="st0" d="M7.3 14.3c-3.9 0-7-3.1-7-7 0-3.9 3.1-7 7-7 3.9 0 7 3.1 7 7C14.3 11.1 11.1 14.3 7.3 14.3zM7.3 1.8c-3 0-5.5 2.5-5.5 5.5 0 3 2.5 5.5 5.5 5.5 3 0 5.5-2.5 5.5-5.5C12.8 4.2 10.3 1.8 7.3 1.8z"/>
		        </svg>
		      </div>
		      <input class="input-search-bar" type="text" placeholder="<%= t('.search') %>" />
		    </div>
		  </div>
		</div>
	</path>
</section>

<section class="row" id="offices" data-magellan-target="offices">
	<div class="columns">
		<h1>
			<%= t(".wavetronix_offices") %>
		</h1>
		<div class="row office-row">
			<div class="large-3 medium-6 columns end vcard">
				<div class="office-information adr">
					<h3>Wavetronix Headquarters</h3>
					<p><%= image_tag('icons/map_location.svg', class: "small-icon") %>78 E 1700 S</p>
					<p>Provo, UT</p>
					<p>84606</p>
					<p>United States</p>
					<p><%= image_tag('icons/phone.svg', class: "small-icon") %>(801) 734-7200</p>
					<p><%= image_tag('icons/fax_print.svg', class: "small-icon") %>+1 (801) 734-7201</p>
				</div>
			</div>
			<div class="large-3 medium-6 columns end">
				<h3>Social Media</h3>
        <%= link_to nil do %>
          <%=image_tag('icons/LinkedIn.svg', class: "icon") %>
        <% end %>
        <%= link_to nil do %>
          <%=image_tag('icons/Twitter.svg', class: "icon") %>
        <% end %>
        <%= link_to nil do %>
          <%=image_tag('icons/Facebook.svg', class: "icon") %>
        <% end %>
        <%= link_to nil do %>
          <%=image_tag('icons/Google.svg', class: "icon") %>
        <% end %>
        <%= link_to nil do %>
          <%=image_tag('icons/email.svg', class: "icon") %>
        <% end %>
			</div>
			<div class="large-3 medium-6 columns end">
				<h3>Public Relations</h3>
				<p>For news and other press related questions, email info@wavetronix.com</p>
			</div>
		</div>
		<div class="row office-row">
			<div class="columns">
				<h4>Asia/Pacific</h4>
			</div>
			<div class="large-3 medium-6 columns end vcard">
				<div class="office-information adr">
					<h3>Wavetronix China</h3>
					<p><%= image_tag('icons/map_location.svg', class: "small-icon") %>Room 1906 Hui Xin</p>
					<p>Apartment</p>
					<p>Bei Chen E. Road</p>
					<p>Chao Yang District</p>
					<p>Beijing</p>
					<p>100101</p>
					<p>China</p>
					<p><%= image_tag('icons/phone.svg', class: "small-icon") %>(86) 10-6494-3046</p>
					<p><%= image_tag('icons/email.svg', class: "small-icon") %>chinasales@wavetronix.com</p>
				</div>
			</div>
			<div class="large-3 medium-6 columns end vcard">
				<div class="office-information adr">
					<h3>Wavetronix Singapore</h3>
					<p><%= image_tag('icons/map_location.svg', class: "small-icon") %>Paya Lebar Square 60 Paya</p>
					<p>Lebar Road Unit #09-38</p>
					<p>Singapore</p>
					<p>409051</p>
					<p>Singapore</p>
					<p><%= image_tag('icons/phone.svg', class: "small-icon") %>+1 (801) 734-7200</p>
					<p><%= image_tag('icons/email.svg', class: "small-icon") %>apsales@wavetronix.com</p>
				</div>
			</div>

		</div>
		<div class="row office-row">
			<div class="columns">
				<h4>Europe</h4>
			</div>
			<div class="large-3 medium-6 columns end vcard">
				<div class="office-information adr">
					<h3>Wavetronix France</h3>
					<p><%= image_tag('icons/map_location.svg', class: "small-icon") %>ESTIA 2 Allee Theodore</p>
					<p>Monod Technopole</p>
					<p>Izarbel</p>
					<p>Bidart</p>
					<p>64210</p>
					<p>France</p>
					<p><%= image_tag('icons/phone.svg', class: "small-icon") %>+33 (0)5 59 43 85 10</p>
					<p><%= image_tag('icons/email.svg', class: "small-icon") %>eusales@wavetronix.com</p>
				</div>
			</div>
			<div class="large-3 medium-6 columns end vcard">
				<div class="office-information adr">
					<h3>Wavetronix UK</h3>
					<p><%= image_tag('icons/map_location.svg', class: "small-icon") %>Suite 4B Gatwick House</p>
					<p>Peeks Brook Lane</p>
					<p>Horley</p>
					<p>Surrey</p>
					<p>RH6 9ST</p>
					<p>United Kingdom</p>
					<p><%= image_tag('icons/phone.svg', class: "small-icon") %>+44 (0) 1293 775 487</p>
					<p><%= image_tag('icons/email.svg', class: "small-icon") %>uksales@wavetronix.com</p>
				</div>
			</div>
		</div>

		<div class="row office-row">
			<div class="columns">
				<h4>North America</h4>
			</div>
			<div class="large-3 medium-6 columns end vcard">
				<div class="office-information adr">
					<h3>Wavetronix Florida</h3>
					<p><%= image_tag('icons/map_location.svg', class: "small-icon") %>3000 Dovera Drive</p>
					<p>Suite 100</p>
					<p>Oviedo</p>
					<p>Florida</p>
					<p>32765</p>
					<p>United States</p>
					<p><%= image_tag('icons/phone.svg', class: "small-icon") %>(407) 366-5144</p>
					<p><%= image_tag('icons/email.svg', class: "small-icon") %>nasales@wavetronix.com</p>
				</div>
			</div>
			<div class="large-3 medium-6 columns end vcard">
				<div class="office-information adr">
					<h3>Wavetronix Georgia</h3>
					<p><%= image_tag('icons/map_location.svg', class: "small-icon") %>1395 South Marietta Parkway</p>
					<p>Suite 208</p>
					<p>Building 400</p>
					<p>Marietta</p>
					<p>Georgia</p>
					<p>30067</p>
					<p>United States</p>
				</div>
			</div>
			<div class="large-3 medium-6 columns end vcard">
				<div class="office-information adr">
					<h3>Wavetronix Headquarters</h3>
					<p><%= image_tag('icons/map_location.svg', class: "small-icon") %>78 E 1700 S</p>
					<p>Provo, UT</p>
					<p>84606</p>
					<p>United States</p>
					<p><%= image_tag('icons/phone.svg', class: "small-icon") %>(801) 734-7200</p>
					<p><%= image_tag('icons/fax_print.svg', class: "small-icon") %>+1 (801) 734-7201</p>
				</div>
			</div>
			<div class="large-3 medium-6 columns end vcard">
				<div class="office-information adr">
					<h3>Wavetronix Tennessee</h3>
					<p><%= image_tag('icons/map_location.svg', class: "small-icon") %>1295 Old Hickory Blvd</p>
					<p>Nashville</p>
					<p>Tennessee</p>
					<p>37207</p>
					<p>United States</p>
					<p><%= image_tag('icons/phone.svg', class: "small-icon") %>(615) 410-0737</p>
					<p><%= image_tag('icons/email.svg', class: "small-icon") %>TNsales@wavetronix.com</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="large-7 columns end">
				<h3><%= t(".website_feedback") %></h3>
				<p>Give us your feedback on or report any problems you experience with our website by sending an email to webmaster@wavetronix.com. Please note that we cannot respond to general questions and/or information requests through this email address. This email address will not help you recieve customer support. </p>
			</div>
		</div>
	</div>
</section>

