<% cache product_category do %>
  <%= content_tag_for :tr, product_category do %>
    <td class="handle admin-table-move">
      <%= image_tag 'icons/ellipsisup-small.svg', class: 'small-icon' %>
    </td>
    <td class="admin-left-edit">
      <%= render partial: 'options_edit', locals: {object: product_category, instance_name: product_category.name} %>
    </td>
    <td class="admin-table-icon">
      <%= attachment_image_tag product_category, :icon_image, fallback: 'http://placehold.it/20/eaa800/ffffff', style: 'height: 1em;' %>
    </td>
    <td>
      <%= product_category.name %>
    </td>
    <td>
      <%= product_category.product_type.name if product_category.product_type.present? %>
    </td>
    <td class="admin-right-delete">
      <%= render partial: 'options_delete', locals: {object: product_category, instance_name: product_category.name} %>
    </td>
  <% end %>
<% end %>
