  <%= content_tag_for :tr, patent do %>
    <td class="admin-left-edit">
      <%= render partial: 'options_edit', locals: {object: patent, instance_name: patent.title} %>
    </td>
    <td>
      <%= number_with_delimiter patent.number %>
    </td>
    <td>
      <%= patent.title %>
    </td>
    <td class="admin-right-delete">
      <%= render partial: 'options_delete', locals: {object: patent, instance_name: patent.title} %>
    </td>
  <% end %>
