<div class="row columns">
  <h1>
    <%= @website_terms_of_use_document.title %>
    <%= render partial: 'options_menu', locals: {object: @website_terms_of_use_document, instance_name: @website_terms_of_use_document.title} %>
  </h1>
  <section>
    <p>(Effective <%= l @website_terms_of_use_document.effective_on, format: :long %>)</p>
    <%= content_tag :p do %>
      <%= image_tag 'icons/document.svg', style: 'height: 1.5em;' %>
      <%= link_to t('.download'), @website_terms_of_use_document.attachment_url(public: true) %>
    <% end if @website_terms_of_use_document.attachment %>
    <%= raw markdown(@website_terms_of_use_document.body) %>
  </section>
  <section>
    <p>
      <%= link_to "Archive", website_terms_of_use_documents_path, class: "goto-new" %>
    </p>
  </section>
</div>
