<% cache website_terms_of_use_document do %>
  <%= content_tag_for :tr, website_terms_of_use_document do %>
    <td>
      <%= link_to website_terms_of_use_document.title, website_terms_of_use_document %>
    </td>
    <td>
      <%= l website_terms_of_use_document.effective_on.to_date, format: :long %>
    </td>
    <td>
      <%= l website_terms_of_use_document.updated_at.to_date, format: :long %>
    </td>
    <td>
      <div class="admin-nav">
        <ul class="dropdown menu" data-dropdown-menu data-options="disableHover:true;clickOpen:true;">
          <li>
            <a href="#" class="ellipsis-link"><%= image_tag('icons/ellipsis.svg', class: 'small-icon') %></a>
            <ul class="menu">
              <li>
                <%= link_to edit_website_terms_of_use_document_path(website_terms_of_use_document), class: 'admin-edit', title: %(Edit "#{website_terms_of_use_document.title}") do %>
                  Edit
                <% end %>
              </li>
              <li>
                <%= link_to website_terms_of_use_document, class: 'delete admin-delete', data: { confirm: %(Are you sure you want to delete "#{website_terms_of_use_document.title}"? This cannot be undone.) }, method: :delete, title: %(Delete "#{website_terms_of_use_document.title}") do %>
                  Delete
                <% end %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </td>
  <% end %>
<% end %>
