<div class="row columns">
  <h1>
    <%= @website_privacy_policy_document.title %>
    <%= render partial: 'options_menu', locals: {object: @website_privacy_policy_document, instance_name: @website_privacy_policy_document.title} %>
  </h1>
  <section>
    <p>(Effective <%= l @website_privacy_policy_document.effective_on, format: :long %>)</p>
    <%= raw markdown(@website_privacy_policy_document.body) %>
  </section>
  <section>
    <p>
      <%= link_to "Archive", website_privacy_policy_documents_path, class: "goto-new" %>
    </p>
  </section>
</div>
