<%= form_for @training_event_request, validate: true do |f| %>
  <div class="large-6 columns">
    <h1>Host a Training Event</h1>
    <h4>Host Information</h4>
    <p>Please provide us with the following information to rquest hosting an event</p>

    <%= f.label :company_name %>
    <%= f.text_field :company_name %>
    <%= f.label :full_name, 'Your First and Last Name' %>
    <%= f.text_field :full_name %>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <%= f.label :phone %>
    <%= f.text_field :phone %>
    <%= f.label :address, 'Street Address' %>
    <%= f.text_field :address %>
    <div class="row">
      <div class="large-7 columns">
        <%= f.label :locality %>
        <%= f.text_field :locality %>
      </div>
      <div class="large-5 columns">
        <%= f.label :postal_code %>
        <%= f.text_field :postal_code %>
      </div>
    </div>
    <div class="row">
      <div class="large-7 columns">
        <%= f.label :region %>
        <%= f.text_field :region %>
      </div>
      <div class="large-5 columns">
        <%= f.label :country_id, class:"select-label" %>
        <%= f.select :country_id, COUNTRIES.invert.sort %>
      </div>
    </div>
    <div class="row">
      <div class="large-6 columns">
        <%= f.label :started_at, 'Start Date and Time' %>
        <%= f.datetime_field :started_at, placeholder: 'yyyy-mm-dd' %>
      </div>
      <div class="large-6 columns">
        <%= f.label :ended_at, 'End Date and Time' %>
        <%= f.datetime_field :ended_at, placeholder: 'yyyy-mm-dd' %>
      </div>
    </div>
    <%= f.label :capacity, 'Number of Attendees' %>
    <%= f.number_field :capacity %>
    <%= f.submit 'Request', class: 'button radius expanded request-button' %>
  </div>

  <div class="large-6 columns">
    <div class="request-courses">
      <h4>Request Courses</h4>
    </div>
    <div class="courses-selected">
      <p>Click + on the course description below to add it to the list</p>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns courses-list">
      <h1>Training Courses</h1>
      <div class="row">
        <div class="medium-5 columns">
          <div class="support-search-dropdown">
            <section class="products-language-header support-dropdown">
              <select class="products-language-dropdown course_types_list" name="smartsensor">
                <option value="course-type-all">All Courses</option>
                <% @training_course_types.each do |course| %>
                  <option value="course-type-<%= course.id %>"><%= course.name %></option>
                <% end %>						
              </select>
            </section>
          </div>
        </div>
      </div>
      <div class="row show-course-list">
		    <%= f.collection_check_boxes :training_course_ids, @training_courses, :id, :title do |training_course| %>

            <div class="enrollment-course-card" id="course-type-<%= training_course.object.training_course_type_id %>">
              <div class="horizontal menu">
                <h3 class="training-certified"><%= training_course.object.title %></h3>
                <div class="course-card-left training-hours"><%= training_course.object.duration %> hours</div>
                <div class="course-card-right">
                  <% if training_course.object.prerequisite_ids != [] %>
                    Prerequisites Required
                  <% end %>
                </div>
                <p><%= training_course.object.summary %></p>                
                <div class="learn-bottom">
                  <a class="hide-me-on-dropdown expand-container course-learn-link" data-toggle="hdconfig-dropdown1<%=training_course.object.id%>"><%= t(".learn_more") %></a>
                  <div class="dropdown-pane course-dropdown-container" id="hdconfig-dropdown1<%=training_course.object.id%>" data-dropdown data-auto-focus="true">
                    <p><%= training_course.object.description.html_safe %></p>
                    <ul class="prereq-list">
                      <% if training_course.object.prerequisites && training_course.object.prerequisites.exists? %>
                        <li>Prerequisites:</li>
                      <% end %>
                      <% i = 0 %>
                      <% training_course.object.prerequisites.each do |prereq| %>
                        <li id="prereq-<%= i += 1%>"><%= prereq.title %></li>
                      <% end %>
                    </ul>
                    <a data-toggle="hdconfig-dropdown1<%=training_course.object.id%>" class="close-container"><%= t(".hide") %></a>
                  </div>

                  <div class="course-prereq">
                    <span class="enrollment_added" hidden>Added</span>
                    <%= training_course.check_box :class => 'class_checkbox', :id => training_course.object.id %><label class="course-check" for="<%= training_course.object.id %>"></label>
                  </div>        
              </div>
            </div>
          </div>
        <% end %>
	    </div>
    </div>
  </div>
<% end %>
