<li><%= link_to 'Blog Posts', blog_posts_path %></li>
<li><%= link_to 'Case Studies', case_studies_path %></li>
<li><%= link_to 'Download Types', download_types_path %></li>
<li><%= link_to 'Downloads', downloads_path %></li>
<li><%= link_to 'Features', nil %></li>
<li><%= link_to 'Patents', patents_path %></li>
<li><%= link_to 'Product Categories', product_categories_path %></li>
<li><%= link_to 'Product Types', product_types_path %></li>
<li><%= link_to 'Products', list_products_path %></li>
<li><%= link_to 'RMA Policy Documents', return_material_authorization_policy_documents_path %></li>
<li><%= link_to 'Roles', nil %></li>
<li><%= link_to 'Sales Terms & Conditions Documents', sales_terms_and_conditions_documents_path %></li>
<li><%= link_to 'Tags', nil %></li>
<li><%= link_to 'Traffic Applications', nil %></li>
<li><%= link_to 'Users', users_path %></li>
<li><%= link_to 'Website Privacy Policy Documents', website_privacy_policy_documents_path %></li>
<li><%= link_to 'Website Terms of Use Documents', website_terms_of_use_documents_path %></li>
