<li><%= link_to 'Manage Blog Posts', blog_posts_path %></li>
<li><%= link_to 'Manage Case Studies', case_studies_path %></li>
<li><%= link_to 'Manage Download Types', download_types_path %></li>
<li><%= link_to 'Manage Downloads', downloads_path %></li>
<li><%= link_to 'Manage Features', nil %></li>
<li><%= link_to 'Manage Patents', patents_path %></li>
<li><%= link_to 'Manage Product Categories', product_categories_path %></li>
<li><%= link_to 'Manage Product Types', product_types_path %></li>
<li><%= link_to 'Manage Products', list_products_path %></li>
<li><%= link_to 'Manage RMA Policy Documents', return_material_authorization_policy_documents_path %></li>
<li><%= link_to 'Manage Roles', nil %></li>
<li><%= link_to 'Manage Sales Terms & Conditions Documents', sales_terms_and_conditions_documents_path %></li>
<li><%= link_to 'Manage Tags', nil %></li>
<li><%= link_to 'Manage Traffic Applications', nil %></li>
<li><%= link_to 'Manage Users', users_path %></li>
<li><%= link_to 'Manage Website Privacy Policy Documents', website_privacy_policy_documents_path %></li>
<li><%= link_to 'Manage Website Terms of Use Documents', website_terms_of_use_documents_path %></li>
