<div class="admin-nav">
  <ul class="dropdown menu" data-dropdown-menu data-options="disableHover:true;clickOpen:true;">
    <li>
      <a href="#" class="ellipsis-link"><%= image_tag('icons/ellipsis.svg', class: 'small-icon') %></a>
      <ul class="menu">
        <li>
          <%= link_to send("edit_#{ActiveModel::Naming.param_key object.class}_path", object), class: 'admin-edit' do %>
            Edit
            <%= instance_name %>
          <% end %>
        </li>
        <li>
          <%= link_to send("#{ActiveModel::Naming.param_key object.class}_path", object), class: 'delete admin-delete', data: {confirm: %(Are you sure you want to delete #{instance_name}? This cannot be undone.)}, method: :delete do %>
            Delete
             <%= instance_name %>
          <% end %>
        </li>
        <li>
          <%= link_to send("new_#{ActiveModel::Naming.param_key object.class}_path"), class: 'admin-new' do %>
          Create a new
           <%= object.model_name.human.downcase %>
          <% end %>
        </li>
      </ul>
    </li>
  </ul>
</div>
