<%= form_for @demo_request do |f| %>
  <%= content_tag :div, class: 'alert-box radius alert' do %>
    <strong><%= pluralize @demo_request.errors.count, 'error' %> kept this form from submitting:</strong>
    <ul>
      <% @demo_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end if @demo_request.errors.any? %>
  <%= f.text_field :name %>
  <%= f.label :name %>
  <%= f.email_field :email %>
  <%= f.label :email %>
  <%= f.select :country, COUNTRIES.invert.sort %>
  <%= f.label :country, class:"select-label"%>
  <%= f.submit 'Request a demo', class: 'button radius request-button' %>
<% end %>
