<%= form_for @product, validate: true do |f| %>
  <%= f.label :product_category_id %>
  <%= f.grouped_collection_select :product_category_id, ProductType.includes(:product_categories), :product_categories, :name, :id, :name %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :part_number %>
  <%= f.text_field :part_number %>
  <%= f.label :expired_on %>
  <%= f.date_field :expired_on, placeholder: 'yyyy-mm-dd' %>
  <%= f.label :summary %>
  <%= f.text_field :summary %>
  <%= f.label :description %>
  <%= f.text_area :description, rows: 10 %>
  <%= f.label :youtube_video_id %>
  <%= f.text_field :youtube_video_id %>

  <div class="row">
    <div class="medium-6 columns">
      <%= f.label :product_image %>
      <%= f.attachment_field :product_image, direct: true, presinged: true %>
    </div>
    <div class="medium-6 columns">
      <%= attachment_image_tag @product, :product_image if @product.product_image && @product.product_image.exists? %>
    </div>
  </div>

  <div class="row">
    <div class="medium-6 columns">
      <%= f.label :hero_image %>
      <%= f.attachment_field :hero_image, direct: true, presinged: true %>
    </div>
    <div class="medium-6 columns">
      <%= attachment_image_tag @product, :hero_image if @product.hero_image && @product.hero_image.exists? %>
    </div>
  </div>

  <%= f.submit nil, class: 'button radius' %>
<% end %>
