<% cache list_item do %>
  <tr>
    <td>
      <%= link_to product_path(list_item), class: 'delete', data: {confirm: %(Are you sure you want to delete "#{list_item.name}"? This cannot be undone.)}, method: :delete, title: %(Delete "#{list_item.name}") do %>
        <%= image_tag('icons/trash.svg') %>
        Delete
      <% end %>
    </td>
    <td>
      <%= list_item.name %>
    </td>
    <td>
      <%= list_item.part_number %>
    </td>
    <td>
      <%= link_to edit_product_path(list_item), title: %(Edit "#{list_item.name}") do %>
        <%= image_tag('icons/pencil.svg') %>
        Edit
      <% end %>
    </td>
  </tr>
<% end %>
