<div class="medium-6 end columns">
  <div class="small-3 columns">
    <%= attachment_image_tag product, :product_image, fallback: 'http://placehold.it/50' %>
  </div>
  <div class="small-9 columns">
    <h2>
      <%= product.name %>
    </h2>
    <%= content_tag :p, product.summary %>
    <% if product.name == "SmartSensor Rail" %>
      <%= link_to "Learn more at Island Radar", "http://www.islandradar.com/", class: "goto-new", :target => "_blank" %>
    <% else %>
      <%= link_to "Learn More", product_path(product), class: "goto-new" %>
    <% end %>
  </div>
</div>
