<%= link_to product_path(product) do %>
  <div class="medium-6 end columns">
    <div class="small-3 columns">
      <%= attachment_image_tag product, :product_image, fallback: 'http://placehold.it/50' %>
    </div>

    <div class="small-9 columns">
      <h2><%= product.name %></h2>
      <%= content_tag :p, product.summary %>
      <%= content_tag :span, "Learn More", class: "goto-new" %>
    </div>
  </div>
<% end %>
