<% content_for :title, 'Products' %>

<div class="products-page">
  <%= render @product_categories %>

  <div class="product-alternate-sides-sections">
  <% @product_types.each do |product_type| %>
    <section>
      <div class="product-alternate-text-container">
        <div class="product-alternate-header">
          <%= image_tag product_type.icon_url(public: true), class: "icon" if product_type.icon %>
          <h1><%= product_type.name %></h1>
        </div>

        <% product_type.product_categories.each do |product_category| %>
          <div class="row products-alternate-text-box">
            <div class="small-2 columns">
                <%= image_tag("http://placehold.it/54x41") %>
              </div>
              <div class="small-10 columns">
                <%= content_tag :h2, product_category.name %>
                <p><%= product_category.description %></p>
                <p><%= link_to "Learn More", product_category_path(product_category), class: "goto-new" %></p>
              </div>
          </div>
        <% end %>
      </div>

      <div class="product-alternate-image-container show-for-large" style="background-image: url('<%= product_type.billboard_url(public: true) %>'); background-size: cover;">
      </div>
    </section>
  <% end %>
</div>
