<% content_for :title, 'Products' %>

<div class="products-page">
  <%= render @product_categories %>

  <div class="product-alternate-sides-sections">
    <section>
      <div class="product-alternate-text-container">
        <div class="product-alternate-header">
          <%= image_tag "icons/cabinet.svg", class: "icon" %>
          <h1>Cabinet Integration</h1>
        </div>
        <!-- only if there is no content
        <%= link_to nil, title: %(New) do %>
          <%= image_tag('icons/Plus.svg', class: 'icon') %>
        <% end %>

        else -->
        <div class="row products-alternate-text-box">
          <div class="small-2 columns">
              <%= image_tag("products/Surge_Protection.png") %>
            </div>
            <div class="small-10 columns">
              <h2>Surge Protection</h2>
              <p>People’s minds, particularly the minds of children, are like wells—deep wells full of sweet water.<br/>
              <%= link_to "Learn More", nil, class: "goto-new" %></p>
            </div>
        </div>
        <div class="row products-alternate-text-box">
          <div class="small-2 columns">
              <%= image_tag("products/Surge_Protection.png") %>
            </div>
            <div class="small-10 columns">
              <h2>Surge Protection</h2>
              <p>People’s minds, particularly the minds of children, are like wells—deep wells full of sweet water.<br/>
              <%= link_to "Learn More", nil, class: "goto-new" %></p>
            </div>
        </div>
        <div class="row products-alternate-text-box">
          <div class="small-2 columns">
              <%= image_tag("products/Surge_Protection.png") %>
            </div>
            <div class="small-10 columns">
              <h2>Surge Protection</h2>
              <p>People’s minds, particularly the minds of children, are like wells—deep wells full of sweet water. <br/>
              <%= link_to "Learn More", nil, class: "goto-new" %></p>
            </div>
        </div>
      </div>
      <div class="product-alternate-image-container show-for-large">
      </div>
    </section>

    <section>
      <div class="product-alternate-text-container">
        <div class="product-alternate-header">
          <%= image_tag "icons/monitor.svg", class: "icon" %>
          <h1>Data Management</h1>
        </div>
        <!-- only if there is no content
        <%= link_to nil, title: %(New) do %>
          <%= image_tag('icons/Plus.svg', class: 'icon') %>
        <% end %>

        else -->
        <div class="row products-alternate-text-box">
          <div class="small-2 columns">
              <%= image_tag("products/Surge_Protection.png") %>
            </div>
            <div class="small-10 columns">
              <h2>Surge Protection</h2>
              <p>People’s minds, particularly the minds of children, are like wells—deep wells full of sweet water. <br/>
              <%= link_to "Learn More", nil, class: "goto-new" %></p>
            </div>
        </div>
        <div class="row products-alternate-text-box">
          <div class="small-2 columns">
              <%= image_tag("products/Surge_Protection.png") %>
            </div>
            <div class="small-10 columns">
              <h2>Surge Protection</h2>
              <p>People’s minds, particularly the minds of children, are like wells—deep wells full of sweet water. <br/>
              <%= link_to "Learn More", nil, class: "goto-new" %></p>
            </div>
        </div>
        <div class="row products-alternate-text-box">
          <div class="small-2 columns">
              <%= image_tag("products/Surge_Protection.png") %>
            </div>
            <div class="small-10 columns">
              <h2>Surge Protection</h2>
              <p>People’s minds, particularly the minds of children, are like wells—deep wells full of sweet water. <br/>
              <%= link_to "Learn More", nil, class: "goto-new" %></p>
            </div>
        </div>
      </div>
      <div class="product-alternate-image-container show-for-large">
      </div>
    </section>
  </div>

</div>
