<%= content_for :title, t(".title") %>

<div class="product-specific-navigation show-for-large" data-sticky-container>
	<div class="sticky" data-sticky data-active-class>
		<div class="row">
			<div class="large-7 large-offset-5 columns text-right">
				<nav data-magellan data-bar-offset="70">
					<ul class="horizontal menu">
						<li><a href="#product"><%= t(".product") %></a></li>
						<li><a href="#knowledge"><%= t(".knowledge_base") %></a></li>
						<li><a href="#return"><%= t(".returns") %></a></li>
						<li><a href="#app"><%= t(".app") %></a></li>
						<li>
							<%= link_to t(".contact_dealer"), contact_path, class: "button small" %>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>

<div class="hide-for-large">
	<div class="product-specific-top-nav">
		<div class="row">
			<div class="columns text-right">
				<button class="button small" type="button" data-toggle="demo-dropdown-mobile">Contact Your Dealer</button>
			</div>
		</div>
	</div>
	<div class="product-specific-bottom-nav">
		<nav data-magellan data-bar-offset="70">
			<ul class="menu icon-top expanded">
			  <li><a href="#product"><%= image_tag("icons/features.svg") %> <span><%= t(".product") %></span></a></li>
			  <li><a href="#knowledge"><%= image_tag("icons/features.svg") %> <span><%= t(".knowledge_base") %></span></a></li>
			  <li><a href="#return"><%= image_tag("icons/courses.svg") %> <span><%= t(".returns") %></span></a></li>
			  <li><a href="#app"><%= image_tag("icons/courses.svg") %> <span><%= t(".app") %></span></a></li>
			</ul>
		</nav>
	</div>
</div>

<div class="row columns">
	<h1>
		<%= yield :title %>
	</h1>
</div>

<div class="row">
	<div class="search-dropdown search-bar knowledge-base-search">
		<%= form_tag knowledge_base_articles_path, method: :get do %>
			<div class="site-search-bar input-group">
				<div class="input-group-button">
					<?xml version="1.0" encoding="utf-8"?>
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 17">
						<rect x="12.2" y="10" transform="translate(1 1)matrix(0.7071 -0.7071 0.7071 0.7071 -5.3589 12.9375)" class="st0" width="1.5" height="5.8"/><path class="st0" d="M7.3 14.3c-3.9 0-7-3.1-7-7 0-3.9 3.1-7 7-7 3.9 0 7 3.1 7 7C14.3 11.1 11.1 14.3 7.3 14.3zM7.3 1.8c-3 0-5.5 2.5-5.5 5.5 0 3 2.5 5.5 5.5 5.5 3 0 5.5-2.5 5.5-5.5C12.8 4.2 10.3 1.8 7.3 1.8z"/>
					</svg>
				</div>
				<%= text_field_tag :query, params[:query], class: 'input-search-bar', placeholder: "Search support" %>
			</div>
		<% end %>
	</div>
</div>

<div class="row support-instructions">
	<p class="text-center">Use the links below to view documents and software downloads related to our products.</p>
</div>

<div class="row medium-up-3" id="product">
	<%= render partial: 'product_type', collection: @product_types %>
</div>

<div class="row support-knowledge-container" id="knowledge">
	<div class="large-8 columns">
		<h2><%= t(".top_faqs") %></h2>

		<!-- Accordian style products > faq_topics > frequently_asked_questions.question > frequently_asked_questions.answer -->
		<ul class="accordion" data-accordion data-allow-all-closed="true">
			<% @products.each do |product| %>
			  <li class="accordion-item" data-accordion-item>
			    <!-- Accordion tab title -->
			    <a href="#" class="accordion-title"><%= product.name %></a>

			    <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
			    <div class="accordion-content" data-tab-content>
						<dl>
				      <% product.frequently_asked_questions.each do |faq| %>
								<dt><%= faq.question %></dt>
								<dd><%= faq.answer %></dd>
							<% end %>
						</dl>
			    </div>
			  </li>
			<% end %>
		  <!-- ... -->
		</ul>

	</div>
	<div class="large-4 columns support-knowledge-base-search">
  	<h4><%= t(".question") %></h4>
  	<h4><%= t(".search_knowledge_base") %></h4>
		<div class="row">
			<div class="medium-10 medium-centered columns">
				<%= link_to t(".knowledge_base"), knowledge_base_articles_path, class:"button rounded expanded" %>
			</div>
		</div>
	</div>
</div>

<div class="support-contact-container" id="contact">
	<div class="row">
		<%= image_tag 'icons/person.svg', class: "large-icon" %>
		<h1><%= t(".contact_us") %></h1>
		<h4><%= t(".need_help") %></h4>
		<%= link_to t(".contact_dealer"), contact_path, class: 'button rounded' %>
	</div>
</div>

<div class="support-returns-container" id="return">
	<div class="row">
		<%= image_tag 'icons/box_closed.svg', class: "large-icon" %>
		<h1><%= t(".returns") %></h1>
		<h4><%= t(".tried_troubleshooting") %></h4>
		<%= link_to t(".return_policy"), return_material_authorization_policy_document_path(@return_material_authorization_policy_document), class: 'button rounded' %>
	</div>
</div>

<div class="support-app-container" id="app">
	<div class="row">
		<%= image_tag 'icons/tablet_mobile.svg', class: "large-icon" %>
		<h1><%= t(".mobile_app") %></h1>
		<%= link_to 'Visit App Support', marketing_app_path, class: 'button rounded' %>
	</div>
</div>
