<%= form_for [:admin,@blog_post], validate: true do |f| %>
  <div class="row">
    <div class="medium-9 columns">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="medium-3 columns">
      <%= f.label :posted_on %>
      <%= f.date_field :posted_on, placeholder: 'yyyy-mm-dd' %>
    </div>
  </div>
  <%= f.label :author %>
  <%= f.text_field :author %>
  <div class="row">
    <%= content_tag :div, class: 'medium-8 columns' do %>
      <%= f.label :current_hero_image %>
      <%= attachment_image_tag @blog_post, :hero_image %>
    <% end if @blog_post.hero_image && @blog_post.hero_image.exists? %>
    <div class="medium-4 columns">
      <%= f.label :hero_image %>
      <%= f.attachment_field :hero_image, direct: true, presigned: true %>
    </div>
  </div>
  <%= f.label :subtitle %>
  <%= f.text_field :subtitle %>
  <%= f.label :body %>
  <%= f.cktext_area :body, rows: 10 %>
  <%= f.label :tag_list, 'Tags (separated by commas)' %>
  <%= f.text_field :tag_list, value: f.object.tag_list.to_s %>
  <%= f.submit nil, class: 'button radius' %>
<% end %>
