<%= form_for [:admin, @blog_post], validate: true do |form| %>
  <%= label_tag :translation_locale %>
  <%= select_tag :translation_locale, options_for_select(I18n.available_locales.map { |l| ["#{humanize_locale(l)}#{' ✓' if @blog_post.title_backend.locales.include? l}", l.to_s] }, I18n.locale.to_s), id: 'translation_locale' %>

  <div class="row">
    <div class="medium-9 columns">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>
    <div class="medium-3 columns">
      <%= form.label :posted_on %>
      <%= form.date_field :posted_on, placeholder: 'yyyy-mm-dd' %>
    </div>
  </div>
  <%= form.label :author %>
  <%= form.text_field :author %>
  <div class="row">
    <%= content_tag :div, class: 'medium-8 columns' do %>
      <%= form.label :current_hero_image %>
      <%= attachment_image_tag @blog_post, :hero_image %>
    <% end if @blog_post.hero_image && @blog_post.hero_image.exists? %>
    <div class="medium-4 columns">
      <%= form.label :hero_image %>
      <%= form.attachment_field :hero_image, direct: true, presigned: true %>
    </div>
  </div>
  <%= form.label :subtitle %>
  <%= form.text_area :subtitle, rows: 3 %>
  <%= form.label :body %>
  <%= form.cktext_area :body, rows: 30 %>
  <div class="ui-widget">
    <%=form.label :region_list, "Regions (one of: #{@regions.join(', ')})" %>
    <%= form.text_field :region_list, value: form.object.region_list.to_s, :id => 'auto_complete_regions' %>
  </div>
  <div class="ui-widget">
    <%=form.label :tag_list, "Tags (separated by commas)" %>
    <%= form.text_field :tag_list, value: form.object.tag_list.to_s, :id => 'auto_complete_tags' %>
  </div>
  <%= form.button nil, class: 'button radius' %>
<% end %>

<%= content_tag :div, id: "complete_region_list", data: {regions: @regions} do %><% end %>
<%= content_tag :div, id: "complete_tag_list", data: {tags: @tags} do %><% end %>
