<!DOCTYPE html>
<html lang="<%= locale %>">
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-M6T575K');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= yield(:meta) %>

    <title><%= full_title yield(:title) %></title>

    <%= stylesheet_link_tag 'application' %>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag Ckeditor.cdn_url %>
    <script src="https://use.typekit.net/zjr7bnt.js"></script>
    <script>try { Typekit.load({ async: true }); }catch(e){}</script>
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M6T575K"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <%= render 'site_header' %>
        <div class="off-canvas-content" data-off-canvas-content>
          <%= render 'flash' %>
          <%= yield %>
          <%= render 'site_footer' %>
        </div> <!-- close off-canvas-content -->
      </div> <!-- close off-canvas inner wrapper -->
    </div> <!-- close off-canvas-wrapper -->
    <%= javascript_include_tag 'application' %>
    <%# render 'analytics' if Rails.env.production? %>
  </body>
</html>
