<!DOCTYPE html>
<html lang="<%= locale %>">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= yield(:meta) %>

    <title><%= full_title yield(:title) %></title>

    <%= stylesheet_link_tag 'application' %>
    <%= csrf_meta_tags %>

    <!-- owl carousel -->

    <%= javascript_include_tag Ckeditor.cdn_url %>
    <script src="https://use.typekit.net/zjr7bnt.js"></script>
    <script>try { Typekit.load({ async: true }); }catch(e){}</script>
  </head>

  <body>
    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <%= render 'site_header' %>
        <div class="off-canvas-content" data-off-canvas-content>
          <%= render 'flash' %>
          <%= yield %>
          <%= render 'site_footer' %>
        </div> <!-- close off-canvas-content -->
      </div> <!-- close off-canvas inner wrapper -->
    </div> <!-- close off-canvas-wrapper -->
    <%= javascript_include_tag 'application' %>
    <%= render 'analytics' if Rails.env.production? %>
  </body>
</html>
